Repository ScratchAddons/ScratchAddons, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Hans5958, @WorldLanguages, @apple502j

fix scratch class error
  addons/project-title-generator/userscript.js
Owners: none

Format code
  addons/project-title-generator/userscript.js
Owners: none

remove exact count
  addons/exact-count/addon.json
  addons/exact-count/forum.js
  addons/exact-count/studio.js
  addons/exact-count/user.js
Owners: none

remove harmful and dead exact-count features
  addons/exact-count/addon.json
  addons/exact-count/forum.js
  addons/exact-count/studio.js
Owners: none

remove some exact-count features (#7617)
  addons/exact-count/addon.json
  addons/exact-count/forum.js
  addons/exact-count/studio.js
Owners: none

fix some stuff
  addons/project-folders/project.js
  addons/project-folders/userscript.js
  addons/project-folders/userstyle.css
Owners: none

exact-count: better exact count for studios
  addons-l10n/en/exact-count.json
  addons/exact-count/addon.json
  addons/exact-count/studio.css
  addons/exact-count/studio.js
Owners: none

Add setting transition code for new workspace-dots addon (#7573)
  background/get-addon-settings.js
Owners: @WorldLanguages, @apple502j

Update addon credits to new username
  addons/fps/addon.json
Owners: none

Make FPS hide when in small player mode
  addons/fps/userscript.js
Owners: none

Add a delay to allow FPS to be measured properly
  addons/fps/userscript.js
Owners: none

Add issue suggestions
  addons-l10n/en/fps.json
  addons/fps/userscript.js
  addons/fps/userstyle.css
Owners: none

Add FPS addon.
  addons-l10n/en/fps.json
  addons/addons.json
  addons/fps/addon.json
  addons/fps/userscript.js
  addons/fps/userstyle.css
Owners: @WorldLanguages

Format code
  addons-l10n/en/fps.json
  addons/fps/addon.json
  addons/fps/userscript.js
  addons/fps/userstyle.css
Owners: none

Format code
  addons/fps/userscript.js
Owners: none

Improve progress-bar compatibility with faster-project-loading (#7169)
  addons/faster-project-loading/module.js
  addons/faster-project-loading/userscript.js
  addons/progress-bar/userscript.js
Owners: none

`mediarecorder` options UI changes (#7586)
  addons-l10n/en/mediarecorder.json
  addons/mediarecorder/style.css
  addons/mediarecorder/userscript.js
Owners: none

hold on ill brb to finish this.
  background/get-addon-settings.js
Owners: @WorldLanguages, @apple502j

Format code
  background/get-addon-settings.js
Owners: @WorldLanguages, @apple502j

stop.
  background/get-addon-settings.js
Owners: @WorldLanguages, @apple502j

Format code
  background/get-addon-settings.js
Owners: @WorldLanguages, @apple502j

Support grey outlines and always customising insertion marker opacity options (and fix defaults)
  addons/editor-theme3/addon.json
  addons/editor-theme3/theme3.js
Owners: none

Jazza credit
  addons/editor-theme3/addon.json
Owners: none

add top svg done
  addons/find-references/blockly/Utils.js
  addons/find-references/userscript.js
  addons/find-references/userstyle.css
Owners: none

split files, create contexis
  background/get-addon-settings.js
  background/imports/addon-transition.js
Owners: @WorldLanguages, @apple502j

better code
  background/get-addon-settings.js
  background/imports/addon-transition.js
Owners: @WorldLanguages, @apple502j

Update clipboardWrite permission logic for Firefox
  addon-api/content-script/Tab.js
  background/imports/util.js
  webpages/settings/index.js
Owners: @WorldLanguages, @apple502j

start tests
  background/get-addon-settings.js
  background/imports/addon-transition.js
Owners: @WorldLanguages, @apple502j

scratch-messaging: show fragment if fetching comment failed (#7584)
  popups/scratch-messaging/api.js
  popups/scratch-messaging/popup.js
Owners: none

`find-bar`: Don't prevent Ctrl+F outside editor
  addons/find-bar/userscript.js
Owners: none

i think we've done it :D
  background/get-addon-settings.js
  background/imports/addon-transition.js
Owners: @WorldLanguages, @apple502j

Format code
  background/get-addon-settings.js
  background/imports/addon-transition.js
Owners: @WorldLanguages, @apple502j

row set done
  addons/find-references/blockly/Utils.js
  addons/find-references/userscript.js
  addons/find-references/userstyle.css
Owners: none

partly done get top block
  addons/find-references/blockly/Utils.js
  addons/find-references/userscript.js
  addons/find-references/userstyle.css
Owners: none

Use "studios" match
  addons/exact-count/addon.json
Owners: none

Small optimization
  addons/exact-count/studio.js
Owners: none

Don't prevent switching tabs
  addons/exact-count/studio.js
Owners: none

Rate limit
  addons/exact-count/studio.js
Owners: none

forum-toolbar: update link to Silk icon set
  addons/forum-toolbar/addon.json
Owners: none

align block
  addons/find-references/userscript.js
Owners: none

.github/CODEOWNERS:

/.github/ @Hans5958
/addons/addons.json @WorldLanguages  # New addons
/addon-api @WorldLanguages @apple502j
/background @WorldLanguages @apple502j
/content-scripts @WorldLanguages @apple502j
/libraries @WorldLanguages @apple502j
manifest.json @WorldLanguages @apple502j
