Repository ScratchAddons/ScratchAddons, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Hans5958, @WorldLanguages, @apple502j

Update userstyle.css
  addons/find-references/userstyle.css
Owners: none

Use markAsSeen and don't reuse comments
  addons/copy-message-link/profile.js
Owners: none

Format code
  addons/copy-message-link/profile.js
Owners: none

Update addons/copy-message-link/profile.js
  addons/copy-message-link/profile.js
Owners: none

adjust size
  addons/find-references/blockly/Utils.js
  addons/find-references/userscript.js
  addons/find-references/userstyle.css
Owners: none

add ref_list li padding
  addons/find-references/userstyle.css
Owners: none

don't hide addon
  addons/forum-user-agent/addon.json
  webpages/settings/index.js
Owners: none

Update addon.json
  addons/forum-user-agent/addon.json
Owners: none

Update addon.json
  addons/forum-user-agent/addon.json
Owners: none

Remove forum-time-zones and image-uploader
  addons-l10n/en/image-uploader.json
  addons/addons.json
  addons/forum-time-zones/addon.json
  addons/forum-time-zones/userscript.js
  addons/forum-toolbar/userscript.js
  addons/image-uploader/addon.json
  addons/image-uploader/button.css
  addons/image-uploader/icon.png
  addons/image-uploader/userscript.js
  addons/material-forum-editor-buttons/icons.css
  addons/material-forum-editor-buttons/uploader.svg
Owners: @WorldLanguages

Use OneShot-Niko's description
  addons/forum-user-agent/addon.json
Owners: none

Update name and other description
  addons/forum-user-agent/addon.json
Owners: none

dynamicEnable: false
  addons/forum-user-agent/addon.json
Owners: none

gitignore cant be changed
  .gitignore
Owners: none

Undo unnecessary diffs
  .gitignore
  addon-api/content-script/Tab.js
  addon-api/content-script/Trap.js
  addons/find-bar/userscript.js
  addons/jump-to-def/userscript.js
Owners: @WorldLanguages, @apple502j

Fix workspace update bugs (#7566)
  addon-api/content-script/blocks.js
  addons/cat-blocks/userscript.js
  addons/custom-block-shape/update-all-blocks.js
  addons/custom-block-shape/userscript.js
  addons/custom-block-text/userscript.js
  addons/data-category-tweaks-v2/userscript.js
  addons/editor-dark-mode/extension_icons.js
  addons/editor-square-inputs/userscript.js
  addons/editor-theme3/theme3.js
  addons/zebra-striping/userscript.js
  libraries/common/cs/update-all-blocks.js
  libraries/common/cs/update-toolbox-xml.js
Owners: @WorldLanguages, @apple502j

Add info item about setting
  addons/fix-uploaded-svgs/addon.json
Owners: none

Add latestUpdate.newSettings
  addons/fix-uploaded-svgs/addon.json
Owners: none

Add self to credits
  addons/fix-uploaded-svgs/addon.json
Owners: none

Update setting transition/migration logic
  background/get-addon-settings.js
Owners: @WorldLanguages, @apple502j

Ok I got it backwards, fixed now
  background/get-addon-settings.js
Owners: @WorldLanguages, @apple502j

Rename again
  addons/forum-user-agent/addon.json
Owners: none

`editor-theme3`: add customizable insertion markers (#7509)
  addons/editor-theme3/addon.json
  addons/editor-theme3/insertion_marker.css
  addons/editor-theme3/theme3.js
  background/get-addon-settings.js
Owners: @WorldLanguages, @apple502j

Re-add user-agent mention
  addons/forum-user-agent/addon.json
Owners: none

Revert "Re-add user-agent mention"
  addons/forum-user-agent/addon.json
Owners: none

Small change to addon description
  addons/blocks2image/addon.json
Owners: none

Add self to credits
  addons/blocks2image/addon.json
Owners: none

fix base on pr
  .gitignore
  addons/find-references/SVG_Utils.js
  addons/find-references/blockly/BlockFlasher.js
  addons/find-references/blockly/BlockInstance.js
  addons/find-references/blockly/BlockItem.js
  addons/find-references/blockly/Utils.js
  addons/find-references/userscript.js
Owners: none

change addon order in addons.js
  addons/addons.json
Owners: @WorldLanguages

Revert "Merge branch 'master' into pr/7664"
  _locales/ja/messages.json
  addon-api/content-script/blocks.js
  addons/cat-blocks/userscript.js
  addons/custom-block-shape/update-all-blocks.js
  addons/custom-block-shape/userscript.js
  addons/custom-block-text/userscript.js
  addons/data-category-tweaks-v2/userscript.js
  addons/editor-dark-mode/extension_icons.js
  addons/editor-square-inputs/userscript.js
  addons/editor-theme3/addon.json
  addons/editor-theme3/insertion_marker.css
  addons/editor-theme3/theme3.js
  addons/zebra-striping/userscript.js
  background/get-addon-settings.js
  libraries/common/cs/update-all-blocks.js
  libraries/common/cs/update-toolbox-xml.js
Owners: @WorldLanguages, @apple502j

Attempt to re-merge from upstream/master
  _locales/ja/messages.json
  addon-api/content-script/blocks.js
  addons/cat-blocks/userscript.js
  addons/custom-block-shape/update-all-blocks.js
  addons/custom-block-shape/userscript.js
  addons/custom-block-text/userscript.js
  addons/data-category-tweaks-v2/userscript.js
  addons/editor-dark-mode/extension_icons.js
  addons/editor-square-inputs/userscript.js
  addons/editor-theme3/addon.json
  addons/editor-theme3/insertion_marker.css
  addons/editor-theme3/theme3.js
  addons/zebra-striping/userscript.js
  background/get-addon-settings.js
  libraries/common/cs/update-all-blocks.js
  libraries/common/cs/update-toolbox-xml.js
Owners: @WorldLanguages, @apple502j

revert find-bar userscript which is modified by accidently
  addons/find-bar/userscript.js
Owners: none

Initial commit
  addon-api/common/FetchableAuth.js
  addons/animated-thumb/persistent-thumb.js
  addons/forum-post-countdown/userscript.js
  background/handle-auth.js
  content-scripts/inject/module.js
  content-scripts/prototype-handler.js
Owners: @WorldLanguages, @apple502j

Format code
  addons/forum-post-countdown/userscript.js
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

Fix TODO: handle chrome.storage.session undefined
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

Remove invalid TODO
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

Remove console.log
  content-scripts/prototype-handler.js
Owners: @WorldLanguages, @apple502j

Background: only use cache on first time
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

Revert canUseCachedSession
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

exact-count addon changes (profiles)
  addons/exact-count/user.js
Owners: none

.github/CODEOWNERS:

/.github/ @Hans5958
/addons/addons.json @WorldLanguages  # New addons
/addon-api @WorldLanguages @apple502j
/background @WorldLanguages @apple502j
/content-scripts @WorldLanguages @apple502j
/libraries @WorldLanguages @apple502j
manifest.json @WorldLanguages @apple502j
