Repository ScratchAddons/ScratchAddons, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Hans5958, @WorldLanguages, @apple502j

.github/CODEOWNERS:

/.github/ @Hans5958
/addons/addons.json @WorldLanguages  # New addons
/addon-api @WorldLanguages @apple502j
/background @WorldLanguages @apple502j
/content-scripts @WorldLanguages @apple502j
/libraries @WorldLanguages @apple502j
manifest.json @WorldLanguages @apple502j

Format code
  addons/forum-search/userscript.css
  addons/forum-search/userscript.js
Owners: none

Update Samq64 addon credit links (#7731)
  addons/collapse-footer/addon.json
  addons/vol-slider/addon.json
Owners: none

Add update notification for v1.39
  _locales/en/messages.json
  content-scripts/cs.js
Owners: @WorldLanguages, @apple502j

remove useless strings and keep placeholder static
  addons-l10n/en/forum-search.json
  addons/forum-search/userscript.js
Owners: none

`delete-others`: featured tag instead of recommended
  addons/delete-others/addon.json
Owners: none

1.39.
  addons/stage-monitor/addon.json
Owners: none

New Addon: `stage-monitor` (#3912)
  addons/addons.json
  addons/stage-monitor/addon.json
  addons/stage-monitor/monitor-values.css
  addons/stage-monitor/monitors.css
Owners: @WorldLanguages

Add "customizable stage monitors"
  _locales/en/messages.json
Owners: none

`delete-others`: featured tag instead of recommended (#7733)
  addons/delete-others/addon.json
Owners: none

add sa prefix
  addons/data-category-tweaks-v2/userscript.js
Owners: none

format
  addons/data-category-tweaks-v2/userscript.js
Owners: none

move `chrome.*` apis in settings-page to seperate file
  libraries/common/global-theme.js
  libraries/common/load-vue-components.js
  libraries/common/settings-page-apis.js
  webpages/check-unsupported.js
  webpages/popup/index.html
  webpages/popup/index.js
  webpages/set-lang.js
  webpages/settings/components/addon-body.js
  webpages/settings/components/addon-tag.js
  webpages/settings/data/addon-groups.js
  webpages/settings/data/categories.js
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/settings/licenses.js
  webpages/settings/permissions.js
  webpages/settings/settings-utils.js
Owners: @WorldLanguages, @apple502j

Format code
  libraries/common/settings-page-apis.js
  webpages/set-lang.js
  webpages/settings/components/addon-body.js
  webpages/settings/index.js
  webpages/settings/permissions.js
  webpages/settings/settings-utils.js
Owners: @WorldLanguages, @apple502j

i guess so...
  libraries/common/global-theme.js
Owners: @WorldLanguages, @apple502j

Fix message icons in dark mode
  addons/scratch3to2/messages.css
Owners: none

Unread message fixes
  addons/scratch3to2/messages.css
Owners: none

Highlighted comments
  addons/scratch3to2/comments.css
Owners: none

Compatibility with animated-thumb
  addons/scratch3to2/project.css
Owners: none

Mark placeholder in message function as optional
  addon-api/content-script/typedef.js
Owners: @WorldLanguages, @apple502j

Mark more functions as private
  addon-api/common/FetchableAuth.js
  addon-api/content-script/Tab.js
Owners: @WorldLanguages, @apple502j

Make @private tags be on their own lines
  addon-api/common/Auth.js
  addon-api/common/FetchableAuth.js
  addon-api/common/Listenable.js
  addon-api/common/Self.js
  addon-api/common/Settings.js
  addon-api/content-script/Addon.js
  addon-api/content-script/Auth.js
  addon-api/content-script/Tab.js
  addon-api/content-script/Trap.js
  addon-api/popup/Addon.js
  addon-api/popup/Auth.js
  addons/middle-click-popup/WorkspaceQuerier.js
Owners: @WorldLanguages, @apple502j

Community Guidelines
  addons/scratch3to2/addon.json
  addons/scratch3to2/guidelines.css
  addons/scratch3to2/home.css
  addons/scratch3to2/main.css
Owners: none

Fix Explore and Search pages on small screens
  addons/scratch3to2/explore_and_search.css
Owners: none

Fix double border above Instructions
  addons/scratch3to2/project.css
Owners: none

Add space between rows of studio tabs on ~800px viewport
  addons/scratch3to2/studio.css
Owners: none

Info pages
  addons/scratch3to2/addon.json
  addons/scratch3to2/info.css
  background/get-userscripts.js
Owners: @WorldLanguages, @apple502j

Contact Us
  addons/scratch3to2/addon.json
  addons/scratch3to2/info.css
Owners: none

Fix fully transparent borders
  addons/dark-www/addon.json
  addons/dark-www/experimental_scratchr2.css
  addons/dark-www/experimental_scratchwww.css
  libraries/common/cs/text-color.js
Owners: @WorldLanguages, @apple502j

Add update notification for v1.39 (#7732)
  _locales/en/messages.json
  content-scripts/cs.js
Owners: @WorldLanguages, @apple502j

Update addons-l10n/en/forum-search.json
  addons-l10n/en/forum-search.json
Owners: none

fix project preview and tab compat WIP
  addons/preview-project-description/userscript.js
  addons/project-notes-tabs/addon.json
  addons/project-notes-tabs/disable-self.js
  addons/project-notes-tabs/userscript.js
Owners: none

Format code
  addons/preview-project-description/userscript.js
Owners: none

Fix typo
  addons-l10n/en/forum-search.json
Owners: none

Remove invisible button
  addons/forum-search/userscript.js
Owners: none

Add basic styling to the visible button
  addons/forum-search/userscript.css
  addons/forum-search/userscript.js
Owners: none

fix shadow block dropdowns, fix var name, push old code improvements
  addons/zebra-striping/userscript.js
Owners: none

updaye
  addons/zebra-striping/userscript.js
Owners: none

2.0 → 3.0 compatibility
  addons/forum-search/userscript.css
  addons/scratchr2/forums.css
Owners: none

Redo project-notes-tabs dynamic enable/disable
  addons/project-notes-tabs/disable-self.js
  addons/project-notes-tabs/module.js
  addons/project-notes-tabs/style.css
  addons/project-notes-tabs/userscript.js
Owners: none

Format code
  addons/project-notes-tabs/module.js
Owners: none
