Repository ScratchAddons/ScratchAddons, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Hans5958, @WorldLanguages, @apple502j

Change animated-thumb later
  addons/animated-thumb/persistent-thumb.js
Owners: none

Only call refreshFn once
  content-scripts/inject/module.js
Owners: @WorldLanguages, @apple502j

Use underscore for _requestFetchFn attr
  addon-api/common/FetchableAuth.js
Owners: @WorldLanguages, @apple502j

Remove outdated comment
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

Remove dead username from credits
  addons/editor-theme3/addon.json
Owners: none

Add info about "insertion marker"
  addons/editor-theme3/addon.json
Owners: none

Remove forumActivityAmt
  popups/scratch-messaging/popup.html
  popups/scratch-messaging/popup.js
Owners: none

Messaging: count identical studio-activity messages as many messages (#7513)
  popups/scratch-messaging/popup.html
  popups/scratch-messaging/popup.js
Owners: none

Use createDocumentFragment instead of iframe
  addons/fix-uploaded-svgs/userscript.js
Owners: none

Async generation
  addons/blocks2image/userscript.js
Owners: none

Performance logging
  addons/blocks2image/userscript.js
Owners: none

Loading preview
  addons-l10n/en/blocks2image.json
  addons/blocks2image/style.css
  addons/blocks2image/userscript.js
Owners: none

Update Node.js to 20.x
  .github/workflows/packer.yml
  .github/workflows/transifex.yml
  .github/workflows/unittest.yml
Owners: @Hans5958

Update link to "Addons Data Update" workflow
  .github/workflows/update-addons-data.yml
Owners: @Hans5958

ESLint workflow: Also trigger when editing the workflow itself
  .github/workflows/eslint.yml
Owners: @Hans5958

Bump Actions dependencies
  .github/workflows/eslint.yml
  .github/workflows/format-code.yml
  .github/workflows/packer.yml
  .github/workflows/schema-validation.yml
  .github/workflows/stale-issues.yml
  .github/workflows/transifex.yml
  .github/workflows/unittest.yml
  .github/workflows/update-addons-data.yml
Owners: @Hans5958

Prettier workflow: Bump Prettier to 3.2.5
  .github/workflows/format-code.yml
Owners: @Hans5958

Transifex workflow: Add and update names 2
  .github/workflows/transifex.yml
Owners: @Hans5958

Prettier: Add paths-ignore to reflect .prettierignore
  .github/workflows/format-code.yml
  .prettierignore
Owners: @Hans5958

Bump Actions dependencies
  .github/workflows/packer.yml
Owners: @Hans5958

Transifex workflow: Add and update names
  .github/workflows/transifex.yml
Owners: @Hans5958

ESLint workflow: Only run when editing relevant files, no need to install
  .github/workflows/eslint.yml
Owners: @Hans5958

Prettier workflow: Use usual format
  .github/workflows/format-code.yml
Owners: @Hans5958

Prettier workflow: Fix typo
  .github/workflows/format-code.yml
Owners: @Hans5958

ESLint workflow: Update names
  .github/workflows/eslint.yml
Owners: @Hans5958

ESLint workflow: Convert configuration for ESLint v9.x
  .eslintrc.json
  .github/workflows/eslint.yml
  eslint.config.mjs
Owners: @Hans5958

Update addons/editor-cleanup-plus/userscript.js
  addons/editor-cleanup-plus/userscript.js
Owners: none

remove unrelated code
  addons/find-references/userscript.js
Owners: none

Format code
  addon-api/content-script/Trap.js
  addons/find-bar/userscript.js
  addons/find-references/addon.json
  addons/find-references/userscript.js
  addons/find-references/userstyle.css
Owners: @WorldLanguages, @apple502j

remove un need comment
  addons/find-references/userscript.js
Owners: none

don't click small pane
  addons/find-references/userscript.js
  addons/find-references/userstyle.css
Owners: none

Format code
  addons/find-references/userscript.js
  addons/find-references/userstyle.css
Owners: none

Add BBCode and signature support
  addons/linkify-mentions/addon.json
  addons/linkify-mentions/script.js
Owners: none

Format code
  addons/linkify-mentions/script.js
Owners: none

adjust position of svg
  addons/find-references/userscript.js
  addons/find-references/userstyle.css
Owners: none

remove comments
  addons/find-references/userscript.js
Owners: none

remove console.log
  addons/linkify-mentions/script.js
Owners: none

Changes to `editor-theme3/addon.json` (#7667)
  addons/editor-theme3/addon.json
Owners: none

ESLint workflow: Set ES version, install required packages, fix command to run
  .github/workflows/eslint.yml
  eslint.config.mjs
Owners: @Hans5958

Do not reference isScratchGui variable
  content-scripts/inject/module.js
Owners: @WorldLanguages, @apple502j

.github/CODEOWNERS:

/.github/ @Hans5958
/addons/addons.json @WorldLanguages  # New addons
/addon-api @WorldLanguages @apple502j
/background @WorldLanguages @apple502j
/content-scripts @WorldLanguages @apple502j
/libraries @WorldLanguages @apple502j
manifest.json @WorldLanguages @apple502j
