Repository ScratchAddons/ScratchAddons, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Hans5958, @WorldLanguages, @apple502j

some kind make it
  addons/find-references/blockly/Utils.js
Owners: none

forum-toolbar: update link to Silk icon set (#7634)
  addons/forum-toolbar/addon.json
Owners: none

`find-bar`: Don't prevent Ctrl+F outside editor (#7631)
  addons/find-bar/userscript.js
Owners: none

Fix tooltip on narrow viewports
  addons/exact-count/studio.css
Owners: none

Fix additional emoji logic
  addons/forumoji/userscript.js
Owners: none

exact-count: better exact count for studios (#7621)
  addons-l10n/en/exact-count.json
  addons/exact-count/addon.json
  addons/exact-count/studio.css
  addons/exact-count/studio.js
Owners: none

Split style setting
  addons/editor-theme3/addon.json
  addons/editor-theme3/theme3.js
Owners: none

Open sort mode dropdown when clicking icon
  addons/scratch3to2/explore_and_search.css
Owners: none

Use scratchr2 versions of blue colors
  addons/dark-www/addon.json
  addons/old-studio-layout/scratch3to2/style.css
  addons/scratch3to2/comments.css
  addons/scratch3to2/explore_and_search.css
  addons/scratch3to2/home.css
  addons/scratch3to2/ideas.css
  addons/scratch3to2/main.css
  addons/scratch3to2/messages.css
  addons/scratch3to2/project.css
  addons/scratch3to2/studio.css
Owners: none

Better support for studios viewed by host/curator
  addons/collapse-footer/userstyle.css
  addons/old-studio-layout/scratch3to2/style.css
  addons/scratch3to2/comments.css
  addons/scratch3to2/project.css
  addons/scratch3to2/studio.css
Owners: none

Compatibility with colorblind
  addons/addons.json
  addons/colorblind/bold-links.css
  addons/colorblind/non-bold-links.css
Owners: @WorldLanguages

Make editable project descriptions more similar to read-only ones
  addons/scratch3to2/project.css
Owners: none

Compatibility with project-info
  addons/scratch3to2/project.css
Owners: none

Compatibility with turbowarp-player
  addons/scratch3to2/project.css
Owners: none

Compatibility with hide-project-stats
  addons/hide-project-stats/hide_favorite_count.css
  addons/hide-project-stats/hide_love_count.css
Owners: none

Compatibility with project-notes-tabs
  addons/scratch3to2/project.css
Owners: none

download-button: fix wrong tag
  addons/download-button/addon.json
Owners: none

Compatibility with studio-followers
  addons/old-studio-layout/scratch3to2/style.css
  addons/scratch3to2/studio.css
Owners: none

download-button: fix wrong tag (#7639)
  addons/download-button/addon.json
Owners: none

Add migration for Black preset
  background/get-addon-settings.js
Owners: @WorldLanguages, @apple502j

Compatibility with confirmations
  addon-api/content-script/modal.js
  addons/scratch3to2/main.css
  addons/scratch3to2/studio.css
Owners: @WorldLanguages, @apple502j

Fix some text colors
  addons/old-studio-layout/scratch3to2/default.css
  addons/scratch3to2/explore_and_search.css
  addons/scratch3to2/studio.css
Owners: none

Compatibility with studio-tools
  addons/scratch3to2/studio.css
Owners: none

Compatibility with emoji-picker
  addons/scratch3to2/comments.css
Owners: none

Compatibility with download-button
  addons/scratch3to2/project.css
Owners: none

Compatibility with curator-link
  addons/scratch3to2/home.css
Owners: none

Compatibility with message-filters
  addons/scratch3to2/messages.css
Owners: none

Compatibility with one-click-studio-invites
  addons/scratch3to2/messages.css
Owners: none

Compatibility with collapse-footer
  addons/scratch3to2/home.css
  addons/scratch3to2/main.css
Owners: none

Fix OS picker on download page
  addons/scratch3to2/addon.json
  addons/scratch3to2/download.css
Owners: none

Fix join page
  addons/scratch3to2/addon.json
  addons/scratch3to2/join.css
Owners: none

Format code
  addon-api/content-script/modal.js
  addons/old-studio-layout/scratch3to2/default.css
  addons/scratch3to2/about.css
  addons/scratch3to2/addon.json
  addons/scratch3to2/comments.css
  addons/scratch3to2/explore_and_search.css
  addons/scratch3to2/ideas.css
  addons/scratch3to2/main.css
  addons/scratch3to2/messages.css
  addons/scratch3to2/project.css
  addons/scratch3to2/studio.css
Owners: @WorldLanguages, @apple502j

how did i mess that one up
  addons/editor-dark-mode/addon.json
Owners: none

Add notice to `exact-count` about removed setting
  addons/exact-count/addon.json
Owners: none

Format code
  addons/exact-count/addon.json
Owners: none

Add notice to `exact-count` about removed setting (#7643)
  addons/exact-count/addon.json
Owners: none

Remove key shortcuts
  addons/blocks2image/addon.json
  addons/blocks2image/userscript.js
Owners: none

Undo changes in functions selectedBlocks & allBlocks
  addons/blocks2image/userscript.js
Owners: none

Whoops, fixed duplicated code
  addons/blocks2image/userscript.js
Owners: none

blocks2image: image rendering changes by Jazza
  addons/blocks2image/userscript.js
Owners: none

.github/CODEOWNERS:

/.github/ @Hans5958
/addons/addons.json @WorldLanguages  # New addons
/addon-api @WorldLanguages @apple502j
/background @WorldLanguages @apple502j
/content-scripts @WorldLanguages @apple502j
/libraries @WorldLanguages @apple502j
manifest.json @WorldLanguages @apple502j
