Repository ScratchAddons/ScratchAddons, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Hans5958, @WorldLanguages, @apple502j

Add code comment
  content-scripts/inject/module.js
Owners: @WorldLanguages, @apple502j

Fix execution order
  addon-api/common/FetchableAuth.js
Owners: @WorldLanguages, @apple502j

[v1.38.x] Send less requests to `scratch.mit.edu/session` etc. (#7666)
  addon-api/common/FetchableAuth.js
  addons/exact-count/user.js
  addons/forum-post-countdown/userscript.js
  background/handle-auth.js
  content-scripts/inject/module.js
  content-scripts/prototype-handler.js
Owners: @WorldLanguages, @apple502j

Bump version to v1.38.5
  manifest.json
Owners: @WorldLanguages, @apple502j

Remove forum-time-zones and image-uploader (#7661)
  addons-l10n/en/image-uploader.json
  addons/addons.json
  addons/forum-time-zones/addon.json
  addons/forum-time-zones/userscript.js
  addons/forum-toolbar/userscript.js
  addons/image-uploader/addon.json
  addons/image-uploader/button.css
  addons/image-uploader/icon.png
  addons/image-uploader/userscript.js
  addons/material-forum-editor-buttons/icons.css
  addons/material-forum-editor-buttons/uploader.svg
Owners: @WorldLanguages

Change versionAdded to current version
  addons/remaining-replies/addon.json
Owners: none

New Addon: `remaining-replies` (#4493)
  addons-l10n/en/remaining-replies.json
  addons/addons.json
  addons/remaining-replies/addon.json
  addons/remaining-replies/limit10.css
  addons/remaining-replies/userscript.js
Owners: @WorldLanguages

Remove ScratchStats Addon
  addons-l10n/en/scratchstats.json
  addons/addons.json
  addons/dark-www/addon.json
  addons/dark-www/scratchstats.js
  addons/scratchstats/addon.json
  addons/scratchstats/scratchstats.png
  addons/scratchstats/style.css
  addons/scratchstats/userscript.js
Owners: @WorldLanguages

README: Add badge for Discord online users
  README.md
Owners: none

Add Discord logo
  README.md
Owners: none

README: Add badge for Discord online users (#7678)
  README.md
Owners: none

update remaining replies
  addons/remaining-replies/limit10.css
Owners: none

Rework display none while disabled (#7559)
  addon-api/content-script/Tab.js
  addon-api/content-script/contextmenu.js
  addons/clones/style.css
  addons/clones/userscript.js
  addons/color-picker/code-editor.js
  addons/color-picker/paint-editor.js
  addons/echo-effect/userscript.js
  addons/editor-searchable-dropdowns/userscript.css
  addons/editor-searchable-dropdowns/userscript.js
  addons/editor-theme3/theme3.js
  addons/emoji-picker/userscript.js
  addons/emoji-picker/userstyle.css
  addons/find-bar/userscript.js
  addons/find-bar/userstyle.css
  addons/forum-copy-code/userscript.js
  addons/forum-id/userscript.js
  addons/forum-search/userscript.js
  addons/forum-toolbar/userscript.js
  addons/gamepad/userscript.js
  addons/mouse-pos/userscript.js
  addons/my-ocular/discuss.js
  addons/one-click-studio-invites/userscript.js
  addons/one-click-studio-invites/userstyle.css
  addons/onion-skinning/userscript.js
  addons/paint-snap/ui.js
  addons/preview-project-description/userscript.js
  addons/progress-bar/userscript.js
  addons/project-info/projectstats.js
  addons/project-info/userscript.css
  addons/remaining-replies/limit10.css
  addons/scratchstats/userscript.js
  addons/search-sprites/userscript.js
  addons/share-through-mystuff/userscript.js
  addons/sprite-properties/userscript.js
  addons/sprite-properties/userstyle.css
  addons/variable-manager/userscript.js
  addons/vol-slider/userscript.js
  addons/vol-slider/userstyle.css
  content-scripts/cs.js
  content-scripts/inject/module.js
Owners: @WorldLanguages, @apple502j

remove old promisify functions
  background/handle-auth.js
  background/message-cache.js
  content-scripts/cs.js
  webpages/popup-loader.js
  webpages/settings/permissions.js
  webpages/settings/settings-utils.js
Owners: @WorldLanguages, @apple502j

fix badge
  background/message-cache.js
Owners: @WorldLanguages, @apple502j

Format code
  background/message-cache.js
Owners: @WorldLanguages, @apple502j

chrome.runtime.sendMessage 99+
  libraries/common/website-l10n.js
  webpages/popup-loader.js
Owners: @WorldLanguages, @apple502j

Format code
  libraries/common/website-l10n.js
  webpages/popup-loader.js
Owners: @WorldLanguages, @apple502j

`msg-count-badge`: disable by default & some existing users
  addons/msg-count-badge/addon.json
  background/get-addon-settings.js
  webpages/settings/index.js
Owners: @WorldLanguages, @apple502j

Old FF versions support
  background/get-addon-settings.js
Owners: @WorldLanguages, @apple502j

Set value of `scratchAddons.cookieStoreId`
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

Format code
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

[v1.38.x] Send less requests to `scratch.mit.edu/session` etc. (#7666)
  addon-api/common/FetchableAuth.js
  addons/exact-count/user.js
  addons/forum-post-countdown/userscript.js
  background/handle-auth.js
  content-scripts/inject/module.js
  content-scripts/prototype-handler.js
Owners: @WorldLanguages, @apple502j

Fix addon ID typo
  background/get-addon-settings.js
Owners: @WorldLanguages, @apple502j

`blocks2image`: fix multiple reqs for same image
  addons/blocks2image/userscript.js
Owners: none

Remove scroll limits
  addons/addons.json
  addons/remove-editor-limits/addon.json
  addons/remove-editor-limits/userscript.js
Owners: @WorldLanguages

Remove console logs
  addons/blocks2image/userscript.js
Owners: none

`blocks2image`: fix multiple reqs for same image (#7687)
  addons/blocks2image/userscript.js
Owners: none

Commits from `v1.38.x` branch (multiple opts to send less requests) (#7650)
  addon-api/common/FetchableAuth.js
  addons/exact-count/user.js
  addons/forum-post-countdown/userscript.js
  background/handle-auth.js
  background/message-cache.js
  content-scripts/inject/module.js
  content-scripts/prototype-handler.js
  webpages/popup-loader.js
Owners: @WorldLanguages, @apple502j

Remove ScratchStats Addon (#7682)
  addons-l10n/en/scratchstats.json
  addons/addons.json
  addons/dark-www/addon.json
  addons/dark-www/scratchstats.js
  addons/scratchstats/addon.json
  addons/scratchstats/scratchstats.png
  addons/scratchstats/style.css
  addons/scratchstats/userscript.js
Owners: @WorldLanguages

Responsive permissions page (#7482)
  webpages/settings/style.css
Owners: none

Linkify quote authors too
  addons/linkify-mentions/addon.json
  addons/linkify-mentions/script.js
  addons/linkify-mentions/userstyle.css
Owners: none

minor cleanup
  addons/linkify-mentions/script.js
Owners: none

Reset linkified on re-enable
  addons/linkify-mentions/script.js
Owners: none

1.39
  addons/linkify-mentions/addon.json
Owners: none

Mention quote authors in description
  addons/linkify-mentions/addon.json
Owners: none

rename userstyle
  addons/linkify-mentions/addon.json
  addons/linkify-mentions/plain-text.css
Owners: none

Re-add forum-time-zones addon
  addons/addons.json
  addons/forum-time-zones/addon.json
  addons/forum-time-zones/userscript.js
Owners: @WorldLanguages

re-add space in addons.json
  addons/addons.json
Owners: @WorldLanguages

Setings page logo adjustments (#7485)
  images/icon-transparent.svg
  webpages/popup/style.css
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/settings/licenses.html
  webpages/settings/permissions.html
  webpages/settings/style.css
  webpages/styles/components/smallmode.css
Owners: none

.github/CODEOWNERS:

/.github/ @Hans5958
/addons/addons.json @WorldLanguages  # New addons
/addon-api @WorldLanguages @apple502j
/background @WorldLanguages @apple502j
/content-scripts @WorldLanguages @apple502j
/libraries @WorldLanguages @apple502j
manifest.json @WorldLanguages @apple502j
