Repository ScratchAddons/ScratchAddons, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Hans5958, @WorldLanguages, @apple502j

`download-button`: include proj. ID in filename if Shift
  addons/download-button/userscript.js
Owners: none

README: Fix microsoftedge icon
  README.md
Owners: none

Add en to scratch wiki link
  addons/discuss-button/addon.json
Owners: none

remove rate limit logic, add 500ms timeout pushback, process multiple cookie changes
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

Format code
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

fix checking for scratchlanguage
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

add comments, only notify once
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

Also revert dark mode setting description change
  addons/editor-dark-mode/addon.json
Owners: none

Use small stage lib
  addons/fps/userscript.js
  addons/fps/userstyle.css
Owners: none

Format code
  addons/fps/userscript.js
Owners: none

Store old cookies, more comments
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

only set scratchLang once
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

fix mistake
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

Add initial "Copy scratchblocks code from editor" addon
  addons-l10n/en/editor-copy-scratchblocks.json
  addons/addons.json
  addons/editor-copy-scratchblocks/addon.json
  addons/editor-copy-scratchblocks/parse-sb3-blocks-LICENSE.txt
  addons/editor-copy-scratchblocks/parse-sb3-blocks.module.js
  addons/editor-copy-scratchblocks/parse-sb3-blocks.module.js.map
  addons/editor-copy-scratchblocks/userscript.js
Owners: @WorldLanguages

Format code
  addons/editor-copy-scratchblocks/addon.json
  addons/editor-copy-scratchblocks/parse-sb3-blocks.module.js
  addons/editor-copy-scratchblocks/userscript.js
Owners: none

Use data URL
  README.md
Owners: none

prevent race
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

add comment
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

Format code
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

fix a lot of bugs
  addons/zebra-striping/userscript.js
Owners: none

Format code
  addons/zebra-striping/userscript.js
Owners: none

mix all bugs
  addons/zebra-striping/userscript.js
Owners: none

fix support for multiple stores, add comments
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

rewrite checkSession: dont make unnessary request to storage
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

use chrome.alarms instead of timeout, better control of when we fetch
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

format
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

Add even more comments and rewrite helpers
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

format
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

fix tiny mistake btw
  background/handle-auth.js
Owners: @WorldLanguages, @apple502j

pop
  addons/addons.json
  addons/delete-pop/addon.json
  addons/delete-pop/userscript.js
Owners: @WorldLanguages

README: Fix microsoftedge icon (#7699)
  README.md
Owners: none

change name
  addons/delete-pop/addon.json
Owners: none

change tag
  addons/delete-pop/addon.json
Owners: none

update settings
  addons/delete-pop/addon.json
Owners: none

Add early return to 3.0 scratchblocks addon
  addons/scratchblocks/userscript.js
Owners: none

rewrite slighly
  addons/fps/userscript.js
  addons/fps/userstyle.css
Owners: none

fix manifest
  addons/fps/addon.json
Owners: none

Implement basic functionality
  background/message-cache.js
Owners: @WorldLanguages, @apple502j

Format code
  background/message-cache.js
Owners: @WorldLanguages, @apple502j

add max retry of 3
  addons/forum-time-zones/userscript.js
Owners: none

.github/CODEOWNERS:

/.github/ @Hans5958
/addons/addons.json @WorldLanguages  # New addons
/addon-api @WorldLanguages @apple502j
/background @WorldLanguages @apple502j
/content-scripts @WorldLanguages @apple502j
/libraries @WorldLanguages @apple502j
manifest.json @WorldLanguages @apple502j
