Repository ScratchAddons/ScratchAddons, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Hans5958, @WorldLanguages, @apple502j

.github/CODEOWNERS:

/.github/ @Hans5958
/addons/addons.json @WorldLanguages  # New addons
/addon-api @WorldLanguages @apple502j
/background @WorldLanguages @apple502j
/content-scripts @WorldLanguages @apple502j
/libraries @WorldLanguages @apple502j
manifest.json @WorldLanguages @apple502j

act on cookie removal, increase alarm every time, clear alarm if checked session early, force fetch for cookie changes
  background/handle-auth.js
  libraries/common/message-cache.js
Owners: @WorldLanguages, @apple502j

New addon: MIDI output
  addons-l10n/en/midi.json
  addons/addons.json
  addons/midi/addon.json
  addons/midi/check.svg
  addons/midi/style.css
  addons/midi/userscript.js
Owners: @WorldLanguages

Don't request permission until needed
  addons/midi/userscript.js
Owners: none

Show error if MIDI isn't available
  addons-l10n/en/midi.json
  addons/midi/style.css
  addons/midi/userscript.js
Owners: none

White hovered item icon
  addons/midi/style.css
Owners: none

Fix dropdown z-index on project page
  addons/midi/style.css
Owners: none

Dispose dropdown button correctly
  addons/midi/userscript.js
Owners: none

Close dropdown when flyout is scrolled
  addons/midi/userscript.js
Owners: none

Separate function for building dropdown content
  addons/midi/userscript.js
Owners: none

Send a note off message for each note on
  addons/midi/userscript.js
Owners: none

Send note off before switching output
  addons/midi/userscript.js
Owners: none

Format code
  addons/midi/userscript.js
Owners: none

Update versionAdded
  addons/scratch3to2/addon.json
Owners: none

change the way we calculate FPS again using smoothing
  addons/fps/userscript.js
Owners: none

format
  addons/fps/userscript.js
Owners: none

remove unnessary uses of safeMsg
  addons/data-category-tweaks-v2/userscript.js
  addons/editor-devtools/DevTools.js
  addons/editor-devtools/userscript.js
Owners: none

Don't change fullscreen loading
  addons/player-thumb/userscript.js
Owners: none

Fix fullscreen condition
  addons/player-thumb/userscript.js
Owners: none

Do it properly
  addons/player-thumb/userscript.js
Owners: none

Hopefully acually fix fullscreen
  addons/player-thumb/loading.css
  addons/player-thumb/userscript.js
Owners: none

Update displayNoneWhileDisabled
  addons/player-thumb/userscript.js
  addons/player-thumb/userstyle.css
Owners: none

Wrong default branch...
  addons-l10n/en/fps.json
  addons/addons.json
  addons/fps/addon.json
  addons/fps/userscript.js
  addons/fps/userstyle.css
Owners: @WorldLanguages

Add info about the tooltip to msg-count-badge
  addons/msg-count-badge/addon.json
Owners: none

Format code
  background/message-cache.js
Owners: @WorldLanguages, @apple502j

`download-button`: include proj. ID in filename if Shift (#7698)
  addons/download-button/userscript.js
Owners: none

Remove tooltip info
  addons/msg-count-badge/addon.json
Owners: none

Round corners
  addons/player-thumb/loading.css
Owners: none

Remove animation transparency
  addons/player-thumb/loading.css
Owners: none

Simplify loading class name
  addons/player-thumb/loading.css
  addons/player-thumb/userscript.js
Owners: none

Fix remove-curved-stage-border compatibility
  addons/remove-curved-stage-border/remove-borders.css
Owners: none

Embeds I guess
  addons/player-thumb/addon.json
  addons/player-thumb/userscript.js
Owners: none

scale scratchblocks properly
  addons/scratchblocks/userscript.js
Owners: none

Update addons/scratchblocks/userscript.js
  addons/scratchblocks/userscript.js
Owners: none

Full area updates
  addons/full-signature/addon.json
  addons/full-signature/disable.js
  addons/full-signature/signature.css
  addons/full-signature/titles.css
Owners: none

Format code
  addons/full-signature/disable.js
Owners: none

Update addons/modern-home-page/addon.json
  addons/modern-home-page/addon.json
Owners: none

Update home.css
  addons/modern-home-page/home.css
Owners: none

Update profile.css
  addons/modern-home-page/profile.css
Owners: none

Fixed issue with white boxes
  addons/modern-home-page/profile.css
Owners: none

Fixed issue with contrast in dark mode
  addons/modern-home-page/home.css
Owners: none
