Repository ScratchAddons/ScratchAddons, pull requests merged in 2020-11, with the labels that each got.

#747 Fix performance when dragging blocks in the editor
  addon-api/content-script/Tab.js
  addons/mouse-pos/style.css
  addons/mouse-pos/userscript.js
Labels: feedback

#748 New addon: fix broken SVG uploads
  addons/addons.json
  addons/fix-uploaded-svgs/addon.json
  addons/fix-uploaded-svgs/userscript.js
Labels: feedback

#798 Transifex integration
  .github/workflows/transifex.yml
Labels: developer facing, i18n, pr - needs review

#804 Ignore auto-generated files
  .prettierignore
Labels: developer facing

#812 Rewrite l10n system
  _locales/en/messages.json
  addon-api/content-script/Tab.js
  addons-l10n/en/clones.json
  addons-l10n/en/confirm-actions.json
  addons-l10n/en/curator-link.json
  addons-l10n/en/editor-devtools.json
  addons-l10n/en/exact-count.json
  addons-l10n/en/forum-search.json
  addons-l10n/en/image-uploader.json
  addons-l10n/en/last-edit-tooltip.json
  addons-l10n/en/pause.json
  addons-l10n/en/progress-bar.json
  addons-l10n/en/project-info.json
  addons-l10n/en/scratch-messaging.json
  addons-l10n/en/scratch-notifier.json
  addons-l10n/en/scratchr2.json
  addons-l10n/en/search-profile.json
  addons/confirm-actions/userscript.js
  addons/curator-link/script.js
  addons/editor-devtools/userscript.js
  addons/editor-messages/addon.json
  addons/editor-messages/userscript.js
  addons/feature-unshared/addon.json
  addons/fix-uploaded-svgs/addon.json
  addons/pause/userscript.js
  addons/project-info/userscript.js
  addons/project-notes-tabs/addon.json
  addons/project-notes-tabs/userscript.js
  background/handle-l10n.js
  background/l10n.js
  content-scripts/inject/l10n.js
  libraries/intl-messageformat.umd.min.js
  libraries/l10n.js
  libraries/license-info.json
  libraries/licenses/BSD3c.txt
  libraries/website-l10n.js
  webpages/settings/index.html
  webpages/settings/style.css
Labels: l10n

#823 Fix plural
  addons-l10n/en/clones.json
  addons-l10n/en/editor-devtools.json
  addons-l10n/en/project-info.json
  addons-l10n/en/scratch-messaging.json
Labels: l10n

#827 SECURITY: Fix DOM XSS in More Links addon
  addons/more-links/userscript.js
  security.md
Labels: security

#841 Update l10n README
  addons-l10n/README.md
Labels: developer facing, documentation

#842 Localization fixes
  addons-l10n/en/animated-thumb.json
  addons-l10n/en/editor-devtools.json
  addons/animated-thumb/userscript.js
  addons/forum-quote-code-beautifier/addon.json
  libraries/CREDITS.md
  libraries/animated-thumb.js
Labels: l10n

#856 Fix editor-devtools messages
  addons-l10n/en/editor-devtools.json
Labels: l10n

#867 More l10n
  _locales/en/messages.json
  _locales/ru/messages.json
  addon-api/background/Notifications.js
  addons-l10n/en/editor-messages.json
  addons/editor-messages/userscript.js
  content-scripts/cs.js
Labels: l10n

#870 Fix check for missing props
  background/load-addon-manifests.js
Labels: l10n

#871 Fix fallback for manifest l10n
  background/load-addon-manifests.js
  libraries/l10n.js
Labels: l10n
