Repository ScratchAddons/ScratchAddons, pull requests merged in 2020-10, with the labels that each got.

#366 Fix studio comment URL
  popups/scratch-messaging/popup.js
Labels: bug

#379 Huge Reworking for Expand Signature!
  addons/full-signature/expand.js
Labels: addon enhancement

#382 Clean signature expand button
  addons/full-signature/addon.json
  addons/full-signature/always.css
  addons/full-signature/expand.css
  addons/full-signature/expand.js
  addons/full-signature/expand_body.js
  addons/full-signature/working.css
Labels: addon enhancement

#400 Color Input!!!!!
  webpages/settings/index.html
  webpages/settings/style.css
Labels: enhancement

#505 Update issue template to use GitHub Discussions
  .github/ISSUE_TEMPLATE/---bug.md
  .github/ISSUE_TEMPLATE/---discussion.md
  .github/ISSUE_TEMPLATE/--feature.md
  .github/ISSUE_TEMPLATE/--new-addon.md
  .github/ISSUE_TEMPLATE/--question.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: developer facing, pr - needs review
