Repository ScratchAddons/ScratchAddons, pull requests merged in 2020-09, with the labels that each got.

#148 Redux support
  README.md
  addon-api/content-script/ReduxHandler.js
  addon-api/content-script/Tab.js
  content-scripts/load-redux.js
  manifest.json
Labels: addon-api, enhancement

#178 addon.json changes
  .editorconfig
  addons/discuss-button/addon.json
  addons/forum-time-zones/addon.json
  addons/image-uploader/addon.json
  background/background.html
  background/get-userscripts.js
  background/handle-licenses.js
  content-scripts/inject/run-userscript.js
  libraries/license-info.json
  libraries/licenses/MIT.txt
  manifest.json
  webpages/settings/index.html
  webpages/settings/licenses.html
  webpages/settings/licenses.js
  webpages/settings/style.css
Labels: addon-json, enhancement

#150 Buttons for forkphorus and turbowarp
  addons/addons.json
  addons/external-player-button/addon.json
  addons/external-player-button/userscript.js
Labels: new-addons, pr - needs review

#192 Remove Sprite Confirm addon
  addons/addons.json
  addons/remove-sprite-confirm/addon.json
  addons/remove-sprite-confirm/userscript.js
Labels: new-addons, pr - needs review

#171 Port searchable dropdowns addon
  addons/addons.json
  addons/editor-searchable-dropdowns/addon.json
  addons/editor-searchable-dropdowns/userscript.css
  addons/editor-searchable-dropdowns/userscript.js
Labels: new-addons, pr - needs review

#157 Add "More links" addon
  addons/addons.json
  addons/more-links/addon.json
  addons/more-links/userscript.js
  libraries/linkify-element.min.js
  libraries/linkify.min.js
Labels: new-addons, pr - needs review

#201 Bitmap clipboard
  addon-api/content-script/ReduxHandler.js
  addon-api/content-script/Tab.js
  addons/addons.json
  addons/bitmap-copy/addon.json
  addons/bitmap-copy/userscript.js
  addons/editor-stepping/userscript.js
  addons/move-your-cat/userscript.js
  background/background.html
  background/handle-clipboard.js
  content-scripts/cs.js
  content-scripts/inject/module.js
  content-scripts/load-redux.js
  content-scripts/prototype-handler.js
  libraries/data-url-to-blob.js
  manifest.json
  webpages/settings/index.js
Labels: addon-api, bug, new-addons, pr - needs review

#153 Add a progress bar for project loading, saving, etc.
  addons/addons.json
  addons/progress-bar/addon.json
  addons/progress-bar/userscript.js
  addons/progress-bar/userstyle.css
Labels: new-addons, pr - do not merge

#210 Add yt fullscreen
  addons/addons.json
  addons/youtube-fullscreen/addon.json
  addons/youtube-fullscreen/userscript.js
Labels: new-addons, pr - needs review

#175 More features for Scratch Messaging addon
  addon-api/common/Account.js
  addons/discuss-button/userscript.js
  addons/msg-count-badge/background.js
  addons/scratch-messaging/addon.json
  addons/scratch-messaging/background.js
  addons/scratch-messaging/popout.png
  addons/scratch-messaging/popup.css
  addons/scratch-messaging/popup.html
  addons/scratch-messaging/popup.js
  addons/scratch-notifier/background.js
  background/handle-messages.js
  webpages/popup/style.css
Labels: addon-specific, enhancement, pr - do not merge

#213 Progress bar followup
  addons/progress-bar/addon.json
  addons/progress-bar/userscript.js
Labels: addon-specific, bug

#233 Use ReDucks
  addons/bitmap-copy/addon.json
  addons/remove-sprite-confirm/addon.json
  content-scripts/load-redux.js
  libraries/license-info.json
Labels: pr - needs review

#244 Add API for low-level prototype trap interaction
  addon-api/content-script/Trap.js
  content-scripts/prototype-handler.js
Labels: enhancement, pr - needs review

#260 Data Category Tweaks addon
  addons/addons.json
  addons/data-category-tweaks/addon.json
  addons/data-category-tweaks/userscript.js
  addons/list-category/addon.json
  addons/list-category/userscript.js
  content-scripts/prototype-handler.js
Labels: new-addons, pr - needs review

#333 Add Set-Cookie fix
  background/background.html
  background/handle-cookie.js
Labels: bug

#359 Add Scratch 2.0 → 3.0
  addons/addons.json
  addons/scratchr2/addon.json
  addons/scratchr2/forums.css
  addons/scratchr2/forums_topic.css
  addons/scratchr2/forums_yt.css
  addons/scratchr2/mystuff.css
  addons/scratchr2/profile.css
  addons/scratchr2/quotes.css
  addons/scratchr2/remixtree.css
  addons/scratchr2/s2_download.css
  addons/scratchr2/scratchr2.css
  addons/scratchr2/scratchr2_comments.css
  addons/scratchr2/scratchr2_errors.css
  addons/scratchr2/settings.css
  addons/scratchr2/studio.css
Labels: new-addons
