Repository ScratchAddons/ScratchAddons, pull requests merged in 2021-05, with the labels that each got.

#2149 New addon: gamepad/controller support
  addons-l10n/en/gamepad.json
  addons/addons.json
  addons/gamepad/active.png
  addons/gamepad/addon.json
  addons/gamepad/close.svg
  addons/gamepad/cursor.png
  addons/gamepad/dot.svg
  addons/gamepad/gamepad.svg
  addons/gamepad/gamepadlib.css
  addons/gamepad/gamepadlib.js
  addons/gamepad/style.css
  addons/gamepad/userscript.js
Labels: scope: addon

#2340 Fix wrong addons being listed as dynamically disabled
  content-scripts/cs.js
Labels: priority: 3, scope: core

#2341 Do not send dynamicAddonEnabled message with no userscripts/styles
  background/get-userscripts.js
Labels: priority: 3, scope: core

#2260 Settings page: add addon groups and subcategories
  _locales/en/messages.json
  images/icons/brush2.svg
  images/icons/code.svg
  images/icons/dots.svg
  images/icons/player.svg
  images/icons/projectpage.svg
  images/icons/users.svg
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/settings/light.css
  webpages/settings/style.css
  webpages/styles/components/addon-setting.css
  webpages/styles/components/badges.css
  webpages/styles/components/categories.css
  webpages/styles/components/smallmode.css
Labels: priority: 2, scope: webpages

#2349 Lint 20210503
  addons/gamepad/active.png
  addons/gamepad/close.svg
  addons/gamepad/cursor.png
  addons/gamepad/dot.svg
  addons/gamepad/gamepad.svg
  addons/gamepad/gamepadlib.js
  images/icons/projectpage.svg
  webpages/settings/index.js
Labels: priority: 3, scope: addon, scope: webpages

#2251 Make cat blocks a non-easter-egg addon
  addons/cat-blocks/addon.json
  webpages/settings/index.js
Labels: status: pending

#2354 Remove unused string from _locale
  _locales/en/messages.json
Labels: priority: 3, scope: l10n

#2363 Include empty sourcemap
  libraries/thirdparty/cs/comlink.js.map
  libraries/thirdparty/cs/icu-message-formatter.es.min.js.map
Labels: priority: 4, scope: deps

#2364 Calculate stepSize
  addons/scratchstats/userscript.js
Labels: priority: 4, scope: addon

#2385 Fix reduxEvents regressions
  addons/60fps/userscript.js
  addons/animated-thumb/userscript.js
  addons/clones/userscript.js
  addons/disable-auto-save/userscript.js
  addons/editor-messages/userscript.js
  addons/gamepad/userscript.js
  addons/hide-flyout/userscript.js
  addons/last-edit-tooltip/userscript.js
  addons/mediarecorder/userscript.js
  addons/mouse-pos/userscript.js
  addons/mute-project/userscript.js
  addons/pause/userscript.js
  addons/project-info/blockcount.js
  addons/project-info/projectstats.js
  addons/variable-manager/userscript.js
Labels: bug: regression, priority: 2, scope: addon

#2420 Don't run reduxCondition when redux is unavailable
  addon-api/content-script/Tab.js
  addons/2d-color-picker/paint-editor.js
  addons/animated-thumb/userscript.js
  addons/clones/userscript.js
  addons/color-picker/paint-editor.js
  addons/copy-message-link/project.js
  addons/disable-auto-save/userscript.js
  addons/discuss-button/userscript.js
  addons/editor-messages/userscript.js
  addons/editor-searchable-dropdowns/userscript.js
  addons/folders/userscript.js
  addons/hide-flyout/userscript.js
  addons/last-edit-tooltip/userscript.js
  addons/onion-skinning/userscript.js
  addons/project-info/blockcount.js
  addons/project-info/projectstats.js
  addons/project-notes-tabs/userscript.js
  addons/variable-manager/userscript.js
  content-scripts/load-redux.js
Labels: priority: 4, scope: addon, scope: addon api

#2428 Switch my-ocular to ocular
  addons-l10n/en/my-ocular.json
Labels: priority: 4, scope: addon

#2446 Add workflow for packing extensions
  .github/gen-manifest.js
  .github/workflows/packer.yml
Labels: manifest v3: transition, priority: 3, scope: ci

#2447 Whoops not transifex
  .github/workflows/packer.yml
Labels: priority: 4, scope: ci

#2436 Don't show remix tree button on unshared projects
  addons/remix-tree-button/main.js
Labels: priority: 4, scope: addon

#2477 Disallow and remove use of Event.path
  .eslintrc.json
  content-scripts/cs.js
Labels: platform: firefox, priority: 2, scope: core

#2490 Fix unreadable ask prompts with editor-dark-mode
  addons/editor-dark-mode/experimental_editor.css
Labels: priority: 3, scope: addon

#2493 Make existing addons work on new studios
  addons-l10n/en/studio-tools.json
  addons/comments-linebreaks/addon.json
  addons/confirm-actions/userscript.js
  addons/copy-message-link/addon.json
  addons/copy-message-link/project.js
  addons/infinite-scroll/addon.json
  addons/infinite-scroll/buttonScroll.js
  addons/infinite-scroll/userscript.css
  addons/more-links/addon.json
  addons/more-links/userscript.js
  addons/studio-tools/addon.json
  addons/studio-tools/migrated.js
  addons/studio-tools/userstyle.css
Labels: priority: 2, scope: addon

#2499 Update packer settings
  .gitattributes
  .github/gen-manifest.mjs
Labels: priority: 4, scope: ci

#2501 Use JSON API for retrieving/replying/deleting comments in projects and studios (scratch-messaging)
  addons/scratch-messaging/background.js
  popups/scratch-messaging/popup.js
Labels: priority: 2, scope: addon

#2502 confirm-actions: check URL
  addons/confirm-actions/userscript.js
Labels: priority: 4, scope: addon

#2478 Multiple meta updates
  .github/ISSUE_TEMPLATE/---bug.md
  .github/ISSUE_TEMPLATE/--feature.md
  .github/ISSUE_TEMPLATE/--new-addon.md
  .github/ISSUE_TEMPLATE/blank.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/dangerfile.js
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/danger.yml
  .github/workflows/format-code.yml
  .github/workflows/labeler.yml
  .github/workflows/schema-validation.yml
  .github/workflows/update-addons-data.yml
  .github/workflows/update-changelog.yml
  README.md
Labels: priority: 4, scope: ci, scope: meta

#2512 Revert "Multiple meta updates"
  .github/ISSUE_TEMPLATE/---bug.md
  .github/ISSUE_TEMPLATE/--feature.md
  .github/ISSUE_TEMPLATE/--new-addon.md
  .github/ISSUE_TEMPLATE/blank.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/dangerfile.js
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/danger.yml
  .github/workflows/format-code.yml
  .github/workflows/labeler.yml
  .github/workflows/schema-validation.yml
  .github/workflows/update-addons-data.yml
  .github/workflows/update-changelog.yml
  README.md
Labels: priority: 3, scope: ci

#2474 editor-devtools: fix some bugs
  addons/editor-devtools/DevTools.js
  addons/editor-devtools/blockly/BlockFlasher.js
Labels: priority: 3, scope: addon

#2441 Prevent share button from confirming to share when the project is shared already
  addons/confirm-actions/userscript.js
Labels: priority: 4, scope: addon

#2528 data-category-tweaks-v2: use real blockly
  addons/data-category-tweaks-v2/userscript.js
Labels: priority: 4, scope: addon

#2541 gamepad: bug fixes, improvements
  addons/gamepad/addon.json
  addons/gamepad/gamepadlib.js
  addons/gamepad/userscript.js
Labels: priority: 3, scope: addon

#2543 Lint 20210520
  .editorconfig
  .github/ISSUE_TEMPLATE/---bug.md
Labels: priority: 4, scope: meta

#2332 Transparent orphan blocks addon
  addons/addons.json
  addons/transparent-orphans/addon.json
  addons/transparent-orphans/userstyle.css
Labels: new addon

#2556 Fix addon descriptions in light mode
  webpages/settings/light.css
Labels: priority: 4, scope: webpages

#1704 Message filtering
  addons-l10n/en/message-filters.json
  addons/addons.json
  addons/message-filters/addon.json
  addons/message-filters/style.css
  addons/message-filters/userscript.js
Labels: scope: addon

#2526 Some light mode changes
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/settings/light.css
  webpages/settings/style.css
  webpages/styles/components/modal.css
Labels: priority: 4, scope: webpages

#2560 more-links: support migrated studio descriptions
  addons/more-links/userscript.js
Labels: priority: 3, scope: addon

#2263 RTL support
  addons/blocks2image/userscript.js
  addons/color-picker/style.css
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-devtools/DevTools.js
  addons/editor-devtools/userscript.css
  addons/editor-devtools/userscript.js
  addons/mediarecorder/style.css
  addons/mediarecorder/userscript.js
  addons/variable-manager/style.css
  popups/cloud-games/popup.css
  popups/cloud-games/popup.html
  popups/scratch-messaging/popup.css
  popups/scratch-messaging/popup.html
  webpages/popup/index.html
  webpages/popup/index.js
  webpages/popup/style.css
  webpages/rtl-list.js
  webpages/set-lang.js
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/settings/licenses.html
  webpages/settings/permissions.html
  webpages/settings/style.css
  webpages/styles/components/addon-setting.css
  webpages/styles/components/addon.css
  webpages/styles/components/badges.css
  webpages/styles/components/categories.css
  webpages/styles/components/enablepopup.css
  webpages/styles/components/filter.css
  webpages/styles/components/modal.css
  webpages/styles/components/popup.css
  webpages/styles/components/search.css
  webpages/styles/components/smallmode.css
  webpages/styles/components/tooltips.css
Labels: priority: 4, scope: addon, scope: l10n, scope: webpages

#2569 Explain why the comment is rejected
  addons-l10n/en/scratch-messaging.json
  addons/scratch-messaging/background.js
  popups/scratch-messaging/popup.js
Labels: priority: 3, scope: addon

#2174 Issues in editor when user logged out
  addons/animated-thumb/userscript.js
  addons/last-edit-tooltip/userscript.js
Labels: priority: 4

#2581 Fix plural message in scratch-messaging
  addons-l10n/en/scratch-messaging.json
  popups/scratch-messaging/popup.js
Labels: priority: 2, scope: addon, scope: l10n

#2584 Improve compatibility with new studios
  addons/dark-www/addon.json
  addons/dark-www/experimental_scratchr2.css
  addons/dark-www/experimental_scratchwww.css
  addons/discuss-button/userscript.js
  addons/scratchr2/addon.json
  addons/scratchr2/lightprimary_scratchwww_compatibility.css
  addons/scratchr2/scratchwww.css
  addons/studio-tools/userstyle.css
Labels: priority: 3, scope: addon

#2590 Change "posts" to "comments"
  addons-l10n/en/scratch-messaging.json
Labels: priority: 4, scope: addon

#2589 studio-tools: remove section when in other tabs
  addons/studio-tools/migrated.js
Labels: priority: 4, scope: addon

#2592 Fix project page crash in edge cases (caused by "avoid commenting SA" code)
  content-scripts/cs.js
Labels: priority: 2, scope: core

#2605 Guard calls to permissions addListener
  background/handle-site-access.js
  webpages/settings/index.js
Labels: platform: firefox, priority: 4, scope: core, scope: webpages

#2623 custom-block-shape: fix #2033
  addons/custom-block-shape/userscript.js
Labels: priority: 4, scope: addon

#2625 Fix Do not automatically run duplicated blocks edge cases
  addons/fix-pasted-scripts/userscript.js
Labels: priority: 3, scope: addon
