Repository ScratchAddons/ScratchAddons, pull requests merged in 2021-02, with the labels that each got.

#1486 Remove albanian translations
  _locales/sq/messages.json
  addons-l10n/sq/_general.json
  addons-l10n/sq/data-category-tweaks-v2.json
  addons-l10n/sq/onion-skinning.json
  addons-l10n/sq/scratch-messaging.json
Labels: priority: 4, scope: l10n

#1492 mediarecorder: add record mic option
  addons-l10n/en/mediarecorder.json
  addons/mediarecorder/style.css
  addons/mediarecorder/userscript.js
Labels: priority: 3, scope: addon

#1498 Bugfix - script injection bug where scratch uses reversed code / desc…
  addons/editor-devtools/DevTools.js
Labels: priority: 3, scope: addon

#1522 Show error when the server errors
  libraries/animated-thumb.js
Labels: priority: 2, scope: addon

#1529 v1.9.x
  addons/scratch-notifier/addon.json
  addons/scratch-notifier/background.js
  images/icons/adminusers.svg
  manifest.json
  popups/scratch-messaging/popup.html
Labels: priority: 2, scope: l10n

#1543 Add fallback for pt translations
  background/get-userscripts.js
  background/l10n.js
Labels: priority: 3, scope: l10n

#1540 Update regex for URL matching (again)
  libraries/fast-linkify.js
Labels: priority: 3, scope: addon

#1541 Muted extension shows badge on refresh
  background/handle-notifications.js
Labels: priority: 3, scope: core

#1560 Fix crash on Tab.scratchMessage
  addon-api/content-script/Tab.js
Labels: priority: 2, scope: addon api, scope: l10n

#1551 Improve message when thumb server is down
  addons-l10n/en/_general.json
  addons-l10n/en/animated-thumb.json
  addons/animated-thumb/userscript.js
  background/imports/run-persistent-scripts.js
  content-scripts/inject/run-userscript.js
  libraries/animated-thumb.js
Labels: priority: 3, scope: addon, scope: addon api, scope: l10n

#1567 Trim empty lines on replies to ST comments
  addons/comments-linebreaks/userscript.js
  addons/editor-devtools/DevTools.js
  addons/hide-flyout/userscript.js
Labels: priority: 4, scope: addon

#1569 Add missing adminusersIcon
  background/load-addon-manifests.js
Labels: priority: 1, scope: core

#1579 Add workflow for meow
  .github/workflows/unittest.yml
Labels: scope: ci

#1580 fix typo in workflow
  .github/workflows/unittest.yml
Labels: scope: ci

#1611 Bump to intl-messageformat@9.4.7
  libraries/CREDITS.md
  libraries/intl-messageformat.umd.min.js
Labels: scope: deps

#1585 scratch-messaging: correct handling of Scratch Team comments
  addons/scratch-messaging/background.js
  popups/scratch-messaging/popup.html
Labels: priority: 4, scope: addon

#1612 Merge 1.6.x branch into master
  addons/dark-www/addon.json
  addons/dark-www/experimental_scratchr2.css
  addons/dark-www/experimental_scratchr2_comments.css
  addons/dark-www/scrollbar.css
Labels: priority: 4, scope: addon

#1642 editor-devtools: update version number and release date (v1.10.0)
  addons/editor-devtools/userscript.js
Labels: scope: addon

#1631 Discuss button addon: Do not touch the conference pages
  addons/discuss-button/userscript.js
Labels: scope: addon

#1614 Add profile statistics addon
  addons-l10n/en/scratchstats.json
  addons/addons.json
  addons/scratchstats/addon.json
  addons/scratchstats/scratchstats.png
  addons/scratchstats/style.css
  addons/scratchstats/userscript.js
  libraries/CREDITS.md
  libraries/Chart.min.js
  libraries/license-info.json
Labels: scope: addon

#1500 Addon disabled listener
  addon-api/background/Addon.js
  addon-api/common/Addon.js
  addon-api/common/Self.js
  addon-api/content-script/Addon.js
  addons/editor-stage-left/addon.json
  addons/editor-stage-left/fix-share-the-love.js
  addons/editor-stage-left/stageleft.css
  addons/scratch-messaging/background.js
  addons/scratchr2/addon.json
  background/declare-scratchaddons-object.js
  background/handle-settings-page.js
  content-scripts/cs.js
  content-scripts/inject/module.js
  webpages/settings/index.html
  webpages/settings/index.js
Labels: scope: core, status: pending

#1497 New addon: Folders
  addons-l10n/en/folders.json
  addons/addons.json
  addons/folders/addon.json
  addons/folders/folder.svg
  addons/folders/style.css
  addons/folders/userscript.js
Labels: scope: addon

#1688 Bugfix 20210228
  .eslintrc.json
  addon-api/background/Addon.js
  addon-api/common/Addon.js
  addon-api/common/fetch.js
  addons-l10n/en/folders.json
  addons-l10n/en/image-uploader.json
  addons/editor-devtools/DevTools.js
  addons/editor-theme3/theme3.js
  addons/folders/userscript.js
  addons/image-uploader/userscript.js
  addons/longer-wiwo/addon.json
  addons/longer-wiwo/userscript.js
  addons/scratch-messaging/background.js
  addons/scratchstats/userscript.js
  background/get-userscripts.js
  background/transition.js
  content-scripts/cs.js
  webpages/settings/index.js
Labels: scope: addon, scope: addon api, scope: core, scope: l10n
