Repository ScratchAddons/ScratchAddons, pull requests merged in 2021-11, with the labels that each got.

#3703 `editor-devtools`: Shortcut to not close the floating find bar
  addons-l10n/en/editor-devtools.json
  addons/editor-devtools/DevTools.js
  addons/editor-devtools/DomHelpers.js
  addons/editor-devtools/userscript.css
Labels: type: enhancement, scope: addon

#3669 New addon: Search bar on My Stuff
  addons-l10n/en/search-my-stuff.json
  addons/addons.json
  addons/scratchr2/mystuff.css
  addons/search-my-stuff/addon.json
  addons/search-my-stuff/fuse-options.js
  addons/search-my-stuff/userscript.js
  addons/search-my-stuff/userstyle.css
  libraries/thirdparty/cs/fuse.esm.min.js
  webpages/settings/index.html
  webpages/settings/index.js
Labels: new addon

#3701 New addon: better editor comments
  addons/addons.json
  addons/fix-editor-comments/addon.json
  addons/fix-editor-comments/fix-drag.js
  addons/fix-editor-comments/scroll.css
  addons/fix-editor-comments/standalone-edit.css
Labels: new addon

#3734 Lint 20211104
  addons/better-emojis/images/gobo.svg
  addons/better-emojis/images/meow.svg
  addons/better-emojis/images/waffle.svg
  addons/search-my-stuff/userscript.js
  libraries/README.md
  libraries/common/cs/l10n.js
  libraries/thirdparty/cs/icu-message-formatter.es.min.js
Labels: priority: 4, scope: deps, scope: tech debt

#3603 animated-thumb: add modal
  addon-api/content-script/Tab.js
  addons-l10n/en/_general.json
  addons-l10n/en/animated-thumb.json
  addons/animated-thumb/addon.json
  addons/animated-thumb/persistent-thumb.js
  addons/animated-thumb/rectangle.svg
  addons/animated-thumb/userscript.css
  addons/animated-thumb/userscript.js
  libraries/common/cs/thumb-setter.js
Labels: priority: 3, scope: addon

#3491 Category Columns Addon
  addons/addons.json
  addons/block-palette-icons/userstyle.css
  addons/columns/addon.json
  addons/columns/style.css
  addons/columns/userscript.js
  addons/editor-dark-mode/addon.json
  addons/hide-flyout/userscript.js
Labels: new addon

#3741 New addon: hide Tutorials button
  addons/addons.json
  addons/tutorials-button/addon.json
  addons/tutorials-button/userstyle.css
Labels: new addon

#3727 New addon: editor comment previews
  addons/addons.json
  addons/editor-comment-previews/addon.json
  addons/editor-comment-previews/userscript.js
  addons/editor-comment-previews/userstyle.css
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/experimental_editor.css
Labels: new addon

#3425 add forum-id
  addons-l10n/en/forum-id.json
  addons/addons.json
  addons/forum-id/addon.json
  addons/forum-id/userscript.js
Labels: new addon

#3752 1.22.0 addon fixes
  addons/animated-thumb/rectangle.svg
  addons/animated-thumb/userscript.js
  addons/better-emojis/images/meow.svg
  addons/better-emojis/images/waffle.svg
  addons/columns/userscript.js
  addons/editor-comment-previews/userscript.js
Labels: priority: 3, scope: addon

#3758 editor-extra-keys: support dynamic enable, disable, settings change
  addons/editor-extra-keys/addon.json
  addons/editor-extra-keys/userscript.js
Labels: priority: 4, scope: addon

#3759 disable-stage-drag-select: more reliable shift key detection
  addons/disable-stage-drag-select/userscript.js
Labels: priority: 4, scope: addon

#3791 editor-devtools: add missing reduxEvents and reduxCondition
  addons/editor-devtools/DevTools.js
Labels: priority: 4, scope: addon

#3790 swap-local-global: theoretical bug fix
  addons/swap-local-global/userscript.js
Labels: priority: 4, scope: addon

#3789 editor-comment-previews: fix some bugs
  addons/editor-comment-previews/addon.json
  addons/editor-comment-previews/userscript.js
  addons/editor-comment-previews/userstyle.css
Labels: priority: 3, scope: addon

#3796 fullscreen: support for "ask and wait" prompt and horizontally small windows
  addons/fullscreen/resizeWindow.css
  addons/fullscreen/resizeWindow_noToolbar.css
Labels: priority: 4, scope: addon

#3794 Fix duplicate items in addon search
  webpages/settings/index.js
Labels: priority: 3, scope: webpages

#3798 `hide-flyout`: suppress flyout on workspace drag
  addons/hide-flyout/userscript.js
Labels: priority: 3, scope: addon

#3807 Use solid border in editor-searchable-dropdowns
  addons/editor-searchable-dropdowns/userscript.css
Labels: priority: 4, scope: addon

#3793 search-my-stuff: fix bugs
  addons/search-my-stuff/userscript.js
Labels: priority: 3, scope: addon

#3840 Fix outlined reaction menu button icon in Chromium
  addons/my-ocular/reactions.css
Labels: platform: chrome, scope: addon

#3731 New addon: snap scripts to grid
  addons/addons.json
  addons/script-snap/addon.json
  addons/script-snap/userscript.js
Labels: new addon

#3823 Capitalize "Account Settings" in editor
  addons/account-settings-capitalize/addon.json
  addons/account-settings-capitalize/style.css
Labels: scope: addon
