Repository ScratchAddons/ScratchAddons, pull requests merged in 2021-03, with the labels that each got.

#1698 Linkify URLs with percents
  libraries/fast-linkify.js
Labels: scope: addon

#1615 variable manager tab
  addons-l10n/en/variable-manager.json
  addons/addons.json
  addons/variable-manager/addon.json
  addons/variable-manager/icon.svg
  addons/variable-manager/search.svg
  addons/variable-manager/style.css
  addons/variable-manager/userscript.js
Labels: scope: addon

#1712 Infinite scrolling: fix bugs, improvements
  addons/infinite-scroll/buttonScroll.js
  addons/infinite-scroll/userscript.css
Labels: scope: addon

#1733 Fix missing "of" in extensionUpdateInfo2
  _locales/en/messages.json
Labels: priority: 3, scope: core

#1731 Fix block switching bug with change and set variable blocks
  addons/block-switching/userscript.js
Labels: priority: 3, scope: addon

#1738 Remove video sensing from loading by default
  addons/load-extensions/addon.json
Labels: priority: 2, scope: addon

#1736 Don't show profile statistics on 404s
  addons/scratchstats/userscript.js
Labels: priority: 4, scope: addon

#1735 Fix some bugs in folders addon
  addons-l10n/en/folders.json
  addons/folders/userscript.js
Labels: priority: 3, scope: addon

#1770 solve #1763
  addons/variable-manager/userscript.js
Labels: priority: 3, scope: addon

#1741 Simplify disable-auto-save
  addons/disable-auto-save/userscript.js
Labels: priority: 2, scope: addon

#1786 Do not add icons to plates for armpit protection
  addons-l10n/en/variable-manager.json
  addons/block-palette-icons/addon.json
  addons/scratchstats/scratchstats.png
  addons/variable-manager/userscript.js
  images/cs/folders.png
Labels: priority: 4, scope: addon

#1784 Fix onion skinning and folders compatibility
  addons/onion-skinning/userscript.js
Labels: priority: 3, scope: addon

#1782 Forcibly disable video sensing auto-loading
  background/background.html
  background/transition.js
Labels: priority: 2, scope: addon

#1812 Fix removing sprites with no names from folders
  addons/folders/userscript.js
Labels: priority: 4, scope: addon

#1826 Migrate to ScratchDB V3 API
  addons/exact-count/forum.js
  addons/forum-search/userscript.js
  addons/scratchstats/userscript.js
Labels: priority: 3, scope: addon

#1827 Fix exact-count being incompatible with scratchstats
  addons/exact-count/user.js
Labels: priority: 4, scope: addon

#1845 Set default value for addonsWithUserstyles
  content-scripts/cs.js
Labels: priority: 1, scope: core

#1850 disable-auto-save: add prompt before going to project page
  addons-l10n/en/disable-auto-save.json
  addons/disable-auto-save/userscript.js
Labels: priority: 3, scope: addon

#1851 Rename persistentThumb setting name
  addons/animated-thumb/addon.json
Labels: priority: 3, scope: addon

#1853 longer-wiwo: fix syntax error
  addons/longer-wiwo/userscript.js
Labels: priority: 1, scope: addon

#1852 editor-devtools: remove Clean Up Blocks
  addons/editor-devtools/DevTools.js
Labels: priority: 4, scope: addon

#1862 load-extensions: remove reference to video sensing
  addons/load-extensions/addon.json
Labels: priority: 3, scope: addon

#1893 Fix some more bugs in folders addon
  addons/folders/userscript.js
Labels: priority: 2, scope: addon

#1781 Better color picker for settings page
  addons/editor-theme3/addon.json
  addons/forum-quote-code-beautifier/addon.json
  libraries/CREDITS.md
  libraries/color-picker.js
  libraries/license-info.json
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/settings/light.css
  webpages/settings/style.css
Labels: scope: core

#1768 New Addon - 2D Color Picker!
  addons-l10n/en/2d-color-picker.json
  addons/2d-color-picker/addon.json
  addons/2d-color-picker/assets/sv-gr.png
  addons/2d-color-picker/paint-editor.js
  addons/2d-color-picker/style.css
  addons/2d-color-picker/userscript.js
  addons/addons.json
Labels: scope: addon

#1773 New addon - custom block shape
  addons/addons.json
  addons/custom-block-shape/addon.json
  addons/custom-block-shape/userscript.js
Labels: scope: addon

#1830 Add error when scratchdb is down
  addons-l10n/en/scratchstats.json
  addons/scratchstats/userscript.js
Labels: priority: 4, scope: addon

#1831 scratchblocks scroll
  addons/full-signature/addon.json
  addons/full-signature/blocks.css
Labels: scope: addon

#1889 Make profile page banner less blurry
  addons/better-featured-project/addon.json
  addons/better-featured-project/userscript.js
  addons/better-featured-project/userstyle.css
Labels: scope: addon

#1919 Fix some bugs in editor-devtools
  addons-l10n/en/editor-devtools.json
  addons/2d-color-picker/paint-editor.js
  addons/editor-devtools/DevTools.js
Labels: priority: 4, scope: addon

#1947 Fix #1945
  addons-l10n/en/folders.json
  addons/folders/userscript.js
Labels: priority: 3, scope: addon

#1958 Reorder CS logic
  content-scripts/cs.js
Labels: priority: 2, scope: core, type: regression

#2004 Fix 2d-color-picker in Firefox
  addons/2d-color-picker/paint-editor.js
Labels: platform: firefox, priority: 2, scope: addon
