Repository ScratchAddons/ScratchAddons, pull requests merged in 2021-10, with the labels that each got.

#3399 Add settings preview to editor dark mode
  _locales/en/messages.json
  addons/editor-dark-mode/addon.json
  webpages/settings/components/addon-body.html
  webpages/settings/components/addon-body.js
  webpages/settings/components/addon-setting.html
  webpages/settings/components/previews/editor-dark-mode.html
  webpages/settings/components/previews/editor-dark-mode.js
  webpages/settings/components/previews/palette.html
  webpages/settings/components/previews/palette.js
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/settings/style.css
Labels: scope: addon.json, scope: addon, scope: webpages

#3562 New addon: echo-effect
  addons/addons.json
  addons/echo-effect/addon.json
  addons/echo-effect/echo.svg
  addons/echo-effect/userscript.js
Labels: priority: 3, scope: addon

#3571 confirm-actions: confirm project unshare
  addons-l10n/en/confirm-actions.json
  addons/confirm-actions/addon.json
  addons/confirm-actions/userscript.js
Labels: priority: 3, scope: addon

#3578 Rewrite editor-colored-context-menus with getBlockly
  addons/editor-colored-context-menus/userscript.css
  addons/editor-colored-context-menus/userscript.js
Labels: priority: 4, scope: addon

#3561 folders: use context menu API
  addon-api/content-script/contextmenu.js
  addons/folders/style.css
  addons/folders/userscript.js
Labels: scope: addon api, priority: 4, scope: addon

#3592 Allow extension usage on incognito
  manifest.json
Labels: priority: 3, scope: core

#3668 Make changelog link in the popup into a `href` link
  webpages/popup/index.html
  webpages/popup/index.js
Labels: type: bug, scope: webpages

#3704 Fix "editor-theme3 reduces size of clickable area in block dropdowns "
  addons/editor-theme3/theme3.css
Labels: type: bug, scope: addon

#3686 [addon-body]: make `addonSettings` also include the addon id
  webpages/settings/components/addon-body.html
  webpages/settings/components/addon-body.js
  webpages/settings/components/addon-setting.html
  webpages/settings/components/addon-setting.js
  webpages/settings/components/picker-component.js
  webpages/settings/components/reset-dropdown.js
Labels: priority: 4, scope: webpages, scope: tech debt

#3716 Use Node 16 in GitHub Actions
  .github/workflows/packer.yml
  .github/workflows/transifex.yml
  .github/workflows/unittest.yml
Labels: priority: 4, scope: ci
