Repository ScratchAddons/ScratchAddons, pull requests merged in 2021-04, with the labels that each got.

#1832 CSS Update Pass 2
  _locales/es/messages.json
  _locales/fr/messages.json
  _locales/ja/messages.json
  _locales/pt_BR/messages.json
  _locales/pt_PT/messages.json
  addons-l10n/ja/editor-devtools.json
  addons-l10n/ja/full-signature.json
  addons-l10n/pt-br/custom-block-shape.json
  images/icons/adminusers.svg
  images/icons/settings-black.svg
  popups/cloud-games/popup.css
  popups/cloud-games/popup.html
  popups/scratch-messaging/popup.css
  popups/scratch-messaging/popup.html
  webpages/popup/index.html
  webpages/popup/style.css
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/settings/licenses.html
  webpages/settings/light.css
  webpages/settings/permissions.html
  webpages/settings/style.css
  webpages/styles/components/addon-setting.css
  webpages/styles/components/addon.css
  webpages/styles/components/enablepopup.css
  webpages/styles/components/filter.css
  webpages/styles/components/licenses.css
  webpages/styles/components/modal.css
  webpages/styles/components/popup.css
  webpages/styles/components/search.css
Labels: scope: design, scope: webpages

#1920 Implement user agent modifying
  content-scripts/cs.js
Labels: priority: 3, scope: core

#2103 folders: performance improvements and bug fixes
  addons/folders/userscript.js
Labels: priority: 3, scope: addon

#2098 mute-project: fix control key detection
  addons/mute-project/userscript.js
Labels: priority: 4, scope: addon

#2037 Add dark mode to statics graphs
  addons/dark-www/experimental_statistics.css
Labels: priority: 4, scope: addon

#2061 Move waitForElement logic from addon-api to core
  addon-api/content-script/Tab.js
  content-scripts/inject/module.js
Labels: priority: 4, scope: addon api, scope: core

#1805 Convert editor dark mode to presets
  _locales/en/messages.json
  addons/color-picker/code-editor.js
  addons/color-picker/style.css
  addons/dark-www/addon.json
  addons/dark-www/experimental_scratchwww.css
  addons/editor-dark-mode/3dark.css
  addons/editor-dark-mode/3darker.css
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/dark-editor.css
  addons/editor-dark-mode/dark_comments.css
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-dark-mode/global.css
  addons/editor-dark-mode/scrollbar.css
  addons/editor-dark-mode/text_color.js
  addons/editor-devtools/DevTools.js
  addons/editor-messages/userscript.js
  addons/editor-messages/userstyle.css
  addons/variable-manager/style.css
  addons/variable-manager/userscript.js
  background/get-addon-settings.js
  libraries/text_color.js
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/settings/light.css
  webpages/settings/style.css
  webpages/styles/components/addon-setting.css
Labels: scope: addon

#2137 Fix studio scrollbar not working with 2.0 → 3.0
  addons/scratchr2/studio.css
Labels: scope: addon

#2205 Lint 20210418
  addons/2d-color-picker/assets/sv-gr.png
  addons/block-palette-icons/icons/events_icon.svg
  addons/block-palette-icons/icons/list_icon.svg
  addons/blocks2image/userscript.js
  addons/cat-blocks/userscript.js
  addons/clones/300cats.svg
  addons/clones/cat.svg
  addons/dango-rain/dango.svg
  addons/dango-rain/userscript.js
  addons/folders/folder.svg
  addons/hide-flyout/lock.svg
  addons/hide-flyout/unlock.svg
  addons/onion-skinning/decrement.svg
  addons/onion-skinning/increment.svg
  addons/onion-skinning/settings.svg
  addons/onion-skinning/toggle.svg
  addons/pause/pause.svg
  addons/pause/play.svg
  addons/scratchr2/assets/caret.svg
  addons/scratchr2/assets/caret_hover.svg
  addons/search-profile/user.svg
  addons/variable-manager/icon.svg
  addons/variable-manager/search.svg
  content-scripts/cs.js
  images/cs/draganddrop.gif
  images/icons/adminusers.svg
Labels: priority: 4

#2220 Remove wrap-lists addon
  _locales/en/messages.json
  addons-l10n/de/wrap-lists.json
  addons-l10n/es/wrap-lists.json
  addons-l10n/it/wrap-lists.json
  addons-l10n/ja/wrap-lists.json
  addons-l10n/pt-br/wrap-lists.json
  addons-l10n/sl/wrap-lists.json
  addons/addons.json
  addons/wrap-lists/addon.json
  addons/wrap-lists/style.css
  addons/wrap-lists/userscript.js
  webpages/settings/index.js
Labels: priority: 2, scope: addon

#2182 Implement new waitForElement spec
  addon-api/content-script/Tab.js
  content-scripts/inject/module.js
Labels: priority: 4, scope: addon api

#2214 Refactor forum-time-zones
  addons/forum-time-zones/addon.json
  addons/forum-time-zones/userscript.js
  libraries/CREDITS.md
  libraries/license-info.json
  libraries/moment.js
Labels: priority: 3, scope: addon, scope: l10n

#2233 Use "versions" in user agent modifier
  content-scripts/cs.js
  content-scripts/inject/module.js
Labels: priority: 3, scope: core

#2245 Fix editor-stage-left rounded corners
  addons/editor-stage-left/stageleft.css
Labels: scope: addon

#2241 Make editor dark mode not affect the stage
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/experimental_editor.css
Labels: scope: addon

#2259 Lint 20210422
  .github/workflows/format-code.yml
  .github/workflows/transifex.yml
  .github/workflows/unittest.yml
  _locales/en/messages.json
  addons-l10n/en/editor-devtools.json
  addons-l10n/en/image-uploader.json
  addons-l10n/en/variable-manager.json
  addons/block-switching/blockToDom.js
  addons/color-picker/paint-editor.js
  addons/editor-devtools/blockly/Utils.js
  addons/editor-devtools/userscript.js
  addons/image-uploader/userscript.js
  addons/my-ocular/discuss.js
  addons/my-ocular/reactions.css
  addons/my-ocular/reactions.js
  addons/variable-manager/userscript.js
  popups/scratch-messaging/popup.js
  webpages/settings/index.html
  webpages/settings/index.js
Labels: priority: 3, scope: addon, scope: ci, scope: core, scope: webpages

#2207 Add dark presets to theme3
  addons/editor-theme3/addon.json
  addons/editor-theme3/theme3.css
  addons/editor-theme3/theme3.js
  libraries/text_color.js
  webpages/settings/index.html
Labels: scope: addon

#2306 Fix undefined message
  _locales/en/messages.json
Labels: priority: 2, scope: core, scope: l10n

#2282 Remove a11y addon
  addons-l10n/de/a11y.json
  addons-l10n/en/a11y.json
  addons-l10n/es/a11y.json
  addons-l10n/fr/a11y.json
  addons-l10n/it/a11y.json
  addons-l10n/ja/a11y.json
  addons-l10n/nl/a11y.json
  addons-l10n/pt-br/a11y.json
  addons-l10n/ro/a11y.json
  addons-l10n/ru/a11y.json
  addons-l10n/sl/a11y.json
  addons-l10n/sv/a11y.json
  addons-l10n/tr/a11y.json
  addons/a11y/addon.json
  addons/a11y/style.css
  addons/a11y/userscript.js
  addons/addons.json
Labels: priority: 3, scope: addon

#2311 Fix wrong selectors and wrong colors in theme3
  addons/editor-theme3/addon.json
  addons/editor-theme3/theme3.js
Labels: scope: addon

#2289 remove "check format" from format code action
  .github/workflows/format-code.yml
Labels: scope: ci

#2305 Add improved userscript matching
  background/get-userscripts.js
  background/load-addon-manifests.js
Labels: priority: 3, scope: addon.json, scope: core

#2278 Update all settings at once when loading presets
  webpages/settings/index.js
Labels: priority: 4, scope: webpages
