Repository ScratchAddons/ScratchAddons, pull requests merged in 2021-01, with the labels that each got.

#957 New warnings and notices system
  addons/animated-thumb/addon.json
  addons/bitmap-copy/addon.json
  addons/cloud-games/addon.json
  addons/editor-colored-context-menus/addon.json
  addons/editor-stage-left/addon.json
  addons/editor-stepping/addon.json
  addons/editor-theme3/addon.json
  addons/pause/addon.json
  background/load-addon-manifests.js
  webpages/settings/index.html
Labels: pr - do not merge

#639 Cat Blocks!
  addons/addons.json
  addons/cat-blocks/addon.json
  addons/cat-blocks/userscript.js
Labels: pr - do not merge, prio-4

#1106 NFE warning for animated-thumb
  addons/animated-thumb/addon.json
Labels: pr - do not merge

#1198 Lint source code
  .eslintignore
  .eslintrc.json
  addons-l10n/en/editor-devtools.json
  addons/better-featured-project/userscript.js
  addons/better-quoter/userscript.js
  addons/block-switching/blockToDom.js
  addons/block-switching/userscript.js
  addons/clones/userscript.js
  addons/dark-www/experimental_forums_preview.js
  addons/editor-devtools/userscript.js
  addons/editor-messages/userscript.js
  addons/editor-theme3/theme3.js
  addons/exact-count/studio.js
  addons/exact-count/user.js
  addons/forum-search/userscript.js
  addons/forum-time-zones/userscript.js
  addons/image-uploader/userscript.js
  addons/infinite-scroll/buttonScroll.js
  addons/infinite-scroll/forumScroll.js
  addons/mouse-pos/userscript.js
  addons/my-ocular/profile.js
  addons/pause/userscript.js
  addons/remix-tree-button/main.js
  addons/scratch-messaging/background.js
  addons/search-profile/userscript.js
  addons/studio-tools/mystuff.js
  background/get-addon-settings.js
  background/handle-cookie.js
  background/handle-fetch.js
  content-scripts/cs.js
  content-scripts/prototype-handler.js
  popups/scratch-messaging/popup.js
  webpages/settings/index.js
  webpages/settings/licenses.js
Labels: pr - do not merge

#1006 Non hardcoded popups & toggle addons through popup (responsive iframe)
  _locales/en/messages.json
  addons-l10n/en/scratch-messaging.json
  addons/cloud-games/addon.json
  addons/resizable-comment-input/addon.json
  addons/scratch-messaging/addon.json
  background/handle-settings-page.js
  background/load-addon-manifests.js
  content-scripts/cs.js
  images/icons/popup.svg
  images/icons/settings-black.svg
  popups/cloud-games/popup.html
  popups/scratch-messaging/popup.html
  popups/scratch-messaging/popup.js
  webpages/popup/index.html
  webpages/popup/index.js
  webpages/popup/style.css
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/settings/light.css
  webpages/settings/style.css
Labels: pr - do not merge

#1230 Better better quoting
  addons/better-quoter/addon.json
  addons/better-quoter/userscript.js
Labels: scope: addon

#1331 Refactor traps
  addon-api/content-script/Tab.js
  addon-api/content-script/Trap.js
  addons/60fps/userscript.js
  addons/clones/userscript.js
  addons/data-category-tweaks-v2/userscript.js
  addons/editor-devtools/show-broadcast.js
  addons/editor-stepping/userscript.js
  addons/mediarecorder/userscript.js
  addons/mouse-pos/userscript.js
  addons/mute-project/userscript.js
  addons/onion-skinning/userscript.js
  addons/pause/userscript.js
  addons/project-info/blockcount.js
  addons/project-info/projectstats.js
  addons/remove-sprite-confirm/userscript.js
  background/get-userscripts.js
  content-scripts/prototype-handler.js
Labels: priority: 4, scope: addon api, status: needs review

#1334 Better better better quoting
  addons/better-quoter/userscript.js
Labels: priority: 3, scope: addon, status: needs review

#1335 Break loop early if _general.json is missing
  background/l10n.js
  content-scripts/inject/l10n.js
Labels: priority: 4, scope: extension workings, scope: l10n, status: needs review

#1319 Auto-hide block palette addon
  addons/addons.json
  addons/hide-flyout/addon.json
  addons/hide-flyout/lock.svg
  addons/hide-flyout/style.css
  addons/hide-flyout/unlock.svg
  addons/hide-flyout/userscript.js
Labels: scope: addon

#1339 Add jsdoc to everything
  .gitattributes
  addon-api/background/Addon.js
  addon-api/background/Badge.js
  addon-api/background/Notifications.js
  addon-api/background/typedef.js
  addon-api/common/Account.js
  addon-api/common/Addon.js
  addon-api/common/Auth.js
  addon-api/common/Listenable.js
  addon-api/common/Settings.js
  addon-api/common/fetch.js
  addon-api/content-script/Addon.js
  addon-api/content-script/ReduxHandler.js
  addon-api/content-script/Tab.js
  addon-api/content-script/Trap.js
  addon-api/content-script/typedef.js
  background/imports/run-persistent-scripts.js
Labels: priority: 4, scope: addon api, scope: documentation, status: needs review

#1344 Readme and license updates
  README.md
  libraries/CREDITS.md
  libraries/license-info.json
  libraries/licenses/BSD-3-Clause.txt
  libraries/licenses/BSD3c.txt
  libraries/licenses/MIT.txt
Labels: priority: 4, scope: documentation

#1332 Add a11y addon
  addons-l10n/en/a11y.json
  addons/a11y/addon.json
  addons/a11y/style.css
  addons/a11y/userscript.js
  addons/addons.json
Labels: scope: addon, status: pending

#1338 Line breaks in comments + bug fix
  addons/addons.json
  addons/comments-linebreaks/addon.json
  addons/comments-linebreaks/userscript.js
  addons/hide-flyout/userscript.js
Labels: scope: addon

#1345 Replace linkifyjs with a regex
  .eslintrc.json
  addon-api/content-script/Tab.js
  addon-api/content-script/worker.js
  addons/more-links/addon.json
  addons/more-links/userscript.js
  libraries/fast-linkify.js
  libraries/license-info.json
  libraries/linkify-element.min.js
  libraries/linkify.min.js
Labels: priority: 3, scope: addon, scope: addon api, status: needs review

#1348 Bump intl-messageformat
  libraries/CREDITS.md
  libraries/intl-messageformat.umd.min.js
Labels: priority: 4, scope: core, scope: l10n

#1351 Update .prettierignore
  .prettierignore
Labels: priority: 4, scope: ci

#1347 mediarecorder: improve UI and add options
  addons-l10n/en/mediarecorder.json
  addons/mediarecorder/addon.json
  addons/mediarecorder/style.css
  addons/mediarecorder/userscript.js
Labels: priority: 3, scope: addon, status: needs review

#1356 Fix typo and lint errors
  addons/a11y/userscript.js
  addons/comments-linebreaks/userscript.js
  addons/disable-auto-save/userscript.js
  addons/hide-flyout/userscript.js
  webpages/settings/index.js
Labels: priority: 4, scope: addon

#1360 Fix unreadable search bar
  addons/dark-www/experimental_forums.css
  addons/dark-www/experimental_scratchr2.css
Labels: priority: 4, scope: addon

#1365 Fix unreadable message count on bright primary color
  addons/scratchr2/lightprimary_compatibility.css
  addons/scratchr2/lightprimary_scratchwww_compatibility.css
  addons/scratchr2/scratchr2.css
Labels: priority: 4, scope: addon

#1359 Do not request permissions in callbacks
  webpages/settings/index.js
Labels: priority: 2, scope: webpages

#1367 Fix a11y addon name and description
  addons/a11y/addon.json
Labels: priority: 4, scope: addon

#1385 Linter fix
  addons/hide-flyout/userscript.js
Labels: priority: 4, scope: addon

#1403 Make some classes not use hardcoded hashes
  addons/clones/userscript.js
  addons/color-picker/paint-editor.js
  addons/editor-stage-left/stageleft.css
  addons/mouse-pos/userscript.js
Labels: priority: 4, scope: addon, scope: turbowarp

#1390 Developer Tools Modularising + Fixes
  addons/editor-devtools/BlockInstance.js
  addons/editor-devtools/BlockItem.js
  addons/editor-devtools/DevTools.js
  addons/editor-devtools/DomHelpers.js
  addons/editor-devtools/XML.js
  addons/editor-devtools/blockly/BlockFlasher.js
  addons/editor-devtools/blockly/UndoGroup.js
  addons/editor-devtools/blockly/Utils.js
  addons/editor-devtools/userscript.css
  addons/editor-devtools/userscript.js
Labels: scope: addon

#1414 Fix unused vars and return values
  addons/animated-thumb/userscript.js
  addons/better-featured-project/userscript.js
  background/handle-clipboard.js
  background/handle-fetch.js
  background/l10n.js
Labels: priority: 4, scope: addon, scope: core

#1416 Update URL regular expression
  libraries/fast-linkify.js
Labels: priority: 3, scope: addon

#1277 Css redo
  webpages/popup/style.css
  webpages/settings/light.css
  webpages/settings/style.css
  webpages/styles/colors.css
  webpages/styles/components/badges.css
  webpages/styles/components/categories.css
  webpages/styles/components/smallmode.css
  webpages/styles/components/tooltips.css
Labels: scope: design

#1419 New mode for "Auto-hide block palette" addon: Hover in category
  addons/hide-flyout/addon.json
  addons/hide-flyout/userscript.js
Labels: scope: addon, type: enhancement

#1463 Bump intl-messageformat
  images/screenshots/permissions-dark.png
  images/screenshots/permissions-light.png
  libraries/CREDITS.md
  libraries/intl-messageformat.umd.min.js
Labels: priority: 4, scope: deps

#1471 Support manager promotions
  addons-l10n/en/scratch-messaging.json
  addons-l10n/en/scratch-notifier.json
  addons/scratch-notifier/addon.json
  addons/scratch-notifier/background.js
  background/handle-l10n.js
  images/icons/admin-users.svg
  libraries/website-l10n.js
  popups/cloud-games/popup.js
  popups/scratch-messaging/popup.html
  popups/scratch-messaging/popup.js
Labels: priority: 3, scope: addon, scope: l10n, status: needs review

#1473 clones: improve performance
  addons/clones/style.css
  addons/clones/userscript.js
Labels: priority: 2, scope: addon
