Repository ScratchAddons/ScratchAddons, pull requests merged in 2021-06, with the labels that each got.

#2659 Implement addon.tab.direction
  addon-api/content-script/Tab.js
Labels: priority: 4, scope: addon api, scope: from turbowarp

#2661 More new studio page compatibility
  addons/dark-www/experimental_scratchwww.css
  addons/exact-count/studio.js
  addons/scratchr2/addon.json
  addons/scratchr2/lightprimary_scratchwww_compatibility.css
  addons/scratchr2/scratchwww.css
Labels: priority: 2, scope: addon

#2672 Use addon.tab.direction in addons
  addons/blocks2image/userscript.js
  addons/editor-devtools/DevTools.js
  addons/editor-devtools/userscript.js
  addons/mediarecorder/userscript.js
Labels: priority: 4, scope: addon

#2668 Bump dependencies
  addons/forum-search/userscript.js
  libraries/README.md
  libraries/thirdparty/cs/comlink.js
  libraries/thirdparty/cs/scratchblocks-v3.5-min.js
  libraries/thirdparty/cs/scratchblocks-v3.5.1-min.js
Labels: priority: 4, scope: deps

#2683 Fix some bugs in mouse-pos and clones
  addons/clones/style.css
  addons/clones/userscript.js
  addons/mouse-pos/style.css
  addons/mouse-pos/userscript.js
Labels: priority: 3, scope: addon

#2680 Make sure to only run userscripts once
  content-scripts/cs.js
Labels: priority: 2, scope: core

#2685 scratch-messaging: apply min-height instead of height
  popups/scratch-messaging/popup.css
Labels: priority: 3, scope: addon

#2688 Fix addon body CSS
  webpages/settings/components/addon-body.html
  webpages/styles/components/badges.css
Labels: priority: 4, scope: webpages

#2691 Fix unintentional changes to More settings in #2526 and #2688
  webpages/settings/index.html
  webpages/styles/components/modal.css
Labels: priority: 4, scope: webpages

#2687 Allow string min/max length to be specified by addons
  addons/discuss-button/addon.json
  webpages/settings/components/addon-setting.html
  webpages/settings/components/addon-setting.js
Labels: priority: 3, scope: addon, scope: addon.json, scope: webpages

#2684 SECURITY: Sanitize HTML returned from ScratchDB
  addons/forum-search/userscript.js
Labels: priority: 4, scope: addon, type: security

#2694 Fix clone count not showing when going out of editor
  addons/clones/style.css
  addons/clones/userscript.js
Labels: priority: 3, scope: addon

#2701 Fix tag tooltips not wrapping
  webpages/styles/components/badges.css
Labels: bug: regression, priority: 3, scope: webpages

#2699 Add two new settings to editor dark mode
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-dark-mode/stage.css
  content-scripts/cs.js
  libraries/common/cs/text-color.esm.js
  libraries/common/cs/text-color.js
Labels: priority: 3, scope: addon, scope: addon.json

#2719 Lint 20210609
  addons/clones/userscript.js
  addons/forum-search/userscript.js
  addons/my-ocular/reactions.js
  addons/redirect-mobile-forums/addon.json
  content-scripts/cs.js
  libraries/README.md
  libraries/thirdparty/cs/scratchblocks-v3.5.1-min.js
  libraries/thirdparty/cs/scratchblocks-v3.5.2-min.js
  webpages/settings/components/addon-body.js
Labels: priority: 4, scope: addon, scope: core, scope: deps, scope: webpages

#2700 scratch-messaging: linkify mentions and external URLs
  addons/scratch-messaging/background.js
  libraries/common/cs/fast-linkify.js
Labels: priority: 3, scope: addon, status: pending

#2723 Use singular "a bug" for string "report *it* here"
  _locales/en/messages.json
Labels: priority: 4, scope: l10n

#2724 Make it clearer links on settings page go to scratchaddons.com
  webpages/settings/components/category-selector.html
  webpages/settings/index.html
  webpages/settings/index.js
Labels: priority: 3, scope: webpages

#2722 Remove useless setting type:select from dark-www
  addons/dark-www/addon.json
Labels: priority: 3, scope: addon

#2746 editor-devtools: ignore Ctrl+Shift+F
  addons/editor-devtools/DevTools.js
Labels: priority: 4, scope: addon

#2745 Changes to debugger addon
  addon-api/content-script/blocks.js
  addons-l10n/en/debugger.json
  addons/debugger/error.svg
  addons/debugger/style.css
  addons/debugger/userscript.js
  addons/debugger/warning.svg
Labels: priority: 3, scope: addon

#2748 feature-unshared: pollute XHR.open
  addons/feature-unshared/addon.json
  addons/feature-unshared/userscript.js
Labels: priority: 3, scope: addon

#2750 Lint 20210612
  addons/debugger/add.svg
  addons/debugger/debug-unread.svg
  addons/debugger/debug.svg
  addons/debugger/delete.svg
  addons/debugger/download-white.svg
  addons/debugger/play.svg
  addons/message-filters/userscript.js
  webpages/settings/index.js
Labels: priority: 3, scope: addon, scope: webpages

#2759 Handle various errors from message fetching
  addons/scratch-messaging/background.js
  background/handle-messages.js
  popups/scratch-messaging/popup.js
Labels: priority: 3, scope: addon

#2767 Add YouTube changelog video link to update notification
  content-scripts/cs.js
  images/cs/catblocks.png
  images/cs/yt-thumbnail.png
Labels: priority: 2, scope: core

#2781 Addon credits change
  addons/dark-www/addon.json
  addons/editor-dark-mode/addon.json
  addons/resizable-comment-input/addon.json
  addons/scratchr2/addon.json
  addons/scratchstats/addon.json
  addons/show-bbcode/addon.json
  addons/youtube-fullscreen/addon.json
Labels: priority: 4, scope: addon

#2802 Fix new reactions UI bugs
  addons/my-ocular/reactions.css
  addons/my-ocular/reactions.js
Labels: priority: 4, scope: addon

#2803 Move `handleKeySettings` to addon-settings component
  webpages/settings/components/addon-setting.html
  webpages/settings/components/addon-setting.js
  webpages/settings/index.js
Labels: priority: 3, scope: webpages

#2806 [v1.16.2] Fix scratch messaging saying "Please login" when comment reply is deleted
  addons/scratch-messaging/background.js
Labels: bug: regression, priority: 2, scope: addon

#2809 Bring addon changes from TurboWarp
  addons/2d-color-picker/paint-editor.js
  addons/block-switching/userscript.js
  addons/clones/userscript.js
  addons/custom-zoom/userscript.js
  addons/editor-devtools/DevTools.js
  addons/editor-devtools/DomHelpers.js
  addons/editor-devtools/userscript.js
  addons/hide-flyout/userscript.js
  addons/mute-project/userscript.js
Labels: priority: 4, scope: addon, scope: tech debt

#2804 debugger: fix more bugs
  addon-api/content-script/blocks.js
  addons/debugger/userscript.js
Labels: priority: 3, scope: addon

#2812 material-forum-editor-buttons: show posted images
  addons/material-forum-editor-buttons/icons.css
Labels: priority: 4, scope: addon

#2816 scratch-messaging: use raw href for relative path rewriting
  addons/scratch-messaging/background.js
Labels: priority: 3, scope: addon

#2811 copy-messaging-link: add button when the report button gets re-rendered
  addons/copy-message-link/profile.js
Labels: priority: 3, scope: addon

#2819 Fix deleting procedures when debugger blocks exist and don't show "Edit" context menu item
  addon-api/content-script/blocks.js
Labels: priority: 3, scope: addon

#2817 studio-tools: add errors related to manager limit
  addons-l10n/en/studio-tools.json
  addons/studio-tools/migrated.js
Labels: priority: 2, scope: addon

#2824 Make reacting to posts using the keyboard possible
  addons/my-ocular/reactions.css
  addons/my-ocular/reactions.js
Labels: priority: 4, scope: addon

#2813 scratch-messaging: make links an actual link
  popups/scratch-messaging/popup.html
  popups/scratch-messaging/popup.js
Labels: priority: 4, scope: addon

#2828 scratch-notifier: add two new emojis
  addons/scratch-notifier/comment-emojis.js
Labels: priority: 2, scope: addon

#2831 Fix "copy link to comment" not working properly on profiles when loading more pages
  addons/copy-message-link/profile.js
Labels: priority: 3, scope: addon

#2835 Mark studio-tools as beta addon
  addons/studio-tools/addon.json
Labels: priority: 2, scope: addon

#2837 scratch-messaging: use correct link color
  popups/scratch-messaging/popup.css
  popups/scratch-messaging/popup.html
  webpages/styles/components/popup.css
Labels: bug: regression, priority: 2, scope: addon, scope: webpages

#2836 Fix remix tree dark mode
  addons/dark-www/addon.json
  addons/dark-www/experimental_remixtree.css
Labels: priority: 4, scope: addon

#2843 Fix Scratch Messaging light mode
  popups/scratch-messaging/light.css
Labels: bug: regression, priority: 2, scope: addon

#2886 New studio fixes
  addons/dark-www/experimental_scratchwww.css
  addons/scratchr2/lightprimary_scratchwww_compatibility.css
  addons/scratchr2/scratchwww.css
  addons/studio-tools/migrated.js
  addons/studio-tools/userstyle.css
Labels: priority: 2, scope: addon

#2888 Fix bugs with urlChange event
  content-scripts/inject/module.js
Labels: priority: 3, scope: core
