Repository ScratchAddons/ScratchAddons, pull requests merged in 2021-09, with the labels that each got.

#3405 Dont update post count if number on scratch is higher than scratchdb's count
  addons/exact-count/forum.js
Labels: priority: 4, scope: addon

#3432 variable-manager: avoid crash if Redux unavailable
  addons/variable-manager/userscript.js
Labels: priority: 4, scope: addon

#3431 Remove variables from dynamically disabled addons
  content-scripts/cs.js
Labels: priority: 4, scope: core

#3429 Implement Tab.createEditorContextMenu
  addon-api/content-script/Tab.js
  addon-api/content-script/Trap.js
  addon-api/content-script/contextmenu.js
  addons-l10n/en/editor-devtools.json
  addons-l10n/en/move-to-top-bottom.json
  addons/addons.json
  addons/editor-devtools/DevTools.js
  addons/editor-devtools/userscript.js
  addons/folders/userscript.js
  addons/move-to-top-bottom/addon.json
  addons/move-to-top-bottom/userscript.js
  background/get-addon-settings.js
Labels: scope: addon api, priority: 3, scope: addon

#3473 editor-extra-keys: use quotes in description
  addons/editor-extra-keys/addon.json
Labels: priority: 3, scope: addon

#3486 Lint 20210913
  addons/editor-unshare-button/userscript.js
  addons/remix-button/userscript.js
  libraries/README.md
  libraries/thirdparty/cs/text-field-edit.js
Labels: priority: 4, scope: deps

#3494 `image-uploader`: Fix dragging and dropping on Firefox
  addons/image-uploader/userscript.js
Labels: priority: 3, platform: firefox, scope: addon

#3500 Revert "studio-tools: actually update redux instead of reloading"
  addons/studio-tools/migrated.js
Labels: priority: 2, scope: addon

#3365 Support host transfer
  addons-l10n/en/message-filters.json
  addons-l10n/en/scratch-messaging.json
  addons-l10n/en/scratch-notifier.json
  addons/dark-www/experimental_scratchwww.css
  addons/message-filters/userscript.js
  addons/scratch-notifier/addon.json
  addons/scratch-notifier/background.js
  addons/scratchr2/scratchwww.css
  addons/studio-tools/migrated.js
  background/load-addon-manifests.js
  images/icons/users.svg
  popups/scratch-messaging/popup.html
  popups/scratch-messaging/popup.js
Labels: priority: 2, scope: addon

#3519 comments-linebreak: fix style during profile load
  addons/comments-linebreaks/addon.json
  addons/comments-linebreaks/break-spaces.css
  addons/comments-linebreaks/userscript.js
Labels: priority: 4, scope: addon

#3513 More reliable ctrl key detection
  addons/block-cherry-picking/userscript.js
  addons/ctrl-click-run-scripts/userscript.js
Labels: priority: 3, scope: addon

#3520 Stop asking for feedback on debugger logs window
  addons-l10n/en/debugger.json
  addons/debugger/style.css
  addons/debugger/userscript.js
Labels: priority: 3, scope: addon

#3521 Fix unrecognized explore routes
  background/get-userscripts.js
Labels: priority: 3, scope: addon

#3527 Fix #3525
  addons/editor-extra-keys/userscript.js
Labels: priority: 3, scope: addon

#3539 Use studio.host in Redux and fallback to studio.owner
  addons/studio-followers/userscript.js
  addons/studio-tools/migrated.js
Labels: priority: 2, scope: addon
