Repository ScratchAddons/ScratchAddons, pull requests merged in 2021-08, with the labels that each got.

#3185 studio-tools: add back leave string
  addons-l10n/en/studio-tools.json
  addons/studio-tools/mystuff.js
Labels: priority: 3, scope: addon

#3189 Fix only first row of select setting options being visible in the popup
  webpages/styles/components/filter.css
Labels: bug: regression, priority: 3, scope: webpages

#3195 Fix some auth issues
  background/handle-auth.js
  content-scripts/inject/run-userscript.js
Labels: bug: regression, priority: 3, scope: core

#3203 Lint 20210802
  addon-api/content-script/Tab.js
  addons/editor-colored-context-menus/userscript.js
  addons/editor-devtools/DevTools.js
Labels: priority: 4, scope: addon, scope: addon api

#3204 Fix post links with Scratch 2.0 → 3.0
  addons/scratchr2/forums.css
Labels: priority: 4, scope: addon

#3209 forum-search: stop erroring in signature page
  addons/forum-search/userscript.js
Labels: priority: 3, scope: addon

#3214 Add noopener and noreferrer to notification link
  content-scripts/cs.js
Labels: priority: 4, scope: core

#3213 infinite-scroll: fix compat with items-per-row
  addons/infinite-scroll/buttonScroll.js
Labels: priority: 4, scope: addon

#3219 ctrl-enter-post: stop erroring in console when topic is closed
  addons/ctrl-enter-post/forums.js
Labels: priority: 3, scope: addon

#3221 forum-search: remove dead code in cleanPost
  addons/forum-search/userscript.js
Labels: priority: 4, scope: addon, scope: tech debt

#3224 Guard callback call on context menu
  addon-api/content-script/Tab.js
Labels: priority: 3, scope: addon api

#3226 better-img-uploads: fix button showing up in sounds tab
  addons/better-img-uploads/userscript.js
Labels: priority: 4, scope: addon

#3199 New addon: Create empty sprite/costume instead of opening library
  addons/addons.json
  addons/paint-by-default/addon.json
  addons/paint-by-default/userscript.js
Labels: priority: 3, scope: addon

#3264 turbowarp-player: set label after button click
  addons/turbowarp-player/userscript.js
Labels: priority: 4, scope: addon

#3265 debugger: do not pause in project page
  addons-l10n/en/debugger.json
  addons/debugger/userscript.js
Labels: priority: 3, scope: addon

#3266 Make dark costume editor optional
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-dark-mode/paper.css
  addons/editor-dark-mode/paper.js
Labels: source: feedback, scope: addon

#3263 drag-drop: do not HD-upload images
  addons/better-img-uploads/userscript.js
  addons/drag-drop/addon.json
  addons/drag-drop/userscript.js
Labels: priority: 3, scope: addon

#3276 Fix incorrect text color of custom block parameters
  addons/editor-theme3/theme3.js
Labels: priority: 4, scope: addon

#3277 Change logic of matchesIf
  background/get-userscripts.js
Labels: priority: 4, scope: core, scope: tech debt

#3273 Fix URL matches and more
  addons/dark-www/addon.json
  addons/dark-www/experimental_forums.css
  addons/dark-www/experimental_forums_preview.js
  addons/dark-www/experimental_scratchr2.css
  addons/forum-search/addon.json
  addons/scratchr2/addon.json
  background/get-userscripts.js
Labels: priority: 3, scope: addon, scope: core

#3278 Remove SEC page from scratchWWWNoProject
  background/get-userscripts.js
Labels: priority: 4, scope: core

#3060 New addon: forum-toolbar
  addon-api/content-script/Tab.js
  addons-l10n/en/forum-toolbar.json
  addons/addons.json
  addons/forum-toolbar/addon.json
  addons/forum-toolbar/center.svg
  addons/forum-toolbar/code.svg
  addons/forum-toolbar/color.svg
  addons/forum-toolbar/dictionary.svg
  addons/forum-toolbar/google.svg
  addons/forum-toolbar/link.svg
  addons/forum-toolbar/userscript.js
  addons/forum-toolbar/userstyle.css
  addons/forum-toolbar/wp.svg
  addons/image-uploader/userscript.js
  content-scripts/cs.js
Labels: scope: addon api, priority: 3, scope: addon, scope: core

#3202 Add debugger block support to editor-theme3
  addons/editor-theme3/addon.json
  addons/editor-theme3/theme3.css
  addons/editor-theme3/theme3.js
Labels: priority: 4, scope: addon

#3205 New addon: hide-delete-button
  addons/addons.json
  addons/hide-delete-button/addon.json
  addons/hide-delete-button/costumes.css
  addons/hide-delete-button/sounds.css
  addons/hide-delete-button/sprites.css
Labels: source: feedback, priority: 3, scope: addon

#3294 Bruh.
  addons/compact-messages/addon.json
  addons/customize-avatar-border/addon.json
  addons/infinite-scroll/addon.json
Labels: priority: 3, scope: addon, bug: regression

#3295 Suppress errors on failed dynamic enable/disable in Firefox
  background/get-userscripts.js
Labels: priority: 4, platform: firefox, scope: core

#3296 Fix addons sometimes not loading
  background/get-userscripts.js
Labels: priority: 2, scope: core

#3287 Run addons in TurboWarp embed
  addon-api/common/Self.js
  addons/live-featured-project/addon.json
  addons/live-featured-project/script.js
  addons/turbowarp-player/addon.json
  addons/turbowarp-player/userscript.js
  background/get-userscripts.js
  content-scripts/cs.js
  content-scripts/inject/module.js
Labels: scope: addon api, priority: 3, scope: addon, scope: core

#3303 Lint 20210817
  addons/scratchblocks/userscript.js
  content-scripts/cs.js
  libraries/README.md
Labels: priority: 4, scope: addon, scope: core, scope: deps

#3318 Enable some eslint rules
  .eslintrc.json
Labels: priority: 4, scope: tech debt

#3306 Do not load scratchblocks addon
  addons/addons.json
Labels: scope: addon

#3323 Fix typo in hide-project-stats setting name
  addons/hide-project-stats/addon.json
Labels: priority: 3, scope: addon

#3320 Refactor addon state changing
  addon-api/background/Notifications.js
  background/background.html
  background/get-userscripts.js
  background/handle-permissions.js
  background/handle-settings-page.js
  background/handle-site-access.js
  background/imports/change-addon-state.js
  background/imports/run-persistent-scripts.js
  background/imports/util.js
Labels: scope: addon api, priority: 2, scope: core

#3329 hide-delete-button: add featured tag
  addons/hide-delete-button/addon.json
Labels: priority: 3, scope: addon

#3330 better-img-uploads: un-hardcode HTML
  addons/better-img-uploads/userscript.js
Labels: priority: 4, scope: tech debt

#3338 scratch-messaging: support multiline comments
  addons/scratch-messaging/background.js
  popups/scratch-messaging/popup.css
Labels: priority: 3, scope: addon

#3341 scratch-messaging: fix profile comments with linebreaks
  addons/comments-linebreaks/addon.json
  addons/comments-linebreaks/break-spaces.css
  addons/comments-linebreaks/userscript.js
  addons/scratch-messaging/background.js
  libraries/common/cs/format-profile-comments.js
Labels: priority: 2, scope: addon, bug: regression

#3356 paint-by-default: fix sound setting when no sounds exist
  addons/paint-by-default/userscript.js
Labels: priority: 3, scope: addon

#3360 scratch-messaging: remove extra spaces
  addons/scratch-messaging/background.js
Labels: priority: 4, scope: addon

#3403 Block switching: "play sound" → "start sound"
  addons-l10n/en/block-switching.json
Labels: priority: 4, scope: addon
