Repository ScratchAddons/ScratchAddons, pull requests merged in 2021-07, with the labels that each got.

#2895 editor-theme3: remove refresheditor notice
  addons/editor-theme3/addon.json
Labels: priority: 4, scope: addon

#2761 Rewrite `editor-searchable-dropdowns` and add new options in dropdowns
  addons-l10n/en/editor-searchable-dropdowns.json
  addons/editor-searchable-dropdowns/userscript.css
  addons/editor-searchable-dropdowns/userscript.js
Labels: priority: 4, scope: addon

#2918 New studio stuff
  addons-l10n/en/scratch-messaging.json
  addons-l10n/en/studio-tools.json
  addons/comments-linebreaks/addon.json
  addons/confirm-actions/userscript.js
  addons/copy-message-link/addon.json
  addons/dark-www/addon.json
  addons/dark-www/experimental_scratchwww.css
  addons/dark-www/experimental_studio.css
  addons/exact-count/addon.json
  addons/exact-count/studio.js
  addons/infinite-scroll/addon.json
  addons/infinite-scroll/buttonScroll.js
  addons/more-links/addon.json
  addons/more-links/userscript.js
  addons/resizable-comment-input/addon.json
  addons/scratchr2/addon.json
  addons/scratchr2/studio.css
  addons/studio-tools/addon.json
  addons/studio-tools/migrated.js
  addons/studio-tools/userscript.js
  addons/true-youtube-links/addon.json
  background/get-userscripts.js
  content-scripts/cs.js
  popups/scratch-messaging/popup.js
Labels: priority: 1, scope: addon, scope: core

#2938 master: infinite-scroll: use new class names
  addons/infinite-scroll/buttonScroll.js
Labels: priority: 2, scope: addon

#2937 infinite-scroll: use new class names
  addons/infinite-scroll/buttonScroll.js
Labels: priority: 2, scope: addon

#2949 Increase hitbox for expanding/collapsing addons
  webpages/settings/components/addon-body.html
  webpages/settings/style.css
Labels: priority: 4, scope: webpages

#2871 Popup-related changes
  .eslintrc.json
  addon-api/popup/Addon.js
  addon-api/popup/Popup.js
  addons-l10n/README.md
  addons-l10n/en/cloud-games.json
  addons/cloud-games/addon.json
  addons/scratch-messaging/addon.json
  background/background.html
  background/declare-scratchaddons-object.js
  background/get-popups.js
  background/handle-messages.js
  background/imports/global-state.js
  popups/cloud-games/light.css
  popups/cloud-games/popup.css
  popups/cloud-games/popup.html
  popups/cloud-games/popup.js
  popups/scratch-messaging/popup.css
  popups/scratch-messaging/popup.html
  popups/scratch-messaging/popup.js
  webpages/popup-loader.js
  webpages/popup/index.js
Labels: priority: 3, scope: addon, scope: addon api, scope: addon.json, scope: core, scope: webpages

#2963 expanding-search-bar: add dynamic enable/disable
  addons/expanding-search-bar/addon.json
  addons/expanding-search-bar/expanding-search-bar.js
Labels: priority: 4, scope: addon

#2964 Add Popup.getSelectedTabUrl
  addon-api/popup/Popup.js
  content-scripts/cs.js
Labels: priority: 3, scope: addon api

#2947 Add old studio layout addon
  addons/addons.json
  addons/dark-www/experimental_scratchwww.css
  addons/old-studio-layout/addon.json
  addons/old-studio-layout/classes.js
  addons/old-studio-layout/default.css
  addons/old-studio-layout/scratchr2.css
  addons/old-studio-layout/style.css
  addons/scratchr2/addon.json
  addons/studio-tools/migrated.js
Labels: priority: 3, scope: addon

#2955 Add dynamic enable/disable to some addons
  addons/animated-thumb/addon.json
  addons/animated-thumb/userscript.js
  addons/bitmap-copy/addon.json
  addons/bitmap-copy/userscript.js
  addons/color-picker/addon.json
  addons/color-picker/code-editor.js
  addons/color-picker/paint-editor.js
  addons/copy-message-link/addon.json
  addons/copy-message-link/profile.css
  addons/copy-message-link/profile.js
  addons/copy-message-link/project.js
  addons/drag-drop/addon.json
  addons/drag-drop/userscript.js
  addons/image-uploader/addon.json
  addons/image-uploader/userscript.js
  addons/my-ocular/addon.json
  addons/my-ocular/discuss.js
  addons/my-ocular/reactions.js
  addons/remix-tree-button/addon.json
  addons/remix-tree-button/main.js
  addons/remove-sprite-confirm/addon.json
  addons/remove-sprite-confirm/userscript.js
  addons/scratchstats/addon.json
  addons/scratchstats/userscript.js
  addons/search-profile/addon.json
  addons/search-profile/userscript.js
  addons/show-bbcode/addon.json
  addons/show-bbcode/userscript.js
  addons/variable-manager/addon.json
  addons/variable-manager/userscript.js
  addons/youtube-fullscreen/addon.json
Labels: priority: 3, scope: addon

#2977 Fix crash when stMessages is an object due to error
  popups/scratch-messaging/popup.js
Labels: priority: 3, scope: addon

#2979 Fix crash when copy-message-link loads sooner than the website
  addon-api/content-script/Tab.js
  addons/copy-message-link/project.js
  content-scripts/inject/module.js
Labels: priority: 3, scope: addon, scope: addon api, scope: core

#2980 infinite-scroll: request on rising edge
  addons/infinite-scroll/buttonScroll.js
Labels: priority: 3, scope: addon

#2981 Fix lint errors
  addon-api/content-script/Tab.js
  addons/clones/userscript.js
  addons/debugger/userscript.js
  addons/expanding-search-bar/expanding-search-bar.js
  addons/mouse-pos/userscript.js
  addons/project-info/projectstats.js
  addons/studio-tools/migrated.js
  webpages/settings/index.js
Labels: priority: 4, scope: addon, scope: addon api, scope: webpages

#2985 Add new API to wait for redux state
  addon-api/content-script/ReduxHandler.js
  addons/studio-tools/migrated.js
Labels: priority: 3, scope: addon, scope: addon api

#2992 infinite-scroll: add settingMatch to discuss.css
  addons/infinite-scroll/addon.json
Labels: priority: 2, scope: addon

#2994 Revert "Unzip and pack"
  .github/workflows/packer.yml
Labels: priority: 4, scope: ci

#2998 Lint 20210713
  addons-l10n/zh-tw/forum-search.json
  addons/better-img-uploads/icon.svg
  addons/debugger/add.svg
  addons/old-studio-layout/classes.js
  addons/studio-followers/add.svg
  addons/studio-followers/tick.svg
  addons/studio-followers/userscript.js
Labels: priority: 4, scope: addon, scope: l10n

#2996 Enable scratchr2 version of old-studio-layout for addon users
  background/get-addon-settings.js
Labels: priority: 3, scope: core

#2997 Improve follower tiles and remove unnecessarily duplicated Scratch CSS
  addons/studio-followers/lib.js
  addons/studio-followers/modal.css
Labels: priority: 3, scope: addon

#2961 Improve warning and notice colors
  webpages/settings/components/addon-body.html
  webpages/settings/light.css
Labels: priority: 4, scope: webpages

#3016 studio-tools: use leave-new string
  addons/studio-tools/mystuff.js
Labels: bug: regression, priority: 2, scope: addon

#2995 Improve Browse Followers modal scrolling
  addons/infinite-scroll/buttonScroll.js
  addons/studio-followers/modal.css
  addons/studio-followers/userscript.js
Labels: priority: 3, scope: addon

#3031 Fix editor-devtools and editor-searchable-dropdowns compatibility
  addons/editor-devtools/DevTools.js
Labels: priority: 3, scope: addon

#3025 Improve addon.tab.addBlock displayName
  addon-api/content-script/blocks.js
Labels: priority: 3, scope: addon api

#3034 better-img-uploads: remove gif from acceptable files
  addons/better-img-uploads/userscript.js
Labels: priority: 3, scope: addon

#3045 Stop addon execution when color picker update is detected
  addons/2d-color-picker/paint-editor.js
  addons/color-picker/paint-editor.js
  addons/onion-skinning/userscript.js
Labels: priority: 2, scope: addon

#3043 last-edit-tooltip: use redux instead of fetching
  addons/last-edit-tooltip/userscript.js
Labels: priority: 4, scope: addon, scope: tech debt

#3053 old-studio-layout: fix title overflow
  addons/old-studio-layout/style.css
Labels: priority: 4, scope: addon

#3083 editor-searchable-dropdowns: fix a couple bugs
  addons/editor-searchable-dropdowns/userscript.js
Labels: priority: 3, scope: addon

#2976 Refactor auth API and allow multiple cookie stores
  addon-api/common/Account.js
  addon-api/common/Auth.js
  addon-api/content-script/Account.js
  addon-api/content-script/Addon.js
  addon-api/content-script/Auth.js
  addons/full-signature/happen.js
  addons/my-ocular/reactions.js
  addons/scratch-messaging/background.js
  addons/scratch-notifier/background.js
  addons/studio-followers/userscript.js
  addons/studio-tools/migrated.js
  background/get-userscripts.js
  background/handle-auth.js
  background/imports/global-state.js
  background/imports/local-state.js
  content-scripts/cs.js
  content-scripts/inject/module.js
Labels: priority: 4, scope: addon, scope: addon api, scope: core

#3089 editor-stage-left: rewrite fix-share-the-love without urlChange
  addons/editor-stage-left/fix-share-the-love.js
Labels: priority: 4, scope: addon, scope: tech debt

#3092 Lint 20210725
  addon-api/popup/typedef.js
  addons/better-img-uploads/icon.svg
  addons/ctrl-enter-post/comments.js
  addons/ctrl-enter-post/forums.js
  addons/studio-followers/tick.svg
Labels: priority: 4, scope: addon, scope: documentation

#3090 Remove unneccesary notice
  addons/pause/addon.json
Labels: priority: 4, scope: addon

#3091 exact-count: use fetch instead of XHR, omit credentials
  addons/exact-count/user.js
Labels: priority: 3, scope: addon

#3093 Fix lint warning on hasOwnProperty
  addons/editor-dark-mode/bubbles.js
Labels: priority: 4, scope: addon

#3095 exact-count: remove XHR from studio code
  addons/exact-count/studio.js
Labels: priority: 4, scope: addon, scope: tech debt

#3106 Use "projects" match for editor and project player addons
  addons/2d-color-picker/addon.json
  addons/60fps/addon.json
  addons/animated-thumb/addon.json
  addons/better-img-uploads/addon.json
  addons/bitmap-copy/addon.json
  addons/block-palette-icons/addon.json
  addons/block-switching/addon.json
  addons/blocks2image/addon.json
  addons/cat-blocks/addon.json
  addons/clones/addon.json
  addons/color-picker/addon.json
  addons/custom-block-shape/addon.json
  addons/custom-zoom/addon.json
  addons/data-category-tweaks-v2/addon.json
  addons/disable-auto-save/addon.json
  addons/drag-drop/addon.json
  addons/editor-colored-context-menus/addon.json
  addons/editor-dark-mode/addon.json
  addons/editor-devtools/addon.json
  addons/editor-messages/addon.json
  addons/editor-searchable-dropdowns/addon.json
  addons/editor-sounds/addon.json
  addons/editor-stage-left/addon.json
  addons/editor-stepping/addon.json
  addons/editor-theme3/addon.json
  addons/fix-uploaded-svgs/addon.json
  addons/folders/addon.json
  addons/gamepad/addon.json
  addons/hide-flyout/addon.json
  addons/initialise-sprite-position/addon.json
  addons/last-edit-tooltip/addon.json
  addons/load-extensions/addon.json
  addons/mediarecorder/addon.json
  addons/mouse-pos/addon.json
  addons/mute-project/addon.json
  addons/onion-skinning/addon.json
  addons/pause/addon.json
  addons/progress-bar/addon.json
  addons/project-info/addon.json
  addons/project-notes-tabs/addon.json
  addons/remix-tree-button/addon.json
  addons/remove-curved-stage-border/addon.json
  addons/remove-sprite-confirm/addon.json
  addons/variable-manager/addon.json
Labels: priority: 3, scope: addon

#3110 Fix dark bubbles crashing when renderer is not available
  addons/editor-dark-mode/bubbles.js
Labels: bug: regression, priority: 2, scope: addon

#2682 Create TurboWarp Player Addon
  addons-l10n/en/turbowarp-player.json
  addons/addons.json
  addons/turbowarp-player/addon.json
  addons/turbowarp-player/icon.svg
  addons/turbowarp-player/style.css
  addons/turbowarp-player/userscript.js
Labels: scope: addon

#3036 CSS and design improvements
  popups/cloud-games/light.css
  popups/cloud-games/popup.css
  popups/cloud-games/popup.html
  popups/scratch-messaging/light.css
  popups/scratch-messaging/popup.css
  popups/scratch-messaging/popup.html
  popups/scratch-messaging/popup.js
  webpages/popup-loader.js
  webpages/popup/index.html
  webpages/popup/index.js
  webpages/popup/light.css
  webpages/popup/style.css
  webpages/settings/components/addon-body.html
  webpages/settings/components/addon-group-header.html
  webpages/settings/components/addon-setting.html
  webpages/settings/components/category-selector.html
  webpages/settings/components/reset-dropdown.html
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/settings/licenses.html
  webpages/settings/light.css
  webpages/settings/permissions.html
  webpages/settings/style.css
  webpages/styles/colors-light.css
  webpages/styles/colors.css
  webpages/styles/components/badges.css
  webpages/styles/components/categories.css
  webpages/styles/components/enablepopup.css
  webpages/styles/components/filter.css
  webpages/styles/components/modal.css
  webpages/styles/components/popup.css
  webpages/styles/components/search.css
  webpages/styles/components/smallmode.css
  webpages/styles/components/tooltips.css
Labels: scope: addon, scope: design, scope: webpages

#3138 Run 60fps, mute-project, and pause in embeds
  addons/60fps/addon.json
  addons/mute-project/addon.json
  addons/pause/addon.json
Labels: bug: regression, scope: addon

#3153 Add `v-cloak` to search toolbar
  webpages/settings/index.html
Labels: bug: regression, priority: 3, scope: webpages

#3147 We can keep the stage the exact same size
  addons/turbowarp-player/style.css
  addons/turbowarp-player/userscript.js
Labels: priority: 3, scope: addon

#3104 Clean up in DevTools remove unused lists.
  addons-l10n/en/editor-devtools.json
  addons/editor-devtools/DevTools.js
Labels: priority: 3, scope: addon

#3160 Seemingly fix syntax highlighting in settings page
  webpages/settings/index.html
Labels: priority: 4, scope: tech debt, scope: webpages

#3161 Lint 20210730
  addons/turbowarp-player/icon.svg
  addons/turbowarp-player/userscript.js
  libraries/README.md
  webpages/settings/components/addon-setting.html
Labels: priority: 4, scope: addon, scope: deps, scope: webpages

#3157 dark-www changes
  addons/dark-www/experimental_scratchr2.css
  addons/dark-www/experimental_scratchwww.css
  addons/dark-www/scrollbar.css
  addons/scratchr2/mystuff.css
  addons/scratchr2/scratchr2.css
Labels: priority: 4, scope: addon

#3144 More items per row addon
  addons/addons.json
  addons/items-per-row/addon.json
  addons/items-per-row/classes.js
  addons/items-per-row/mediagrid.css
  addons/items-per-row/search.css
  addons/items-per-row/studio.css
  addons/old-studio-layout/addon.json
Labels: scope: addon

#1754 addon.tab.createBlockContextMenu API
  addon-api/content-script/Tab.js
  addons-l10n/en/blocks2image.json
  addons/block-switching/userscript.js
  addons/blocks2image/userscript.js
  addons/editor-devtools/DevTools.js
Labels: scope: addon api, scope: core

#3174 Lint 20210731
  addon-api/content-script/Tab.js
  addons/block-switching/userscript.js
  addons/blocks2image/userscript.js
  addons/editor-devtools/DevTools.js
  background/handle-auth.js
  background/transition.js
  webpages/settings/components/addon-setting.js
Labels: priority: 2, scope: addon, scope: addon api, scope: core, scope: webpages

#3165 editor-theme3 fixes
  addons/editor-colored-context-menus/userscript.css
  addons/editor-colored-context-menus/userscript.js
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-theme3/theme3.css
  addons/editor-theme3/theme3.js
Labels: scope: addon
