Repository ScratchAddons/ScratchAddons, pull requests merged in 2022-03, with the labels that each got.

#4340 Settings: fix display when there are no results to show
  _locales/en/messages.json
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/settings/style.css
Labels: priority: 3, scope: webpages

#4226 Horizontal My Stuff tabs addon
  addons/addons.json
  addons/horizontal-mystuff-tabs/addon.json
  addons/horizontal-mystuff-tabs/scratchr2.css
  addons/horizontal-mystuff-tabs/style.css
  addons/scratchr2/mystuff.css
Labels: new addon, scope: addon

#4357 Bump chart.js to v3.7.1
  libraries/README.md
  libraries/thirdparty/cs/chart.min.js
Labels: priority: 4, scope: deps

#4335 Change minimum supported Firefox version, remove unused code
  addon-api/popup/Popup.js
  background/get-userscripts.js
  background/handle-unsupported-version.js
  background/imports/global-state.js
  content-scripts/cs.js
Labels: priority: 3, scope: core, scope: tech debt

#4372 Bump scratchblocks to v3.6.0, use ESM
  addons/scratchblocks/userscript.js
  libraries/README.md
  libraries/thirdparty/cs/scratchblocks-v3.5.2-min.js
  libraries/thirdparty/cs/scratchblocks.min.es.js
  libraries/thirdparty/cs/translations-all-es.js
  libraries/thirdparty/cs/translations-all-v3.5.2.js
Labels: priority: 3, scope: addon, scope: deps

#4382 Fix `scratchWWWNoProject` regex
  background/get-userscripts.js
Labels: priority: 2, scope: core, bug: regression

#3953 Color Inputs Addon
  addons/addons.json
  addons/color-inputs/addon.json
  addons/color-inputs/userscript.js
Labels: new addon, scope: addon

#4381 Exclude 500 and 503 errors from isNotScratchWWW
  background/get-userscripts.js
Labels: priority: 4, scope: core

#4393 Link to scratchaddons.com/credits instead of /contributors
  webpages/settings/index.html
  webpages/settings/index.js
Labels: priority: 3, scope: webpages

#4427 Remove use of InstallTrigger for UA detection
  addon-api/common/Self.js
  libraries/common/notification-util.js
Labels: scope: addon api, priority: 3, scope: core, scope: tech debt

#4433 Lint 20220322
  .github/workflows/format-code.yml
  .github/workflows/packer.yml
  .github/workflows/schema-validation.yml
  .github/workflows/transifex.yml
  .github/workflows/unittest.yml
  libraries/README.md
  libraries/thirdparty/cs/text-field-edit.js
  libraries/thirdparty/sortable.min.js
Labels: priority: 4, scope: ci, scope: deps
