Repository ScratchAddons/ScratchAddons, pull requests merged in 2022-02, with the labels that each got.

#4166 scratchr2: fix z-index
  addons/scratchr2/scratchr2_comments.css
Labels: priority: 2, scope: addon, bug: regression

#4190 Fix _step trap race affecting clones and variable-manager
  addons/clones/userscript.js
  addons/variable-manager/userscript.js
Labels: priority: 2, scope: addon, bug: regression

#4192 scratch-notifier: do not play ping sound for disabled notifications
  addons/scratch-notifier/notifier.js
Labels: priority: 3, scope: addon, bug: regression

#4194 More messaging refactor
  libraries/common/message-cache.js
  popups/scratch-messaging/api.js
  popups/scratch-messaging/popup.html
  popups/scratch-messaging/popup.js
  webpages/popup-loader.js
  webpages/popup/index.html
Labels: priority: 3, scope: addon, scope: webpages, scope: tech debt

#4213 Make getBlockly error more detailed for debugging purposes
  addon-api/content-script/Trap.js
Labels: scope: addon api, priority: 4, scope: tech debt

#4214 editor-stepping: Don't spew errors if workspace is null
  addons/editor-stepping/highlighter.js
Labels: priority: 4, scope: addon

#4216 Fix code blocks inside quotes again
  addons/dark-www/addon.json
  addons/forum-quote-code-beautifier/main.css
  content-scripts/cs.js
Labels: scope: addon.json, priority: 4, scope: addon, scope: core

#4218 2.0 → 3.0: fix delete account confirmation page
  addons/dark-www/blue_banners_scratchr2.css
  addons/scratchr2/addon.json
  addons/scratchr2/mystuff.css
  addons/scratchr2/v_tabs.css
Labels: priority: 4, scope: addon

#4219 Error with not showing loading message
  popups/scratch-messaging/popup.js
Labels: priority: 4, scope: addon

#4233 Improve install from source for Firefox
  README.md
Labels: scope: documentation, priority: 4

#4237 Remove unnecessary background/handle-cookie.js
  background/background.html
  background/handle-cookie.js
Labels: priority: 4, scope: core

#4240 Fix null color handling
  content-scripts/cs.js
Labels: priority: 2, scope: core, bug: regression

#4182 Use spark-md5 instead of js-md5
  .eslintrc.json
  addons/image-uploader/addon.json
  addons/image-uploader/userscript.js
  libraries/README.md
  libraries/license-info.json
  libraries/thirdparty/cs/md5.min.js
  libraries/thirdparty/cs/spark-md5.min.js
Labels: priority: 4, scope: deps, scope: tech debt

#4234 scratch-messaging: hide Delete when inapplicable
  popups/scratch-messaging/api.js
  popups/scratch-messaging/popup.html
  popups/scratch-messaging/popup.js
Labels: source: feedback, priority: 4, scope: addon

#4284 Debugger debugging
  addons/debugger/module.js
Labels: priority: 3, scope: addon

#4296 Remove Worker API
  addon-api/content-script/Tab.js
  addon-api/content-script/worker.js
Labels: scope: addon api, priority: 4, scope: tech debt

#4295 scratch-messaging: fail soft when missing replies
  popups/scratch-messaging/api.js
Labels: priority: 2, scope: addon

#4302 Fix forum-toolbar not working on change signature page
  addons/forum-toolbar/userscript.js
Labels: priority: 4, scope: addon

#4307 Fix minimum being different then what it said it is
  addons/custom-zoom/addon.json
Labels: priority: 3, scope: addon

#4314 scratchstats: fix graph rendering issues
  addons/scratchstats/userscript.js
Labels: priority: 4, scope: addon

#4253 Live forum post preview addon
  addons/addons.json
  addons/forum-live-preview/addon.json
  addons/forum-live-preview/style.css
  addons/forum-live-preview/userscript.js
Labels: new addon, priority: 3, scope: addon

#4321 Change regex for comments that mention "scratch addons"
  content-scripts/cs.js
  popups/scratch-messaging/popup.js
Labels: priority: 3, scope: addon, scope: core

#4326 Remove redundant CSS
  addons/clones/style.css
  addons/drag-drop/dragged-over.css
  addons/editor-stage-left/stageleft.css
  addons/folders/style.css
  addons/gamepad/gamepadlib.css
  addons/mouse-pos/style.css
  addons/pause/style.css
  addons/scratchr2/forums.css
  addons/scratchr2/v_tabs.css
Labels: priority: 4, scope: addon, scope: tech debt

#4320 add cmd key support
  addons/mute-project/userscript.js
Labels: priority: 3, scope: addon

#4331 fix-pasted-scripts: don't break the flyout
  addons/fix-pasted-scripts/userscript.js
Labels: priority: 3, scope: addon

#4330 discuss-button: convert to absolute URL
  addons/discuss-button/userscript.js
Labels: priority: 4, scope: addon

#4289 Add partial dynamicEnable/dynamicDisable for userstyles
  background/declare-scratchaddons-object.js
  background/get-userscripts.js
  background/imports/change-addon-state.js
  background/load-addon-manifests.js
  content-scripts/cs.js
Labels: priority: 3, scope: core

#4121 Make avatar outlines added by 2.0 → 3.0 customizable
  addons/customize-avatar-border/addon.json
  addons/customize-avatar-border/scratchr2/fill_transparent.css
  addons/customize-avatar-border/scratchr2/hide_outline.css
  addons/customize-avatar-border/scratchr2/outline_color.css
Labels: priority: 4, scope: addon
