Repository ScratchAddons/ScratchAddons, pull requests merged in 2022-01, with the labels that each got.

#3995 Setting to change forum scratchblocks colors
  addons/editor-theme3/addon.json
  addons/editor-theme3/forums/base.css
  addons/editor-theme3/forums/black_text.css
  addons/editor-theme3/forums/color_on_black.css
  addons/editor-theme3/forums/color_on_white.css
  addons/editor-theme3/forums/colored_text.css
Labels: type: enhancement, scope: addon

#3940 Use Silk icons in forum-toolbar & related changes
  addons/addons.json
  addons/dark-www/experimental_scratchr2.css
  addons/forum-toolbar/addon.json
  addons/forum-toolbar/book_edit.png
  addons/forum-toolbar/book_open.png
  addons/forum-toolbar/code.svg
  addons/forum-toolbar/link.svg
  addons/forum-toolbar/magnifier.png
  addons/forum-toolbar/palette.png
  addons/forum-toolbar/text_align_center.png
  addons/forum-toolbar/userscript.js
  addons/forum-toolbar/userstyle.css
  addons/material-forum-editor-buttons/center.svg
  addons/material-forum-editor-buttons/clear.svg
  addons/material-forum-editor-buttons/color.svg
  addons/material-forum-editor-buttons/dictionary.svg
  addons/material-forum-editor-buttons/expand.svg
  addons/material-forum-editor-buttons/google.svg
  addons/material-forum-editor-buttons/icons.css
  addons/material-forum-editor-buttons/wp.svg
Labels: type: enhancement, scope: addon

#3980 Disable sprite wobble
  addons/addons.json
  addons/disable-sprite-wobble/addon.json
  addons/disable-sprite-wobble/userstyle.css
Labels: new addon, scope: addon

#4060 Lint 20220115
  addon-api/content-script/typedef.js
  addon-api/popup/typedef.js
  addons/editor-devtools/DevTools.js
  addons/hi-res-thumbnails/userscript.js
  addons/material-forum-editor-buttons/clear.svg
  addons/material-forum-editor-buttons/expand.svg
  addons/my-ocular/profile.js
  libraries/README.md
  libraries/thirdparty/cs/fuse.esm.min.js
Labels: scope: deps, scope: tech debt

#4101 Fix #4094
  addons/60fps/userscript.js
Labels: priority: 2, scope: addon, bug: regression

#4093 Fix `(addon-id/@credits-undefined)` in non-English
  background/load-addon-manifests.js
Labels: priority: 3, scope: l10n, scope: core

#3961 Hide inputs when custom block middle clicked
  addons/debugger/userscript.js
  addons/editor-devtools/blockly/Utils.js
Labels: type: bug, priority: 3, scope: addon

#3960 Improve Scratch 2.0 → 3.0 addon
  addons/better-featured-project/userstyle.css
  addons/dark-www/addon.json
  addons/dark-www/experimental_scratchwww.css
  addons/infinite-scroll/footer.css
  addons/infinite-scroll/moveDonor.js
  addons/scratchr2/addon.json
  addons/scratchr2/forums.css
  addons/scratchr2/forums_bubbles.css
  addons/scratchr2/forums_subpage.css
  addons/scratchr2/mystuff.css
  addons/scratchr2/profile.css
  addons/scratchr2/scratchr2.css
  addons/scratchr2/scratchr2_comments.css
  addons/scratchr2/scratchr2_errors.css
  addons/scratchr2/settings.css
  addons/scratchr2/v_tabs.css
  addons/scratchr2/view_all.css
  addons/user-id/addon.json
  addons/user-id/userscript.js
  addons/user-id/userstyle.css
Labels: type: enhancement, scope: addon

#3986 New addon: Search sprites addon
  addons-l10n/en/search-sprites.json
  addons/addons.json
  addons/search-sprites/addon.json
  addons/search-sprites/search-bar.css
  addons/search-sprites/userscript.js
Labels: new addon, scope: addon

#4103 Fix editor tab ID immutability issues
  addons/better-img-uploads/userscript.js
  addons/hide-delete-button/costumes.css
  addons/hide-delete-button/sounds.css
  addons/variable-manager/userscript.js
Labels: priority: 4, scope: addon

#4104 Change updated message to "New features"
  _locales/en/messages.json
Labels: priority: 3, scope: webpages

#4031 New addon: customizable block text style
  addons/addons.json
  addons/custom-block-text/addon.json
  addons/custom-block-text/text-bold.css
  addons/custom-block-text/text-shadow.css
  addons/editor-dark-mode/addon.json
  background/get-addon-settings.js
Labels: new addon

#2875 Table Setting + Custom Navbar Addon
  addons/discuss-button/addon.json
  addons/discuss-button/userscript.js
  background/get-addon-settings.js
  background/handle-settings-page.js
  background/load-addon-manifests.js
  images/icons/drag.svg
  libraries/README.md
  libraries/license-info.json
  libraries/thirdparty/sortable.min.js
  webpages/settings/components/addon-body.html
  webpages/settings/components/addon-body.js
  webpages/settings/components/addon-setting.html
  webpages/settings/components/addon-setting.js
  webpages/settings/components/reset-dropdown.html
  webpages/settings/components/reset-dropdown.js
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/settings/style.css
  webpages/styles/colors-light.css
  webpages/styles/colors.css
Labels: type: enhancement, new addon, scope: webpages

#4110 Fix discuss-button migration
  background/get-addon-settings.js
Labels: priority: 2, scope: core, bug: regression

#4111 Add new tag for updated addons with new settings
  _locales/en/messages.json
  webpages/settings/data/tags.js
  webpages/settings/index.js
Labels: priority: 3, scope: webpages

#4115 Fix crash while loading manifest
  background/load-addon-manifests.js
Labels: priority: 1, scope: core

#4116 Fix crash on initial install
  background/get-addon-settings.js
Labels: priority: 1, scope: core, bug: regression

#4144 editor-devtools: allow "stop other scripts in sprite" to stack
  addons/editor-devtools/DevTools.js
Labels: priority: 3, scope: addon

#4147 Compare datetime_created when checking for new messages
  libraries/common/message-cache.js
Labels: priority: 1, scope: core, bug: regression
