Repository ScratchAddons/ScratchAddons, pull requests merged in 2022-11, with the labels that each got.

#5302 Fix unreadable text in jQueryUI modals in dark mode
  addons/dark-www/experimental_scratchr2.css
Labels: status: needs review, priority: 4, scope: addon

#5278 Remove unlocalized instance of "Scratch Addons"
  .github/gen-manifest.mjs
  manifest.json
Labels: priority: 4, scope: core

#5267 Fix some RTL bugs in webpages
  popups/scratch-messaging/popup.css
  webpages/settings/components/addon-setting.html
  webpages/settings/index.html
Labels: type: bug, status: needs review, hacktoberfest-accepted, scope: l10n, scope: webpages

#5345 Update Clone Scratch Addons link and more
  CONTRIBUTING.md
Labels: scope: documentation, priority: 4

#5366 Fix long status regression
  addons/my-ocular/discuss.js
Labels: priority: 4, scope: addon

#5372 fix old tokens being used for turbowarp button
  addons/turbowarp-player/userscript.js
Labels: priority: 2, scope: addon
