Repository ScratchAddons/ScratchAddons, pull requests merged in 2022-08, with the labels that each got.

#4759 Show icon only option for the clone counter addon
  addons/clones/addon.json
  addons/clones/userscript.js
Labels: priority: 4, scope: addon

#4478 Use declarativeNetRequestWithHostAccess when possible
  .github/gen-manifest.mjs
  background/handle-fetch.js
  manifest.json
Labels: priority: 4, scope: ci, scope: core, manifest v3: transition

#4830 better-emojis: refactor
  addons/better-emojis/addon.json
  addons/better-emojis/images/huh-cat.svg
  addons/better-emojis/userscript.js
Labels: priority: 4, scope: addon

#4819 New Addon: Remove Autocomplete from the Search Bar
  addons/addons.json
  addons/remove-search-bar-autocomplete/addon.json
  addons/remove-search-bar-autocomplete/userscript.js
Labels: new addon

#4917 Add support for scratchblocks to full-signature
  addons/full-signature/blocks.css
Labels: priority: 4, scope: addon

#4892 forum-time-zones: use mobile forums instead of scratchdb
  addons/forum-time-zones/addon.json
  addons/forum-time-zones/userscript.js
Labels: priority: 3, scope: addon

#4434 Fix ocular status
  addons/better-featured-project/addon.json
  addons/better-featured-project/statuslength.css
  addons/better-featured-project/userstyle.css
Labels: priority: 4, scope: addon

#4553 `discuss-button`: new option - compact account drop down
  addons/discuss-button/addon.json
  addons/discuss-button/compact-nav.css
  addons/discuss-button/r2.js
  addons/discuss-button/www.js
Labels: priority: 3, scope: addon

#4945 variable-manager: Validate variable names
  addons/variable-manager/userscript.js
Labels: type: bug, priority: 3, scope: addon

#4950 Don't reload already-loaded scripts
  addon-api/content-script/Tab.js
  content-scripts/inject/module.js
Labels: scope: addon api, priority: 4

#4964 Remove beta tag from default-costume-editor-color
  addons/default-costume-editor-color/addon.json
Labels: scope: addon

#4965 Get textContent instead of innerHTML (forum-search)
  addons/forum-search/userscript.js
Labels: priority: 4, scope: addon

#4967 emoji-picker: close picker when button pressed
  addons/emoji-picker/userscript.js
Labels: priority: 4, scope: addon

#4912 Allow adding list items through variable-manager by pressing enter
  addons/variable-manager/addon.json
  addons/variable-manager/userscript.js
Labels: priority: 4, scope: addon

#4949 Show error message if an addon.json is invalid
  background/load-addon-manifests.js
Labels: priority: 3, platform: chrome, scope: core

#3805 Rewrite editor-theme3 using less CSS
  addon-api/content-script/Tab.js
  addon-api/content-script/blocks.js
  addons/block-palette-icons/userstyle.css
  addons/blocks2image/userscript.js
  addons/debugger/style.css
  addons/debugger/userscript.js
  addons/editor-colored-context-menus/userscript.css
  addons/editor-colored-context-menus/userscript.js
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-devtools/DevTools.js
  addons/editor-devtools/userscript.css
  addons/editor-theme3/addon.json
  addons/editor-theme3/black_text.css
  addons/editor-theme3/color_on_black.css
  addons/editor-theme3/color_on_white.css
  addons/editor-theme3/compatibility.css
  addons/editor-theme3/theme3.css
  addons/editor-theme3/theme3.js
  content-scripts/cs.js
  libraries/common/cs/text-color.esm.js
  libraries/common/cs/text-color.js
Labels: type: enhancement, scope: addon

#4817 Extract find bar and jump to definition from devtools to separate addons
  addons-l10n/en/editor-devtools.json
  addons-l10n/en/find-bar.json
  addons/addons.json
  addons/debugger/userscript.js
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-devtools/DevTools.js
  addons/editor-devtools/UndoGroup.js
  addons/editor-devtools/addon.json
  addons/editor-devtools/userscript.css
  addons/editor-devtools/userscript.js
  addons/find-bar/addon.json
  addons/find-bar/blockly/BlockFlasher.js
  addons/find-bar/blockly/BlockInstance.js
  addons/find-bar/blockly/BlockItem.js
  addons/find-bar/blockly/Utils.js
  addons/find-bar/userscript.js
  addons/find-bar/userstyle.css
  addons/jump-to-def/addon.json
  addons/jump-to-def/userscript.js
  addons/move-to-top-bottom/addon.json
  background/get-addon-settings.js
Labels: priority: 3, scope: addon, scope: core

#4975 find-bar: remove space from key combination
  addons/find-bar/addon.json
Labels: priority: 4, scope: addon

#4482 Update instructions in `editor-devtools` to use shift key instead of ctrl for Mac
  addons/editor-devtools/addon.json
Labels: priority: 4, scope: addon

#4978 Lint 20220813
  .eslintrc.json
  .github/workflows/packer.yml
  addon-api/common/Self.js
  addon-api/content-script/Tab.js
  addons/disable-auto-save/userscript.js
  addons/drag-drop/userscript.js
  addons/find-bar/userscript.js
  addons/hide-flyout/userscript.js
  addons/variable-manager/userscript.js
  images/extension-icon-blue.svg
  images/icon-blue.svg
  images/icon-transparent.svg
  images/icons/help.svg
  popups/cloud-games/popup.js
Labels: scope: documentation, scope: addon api, priority: 4, scope: addon, scope: ci, scope: tech debt

#4494 Better addon linking in settings page
  webpages/settings/components/addon-body.html
  webpages/settings/components/addon-body.js
  webpages/settings/index.js
Labels: priority: 3, scope: webpages

#4449 add fullscreen for cloud-games
  addons/cloud-games/addon.json
Labels: priority: 4, scope: addon

#4977 customize-avatar-border: rename "Outline colour"
  addons/customize-avatar-border/addon.json
Labels: priority: 4, scope: addon

#4893 studio-followers: refactor
  addons/old-studio-layout/classes.js
  addons/old-studio-layout/style.css
  addons/studio-followers/addon.json
  addons/studio-followers/lib.js
  addons/studio-followers/modal.css
  addons/studio-followers/userscript.js
Labels: status: needs review, priority: 4, scope: addon

#4916 Customizable block palette opacity
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/experimental_editor.css
  background/get-addon-settings.js
Labels: priority: 4, scope: addon, scope: core

#4982 Dont let `find-bar` and `jump-to-def` run when devtools extension installed
  addons/find-bar/userscript.js
  addons/jump-to-def/userscript.js
Labels: status: needs review, priority: 2, scope: addon

#5028 studio-followers: fixes
  addons/studio-followers/modal.css
  addons/studio-followers/userscript.js
Labels: priority: 3, scope: addon

#5036 block-cherry-picking: do not cherry pick shadow blocks
  addons/block-cherry-picking/userscript.js
Labels: priority: 3, scope: addon

#4987 Fix variable manager order conflict with find-bar
  addon-api/content-script/Tab.js
  addons/find-bar/userscript.js
  addons/find-bar/userstyle.css
Labels: scope: addon api, status: needs review, priority: 2, scope: addon

#5046 Fix dark mode and find-bar... again :/
  addons/editor-dark-mode/experimental_editor.css
Labels: status: needs review, priority: 2, scope: addon, bug: regression

#4972 Fix one in a million race condition
  content-scripts/cs.js
Labels: priority: 3, scope: core

#5057 Fix text on primary color
  addons/editor-dark-mode/experimental_editor.css
Labels: priority: 3, scope: addon, bug: regression
