Repository ScratchAddons/ScratchAddons, pull requests merged in 2022-09, with the labels that each got.

#5066 Correct block palette opacity in preview
  webpages/settings/components/previews/editor-dark-mode.html
  webpages/settings/components/previews/editor-dark-mode.js
Labels: priority: 4, scope: webpages

#5078 Fix last-edit-tooltip race condition
  addons/last-edit-tooltip/userscript.js
Labels: status: needs review, priority: 3, scope: addon

#5079 Separate notification dot from debugger icon
  addons/debugger/icons/debug-unread.svg
  addons/debugger/style.css
  addons/debugger/userscript.js
Labels: priority: 4, scope: addon

#4828 Even more dynamics
  addons/better-quoter/addon.json
  addons/better-quoter/userscript.js
  addons/comments-linebreaks/addon.json
  addons/comments-linebreaks/userscript.js
  addons/curator-link/addon.json
  addons/curator-link/script.js
  addons/discuss-button/addon.json
  addons/discuss-button/userscript.js
  addons/fix-uploaded-svgs/addon.json
  addons/fix-uploaded-svgs/userscript.js
  addons/hi-res-thumbnails/addon.json
  addons/hi-res-thumbnails/userscript.js
  addons/more-links/addon.json
  addons/more-links/userscript.js
Labels: priority: 4, scope: addon

#5096 Add more gitignore entries
  .gitignore
Labels: scope: tech debt

#5077 Remove dark scrollbars setting
  addons/dark-www/addon.json
  addons/dark-www/experimental_scratchr2.css
  addons/dark-www/experimental_scratchwww.css
  addons/dark-www/scrollbar.css
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-dark-mode/paper.css
  addons/editor-dark-mode/scrollbar.css
Labels: scope: addon

#3905 Scrollable comments (new setting for comment-linebreaks addon)
  addons/comments-linebreaks/addon.json
  addons/comments-linebreaks/scrollbars.css
  addons/comments-linebreaks/userscript.js
  addons/scratchr2/scratchr2_comments.css
Labels: type: enhancement, status: needs review, scope: addon

#5087 Fix block-cherry-picking and block-duplicate race
  addons/block-cherry-picking/userscript.js
  addons/block-duplicate/module.js
  addons/block-duplicate/userscript.js
Labels: status: needs review, scope: addon

#5015 Fix forum infinite scrolling
  addons/infinite-scroll/forumScroll.js
Labels: priority: 3, scope: addon

#5081 Clarify some strings
  addons/better-quoter/addon.json
  addons/default-costume-editor-color/addon.json
  addons/move-to-top-bottom/addon.json
Labels: priority: 4, scope: addon

#5089 Ocular rewrite
  addons/my-ocular/addon.json
  addons/my-ocular/discuss.js
  addons/my-ocular/profile.js
  addons/my-ocular/reactions.js
  addons/my-ocular/status-dot.css
Labels: priority: 4, scope: addon

#3862 Move dark comments to editor-theme3 as a colour input
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/dark_comments.css
  addons/editor-theme3/addon.json
  addons/editor-theme3/color_on_black.css
  addons/editor-theme3/color_on_white.css
  addons/editor-theme3/forums/base.css
  addons/editor-theme3/forums/color_on_black.css
  addons/editor-theme3/forums/color_on_white.css
  addons/editor-theme3/theme3.css
Labels: type: enhancement, status: needs review, scope: addon

#5002 New addon: Select stage colors in the costume editor
  addons/addons.json
  addons/pick-colors-from-stage/addon.json
  addons/pick-colors-from-stage/style.css
  addons/pick-colors-from-stage/userscript.js
Labels: new addon, status: needs review, priority: 3, scope: addon

#5136 scratch messaging: Ctrl + Enter to post message
  popups/scratch-messaging/popup.html
Labels: priority: 4, scope: addon
