Repository ScratchAddons/ScratchAddons, pull requests merged in 2022-04, with the labels that each got.

#4461 Revert "Scratch Avocados (April Fools)"
  libraries/common/global-theme.js
  webpages/popup/index.js
  webpages/settings/components/category-selector.html
  webpages/settings/index.html
  webpages/settings/index.js
Labels: priority: 4, scope: webpages, scope: tech debt

#4472 Revert "Compatibility with Scratch April Fools (totally-normal-2022)"
  addon-api/content-script/Tab.js
  addon-api/content-script/Trap.js
  addons/cat-blocks/userscript.js
  addons/columns/style.css
  addons/columns/userscript.js
  addons/data-category-tweaks-v2/userscript.js
  addons/hide-flyout/userscript.js
  content-scripts/load-redux.js
Labels: scope: addon api, priority: 4, scope: addon, scope: core, scope: tech debt

#4483 Most loves by country is comma sepperated
  addons/scratchstats/userscript.js
Labels: priority: 4, scope: addon

#4468 Remove sareferer when unnecessary
  libraries/common/message-cache.js
  popups/scratch-messaging/api.js
  popups/scratch-messaging/popup.js
  webpages/popup-loader.js
Labels: priority: 3, scope: addon, scope: webpages, scope: core

#4267 New addon: default-costume-editor-color
  addons/addons.json
  addons/default-costume-editor-color/addon.json
  addons/default-costume-editor-color/userscript.js
Labels: new addon, priority: 3, scope: addon

#4498 Support loading Structured JSON translations
  libraries/common/cs/l10n.js
Labels: priority: 3, scope: l10n
