Repository ScratchAddons/ScratchAddons, pull requests merged in 2022-07, with the labels that each got.

#4742 Fix forum search layout
  addons/forum-search/userscript.css
  addons/forum-search/userscript.js
Labels: scope: addon, bug: regression

#4730 remix-button: wait until user object is ready
  addons/remix-button/userscript.js
Labels: priority: 4, scope: addon

#4737 hide-flyout: bug fixes
  addons/columns/style.css
  addons/hide-flyout/style.css
  addons/hide-flyout/userscript.js
Labels: priority: 3, scope: addon, bug: regression

#4753 Add `font-variant: tabular-nums` to the number of remaining characters
  popups/scratch-messaging/popup.css
Labels: priority: 4, scope: addon

#4733 Migrate to uploads.scratch.mit.edu in all addons
  addons/animated-thumb/userscript.js
  addons/hi-res-thumbnails/userscript.js
  addons/studio-followers/lib.js
Labels: priority: 4, scope: addon

#4609 Hide stage addon
  addons-l10n/en/hide-stage.json
  addons/addons.json
  addons/debugger/userscript.js
  addons/editor-stage-left/stageleft.css
  addons/gamepad/userscript.js
  addons/hide-stage/addon.json
  addons/hide-stage/icon.svg
  addons/hide-stage/style.css
  addons/hide-stage/userscript.js
Labels: new addon, scope: addon

#4719 Add icons to project-info
  addons/dark-www/experimental_scratchwww.css
  addons/project-info/addon.json
  addons/project-info/projectstats.js
  addons/project-info/text-only.css
  addons/project-info/userscript.css
Labels: priority: 3, scope: addon

#4767 Update extension store description
  _locales/en/messages.json
Labels: priority: 2, scope: meta

#4752 hide-flyout: dynamic enable/disable
  addons/hide-flyout/addon.json
  addons/hide-flyout/style.css
  addons/hide-flyout/userscript.js
Labels: scope: addon

#4777 Add info note to cloud-games
  addons/cloud-games/addon.json
Labels: priority: 3, scope: addon

#4778 Add latestUpdate to hide-flyout, change default mode
  addons/hide-flyout/addon.json
Labels: priority: 3, scope: addon

#4629 One-click studio invites
  addons-l10n/en/confirm-actions.json
  addons-l10n/en/one-click-studio-invites.json
  addons/addons.json
  addons/confirm-actions/userscript.js
  addons/one-click-studio-invites/addon.json
  addons/one-click-studio-invites/userscript.js
  addons/one-click-studio-invites/userstyle.css
Labels: priority: 3, scope: addon

#4787 hide-flyout: fix full screen
  addons/hide-flyout/style.css
Labels: priority: 2, scope: addon, bug: regression

#4789 hide-stage: bug fixes
  addons/hide-stage/style.css
  addons/hide-stage/userscript.js
Labels: priority: 2, scope: addon

#4761 Use the same color for debugger window, category icon and blocks
  addon-api/content-script/blocks.js
  addons/debugger/performance.js
  addons/debugger/style.css
Labels: scope: addon api, scope: addon, scope: design

#4750 Minify stored settings data
  background/get-addon-settings.js
  background/handle-settings-page.js
  libraries/common/minify-settings.js
  webpages/settings/index.js
Labels: priority: 2, platform: chrome, scope: webpages, scope: core

#4796 Fix editor-unshare-button bug
  addons/editor-unshare-button/userscript.js
Labels: priority: 4, scope: addon

#4821 Fix progress bar
  addons/progress-bar/userscript.js
Labels: scope: addon, bug: regression

#4824 Fix some bugs from #4627
  addons/data-category-tweaks-v2/userscript.js
  addons/full-signature/addon.json
  addons/full-signature/happen.css
  addons/full-signature/happen.js
  addons/full-signature/working.css
  addons/full-signature/working.js
  webpages/popup/index.js
Labels: scope: addon, scope: webpages, bug: regression

#4833 Fix editor crash in hide-flyout
  addons/hide-flyout/userscript.js
Labels: priority: 1, scope: addon, bug: regression

#4861 hide-stage: Fix renderer crashes
  addons/editor-stage-left/stageleft.css
  addons/hide-stage/style.css
  addons/hide-stage/userscript.js
Labels: priority: 1, scope: addon

#4867 hide-stage: Fix hidden stage on project page regression and other errors
  addons/editor-stage-left/stageleft.css
  addons/hide-stage/style.css
  addons/hide-stage/userscript.js
Labels: priority: 2, scope: addon

#4870 Add notice to `editor-stage-left` and change description
  addons/editor-stage-left/addon.json
Labels: status: pending, priority: 4, scope: addon

#4807 Editor dark mode: fix wrong border color of some elements in RTL
  addons/editor-dark-mode/experimental_editor.css
Labels: scope: addon

#4813 Add MMP Project back to cloud game's presets, fix preset name
  addons/cloud-games/addon.json
Labels: priority: 4, scope: addon

#3585 Updates to scratch messaging ui
  addons-l10n/en/scratch-messaging.json
  popups/scratch-messaging/popup.css
  popups/scratch-messaging/popup.html
  popups/scratch-messaging/popup.js
Labels: type: enhancement, priority: 4, scope: addon

#4885 popup: save tab on reload
  webpages/popup/index.js
Labels: priority: 4, scope: webpages

#4903 hide-flyout: Fix some bugs and some internal cleanup
  addons/columns/style.css
  addons/editor-stage-left/stageleft.css
  addons/hide-flyout/style.css
  addons/hide-flyout/userscript.js
Labels: priority: 3, scope: addon

#4810 Different primary colour for pre-release versions
  .github/gen-manifest.mjs
  background/handle-notifications.js
  images/extension-icon-blue.png
  images/extension-icon-blue.svg
  images/icon-blue-16.png
  images/icon-blue-32.png
  images/icon-blue.png
  images/icon-blue.svg
  images/icon-transparent.svg
  libraries/common/global-theme.js
  manifest.json
  popups/scratch-messaging/popup.css
  webpages/popup/index.html
  webpages/popup/index.js
  webpages/settings/index.html
  webpages/settings/licenses.html
  webpages/settings/permissions.html
  webpages/settings/style.css
  webpages/styles/colors.css
Labels: priority: 4, scope: design, scope: webpages, scope: core

#4891 Confirm removing project in mystuff
  addons-l10n/en/confirm-actions.json
  addons/confirm-actions/addon.json
  addons/confirm-actions/userscript.js
Labels: priority: 3, scope: addon

#4930 Fix issues from the pre-release color PR
  libraries/common/global-theme.js
  webpages/popup-loader.js
  webpages/popup/index.html
  webpages/settings/components/addon-body.html
  webpages/settings/components/category-selector.html
  webpages/settings/components/previews/editor-dark-mode.html
  webpages/settings/index.html
  webpages/settings/licenses.html
  webpages/settings/permissions.html
  webpages/settings/style.css
  webpages/styles/colors.css
  webpages/styles/components/buttons.css
Labels: priority: 3, scope: design, scope: webpages, bug: regression
