Repository ScratchAddons/ScratchAddons, pull requests merged in 2022-12, with the labels that each got.

#5368 Fix image uploader Material icon
  addons/material-forum-editor-buttons/icons.css
Labels: priority: 4, scope: addon

#5305 Transition code for middle-click-popup
  background/get-addon-settings.js
Labels: priority: 3, scope: core

#5323 Fix comment replies on deleted profiles cause messaging to fail
  popups/scratch-messaging/api.js
Labels: priority: 2, scope: addon

#5362 Dark mode support for new Scratch Link page
  addons/dark-www/banners/darker.css
  addons/dark-www/banners/desaturated.css
  addons/dark-www/experimental_scratchwww.css
  background/get-userscripts.js
Labels: scope: addon, scope: core

#5395 Fix addons running on iframes without src (Firefox)
  content-scripts/cs.js
Labels: priority: 4, platform: firefox, scope: core

#5351 Apply Scratch block-affecting addons to all forum pages
  addons/editor-theme3/addon.json
  addons/scratchblocks/addon.json
  addons/scratchblocks/userscript.js
Labels: priority: 3, scope: addon

#5379 Wait for previous suspend/resume to complete when pausing
  addons/debugger/module.js
Labels: priority: 4, scope: addon

#5428 Fix reference to `--danger-orange`
  popups/scratch-messaging/popup.css
Labels: priority: 4, scope: addon

#5392 Fix Compact User Dropdown
  addons/discuss-button/compact-nav.css
  addons/discuss-button/r2.js
Labels: priority: 4, scope: addon

#5158 New addon: collapsing sprite properties
  addons-l10n/en/sprite-properties.json
  addons/addons.json
  addons/sprite-properties/addon.json
  addons/sprite-properties/collapse.svg
  addons/sprite-properties/info.svg
  addons/sprite-properties/userscript.js
  addons/sprite-properties/userstyle.css
Labels: type: enhancement, new addon, status: needs review, hacktoberfest-accepted, scope: addon

#5283 pick-colors-from-stage: only process user-initiated clicks
  addons/pick-colors-from-stage/userscript.js
Labels: priority: 3, scope: addon

#5429 Fix redux devtools conflict
  content-scripts/load-redux.js
Labels: status: needs review, priority: 3, scope: core

#5447 Fix TurboWarp player white background
  addons/turbowarp-player/style.css
Labels: priority: 4, scope: addon

#5448 Update `sprite-properties` speed setting names
  addons/sprite-properties/addon.json
Labels: status: needs review, priority: 4, scope: addon

#5442 Suggestion form changes
  .github/ISSUE_TEMPLATE/--feature.yml
  .github/ISSUE_TEMPLATE/--new-addon.yml
Labels: priority: 4, scope: meta

#5430 Better vm trapping
  addon-api/content-script/Trap.js
  content-scripts/inject/module.js
  content-scripts/prototype-handler.js
  manifest.json
Labels: scope: addon api, priority: 4, scope: core

#5307 SECURITY.md file changes
  .github/SECURITY.md
  security.md
Labels: priority: 4, scope: meta, status: awaiting answer/followup

#5446 Apply dark mode to TurboWarp iframe fullscreen background
  addons/turbowarp-player/userscript.js
Labels: scope: addon

#5472 Move the icon for closing sprite properties
  addons/sprite-properties/userscript.js
  addons/sprite-properties/userstyle.css
Labels: scope: addon, scope: design

#5468 find-bar: Fix some errors searching for broadcasts
  addons-l10n/en/find-bar.json
  addons/find-bar/userscript.js
Labels: scope: addon

#5489 Add v1.30 update notification
  _locales/en/messages.json
  content-scripts/cs.js
Labels: scope: core

#5424 Fix hide-flyout and sprite-folders conflicts
  addons/hide-flyout/style.css
  addons/hide-flyout/userscript.js
Labels: priority: 3, scope: addon

#5491 Fix curator-link not working when signed out
  addons/curator-link/script.js
Labels: type: bug, priority: 4, scope: addon

#5473 sprite-properties: Fix some bugs
  addons/sprite-properties/userscript.js
Labels: priority: 3, scope: addon

#5492 editor-stage-left: fix flipped stage button icons
  addons/editor-stage-left/stageleft.css
Labels: priority: 4, scope: addon

#5498 fullscreen: resize stage canvas
  addons/fullscreen/userscript.js
Labels: priority: 3, scope: addon

#5499 fullscreen: fix incorrect position of answer input
  addons/fullscreen/removeBorder.css
Labels: scope: addon

#5507 Exclude emails from `isNotScratchWWW` match
  background/get-userscripts.js
Labels: status: needs review, priority: 4, scope: core

#5505 editor-dark-mode: fix invisible caret in paint editor
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-dark-mode/paper.css
Labels: priority: 4, scope: addon

#5510 find-bar: scroll dropdown when using arrow keys to navigate
  addons/find-bar/userscript.js
Labels: status: needs review, scope: addon

#5509 editor-dark-mode: fix color of project title and remix button
  addons/editor-dark-mode/experimental_editor.css
Labels: status: needs review, scope: addon

#5519 Move more md files to .github
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
Labels: scope: documentation

#5522 Remove dead (user)name
  addons/debugger/addon.json
  addons/editor-extra-keys/addon.json
  addons/remove-curved-stage-border/addon.json
Labels: scope: addon
