Repository ScratchAddons/ScratchAddons, pull requests merged in 2022-05, with the labels that each got.

#4539 Fix monitor updates in 60 FPS mode
  addons/60fps/userscript.js
Labels: priority: 3, scope: addon

#4568 Lint 20220514
  addons/default-costume-editor-color/userscript.js
  addons/forum-search/userscript.js
  libraries/README.md
  libraries/thirdparty/cs/fuse.esm.min.js
Labels: priority: 4, scope: addon, scope: deps

#4566 Fix linkifyTag doing wrong instanceof check
  libraries/common/cs/fast-linkify.js
Labels: priority: 4, scope: addon

#4573 Sound duration: Fix selecting nothing showing 0 seconds
  addons/sounds-duration/userscript.js
Labels: priority: 3, scope: addon

#4576 Fix l10n log spam when fallback is provided
  libraries/common/cs/l10n.js
Labels: priority: 4, scope: l10n, scope: core

#4574 Fix settings modal showing on load
  webpages/settings/index.html
Labels: priority: 3, scope: webpages, bug: regression

#4567 scratchstats: fix graph rendering
  addons/scratchstats/userscript.js
Labels: priority: 4, scope: addon

#3208 Add addon.tab.createModal
  addon-api/content-script/Tab.js
  addon-api/content-script/modal.js
  addons/animated-thumb/userscript.css
  addons/animated-thumb/userscript.js
  addons/debugger/logs.js
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-unshare-button/userscript.js
  addons/folders/userscript.js
  addons/gamepad/style.css
  addons/gamepad/userscript.js
  addons/mediarecorder/style.css
  addons/mediarecorder/userscript.js
  addons/studio-followers/close.svg
  addons/studio-followers/lib.js
  addons/studio-followers/userscript.js
  addons/studio-tools/migrated.js
  addons/studio-tools/mystuff.js
Labels: scope: addon api

#4585 forum-search: fix unused param
  addons/forum-search/userscript.js
Labels: priority: 4, scope: tech debt

#4586 Make loadScript reject errors
  addon-api/content-script/Tab.js
Labels: scope: addon api, priority: 3, scope: tech debt

#4575 dark-www: fix stage monitor colors
  addons/dark-www/experimental_scratchwww.css
  addons/editor-dark-mode/experimental_editor.css
Labels: priority: 3, scope: addon

#4605 Add support for project tokens
  addons/default-project/userscript.js
  addons/progress-bar/userscript.js
Labels: priority: 2, scope: addon
