Repository ScratchAddons/ScratchAddons, pull requests merged in 2022-10, with the labels that each got.

#4814 Refactor `image-uploader` a bit
  addons/image-uploader/addon.json
  addons/image-uploader/button.css
  addons/image-uploader/icon.png
  addons/image-uploader/userscript.js
Labels: priority: 4, scope: addon

#5032 Improve scratchstats addon
  addons-l10n/en/scratchstats.json
  addons/dark-www/addon.json
  addons/dark-www/scratchstats.js
  addons/scratchr2/forums.css
  addons/scratchr2/mystuff.css
  addons/scratchr2/scratchr2.css
  addons/scratchr2/scratchr2_comments.css
  addons/scratchstats/addon.json
  addons/scratchstats/style.css
  addons/scratchstats/userscript.js
  libraries/common/cs/spinner.css
Labels: priority: 3, scope: addon

#5175 Add featured tag to pick-colors-from-stage
  addons/pick-colors-from-stage/addon.json
Labels: hacktoberfest-accepted, scope: addon

#5176 Change setting name capitalization (my-ocular)
  addons/my-ocular/addon.json
Labels: hacktoberfest-accepted, scope: addon

#5076 Add step-by-step instructions for making a PR
  CONTRIBUTING.md
Labels: scope: documentation

#5191 Update RedGuy7 credit links
  addons/block-palette-icons/addon.json
  addons/full-signature/addon.json
  addons/longer-wiwo/addon.json
Labels: priority: 4, scope: addon

#3457 hide-project-stats: fix padding, show own stats option, My Stuff support
  addons/hide-project-stats/addon.json
  addons/hide-project-stats/hide_comment_count.css
  addons/hide-project-stats/hide_favorite_count.css
  addons/hide-project-stats/hide_love_count.css
  addons/hide-project-stats/hide_remix_count.css
  addons/hide-project-stats/hide_studio_count.css
  addons/hide-project-stats/hide_view_count.css
  addons/hide-project-stats/userscript.js
Labels: type: enhancement, status: needs review, priority: 4, scope: addon

#4734 Volume slider addon
  addons/addons.json
  addons/mute-project/addon.json
  addons/mute-project/hide-icon.css
  addons/mute-project/userscript.js
  addons/vol-slider/addon.json
  addons/vol-slider/module.js
  addons/vol-slider/userscript.js
  addons/vol-slider/userstyle.css
Labels: new addon, status: needs review, priority: 3, scope: addon

#4847 Opacity slider
  addons-l10n/en/opacity-slider.json
  addons/addons.json
  addons/color-picker/paint-editor.js
  addons/editor-dark-mode/experimental_editor.css
  addons/opacity-slider/addon.json
  addons/opacity-slider/style.css
  addons/opacity-slider/userscript.js
Labels: new addon, status: needs review, priority: 3, scope: addon

#5178 New addon: Rename broadcasts
  addons-l10n/en/rename-broadcasts.json
  addons/addons.json
  addons/rename-broadcasts/addon.json
  addons/rename-broadcasts/userscript.js
Labels: new addon, hacktoberfest-accepted, priority: 3, scope: addon

#5214 turbowarp-player: enable settings button
  addons/turbowarp-player/userscript.js
Labels: status: needs review, priority: 3, scope: addon

#5230 `editor-devtools`: import `compatibility.css` from `editor-theme3`
  addons/editor-devtools/userscript.css
Labels: type: bug, priority: 3, scope: addon, bug: regression

#5215 Fix a lot of issues in rename-broadcast
  addons/editor-searchable-dropdowns/userscript.js
  addons/rename-broadcasts/addon.json
  addons/rename-broadcasts/userscript.js
Labels: priority: 1, scope: addon

#5233 Fix typo in constructing a /feedback link
  popups/scratch-messaging/popup.js
Labels: status: needs review, priority: 4, scope: addon

#5146 Add dark comment migration
  background/get-addon-settings.js
  webpages/settings/index.js
Labels: priority: 3, scope: webpages, scope: core

#5250 Fix vol-slider bugs
  addons/vol-slider/userscript.js
  addons/vol-slider/userstyle.css
Labels: priority: 3, scope: addon

#5245 `hide-flyout` animation speed changes
  addons/hide-flyout/addon.json
  addons/hide-flyout/userscript.js
Labels: priority: 3, scope: addon

#5256 Fix permission removal in genManifest
  .github/gen-manifest.mjs
Labels: priority: 4, scope: ci

#5265 Add Microsoft Edge to "From Source"
  README.md
Labels: scope: documentation, status: needs review, priority: 4

#5247 Fix opacity slider bugs
  addons/opacity-slider/style.css
  addons/opacity-slider/userscript.js
Labels: status: needs review, priority: 3, scope: addon

#5231 rename-broadcasts: Update some strings
  addons-l10n/en/rename-broadcasts.json
  addons/rename-broadcasts/addon.json
Labels: hacktoberfest-accepted
