Repository ScratchAddons/ScratchAddons, pull requests merged in 2022-06, with the labels that each got.

#4625 default-project: bundle empty project json
  addons/default-project/default.json
  addons/default-project/userscript.js
Labels: priority: 3, scope: addon

#4647 turbowarp-player: send project token
  addons/turbowarp-player/userscript.js
Labels: priority: 3, scope: addon

#4650 scratch-messaging: hide read messages on initial load
  popups/scratch-messaging/popup.js
Labels: priority: 4, scope: addon

#4584 2021 Annual Report
  addons/dark-www/addon.json
  addons/dark-www/banners/darker.css
  addons/dark-www/banners/desaturated.css
  addons/dark-www/classes.js
  addons/dark-www/experimental_scratchwww.css
Labels: priority: 4, scope: addon

#4338 mediarecorder: improve spacing, etc
  addons/mediarecorder/style.css
  addons/mediarecorder/userscript.js
Labels: priority: 4, scope: addon

#4661 Improve popup loading
  addons-l10n/en/cloud-games.json
  popups/cloud-games/popup.css
  popups/cloud-games/popup.html
  popups/cloud-games/popup.js
  popups/scratch-messaging/popup.css
  popups/scratch-messaging/popup.html
Labels: priority: 3, scope: addon

#4663 debugger: Fix some bugs
  addons/debugger/logs.js
  addons/debugger/threads.js
  addons/debugger/userscript.js
Labels: priority: 3, scope: addon

#4697 Fix a performance regression in the pause and debugger shared module
  addons/debugger/module.js
Labels: priority: 3, scope: addon, bug: regression

#4671 Handle settings change effectively changing addon state
  background/get-userscripts.js
  background/handle-settings-page.js
  background/load-addon-manifests.js
  content-scripts/cs.js
Labels: priority: 3, scope: core

#4686 editor-devtools: Fix find bar style bugs
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-devtools/DevTools.js
  addons/editor-devtools/userscript.css
Labels: priority: 4, scope: addon

#4713 Lint 20220628
  addons/hide-flyout/lock.svg
  libraries/README.md
  libraries/thirdparty/cs/chart.min.js
Labels: priority: 4, scope: tech debt

#4516 cloud-games: add custom projects setting
  addon-api/popup/Addon.js
  addon-api/popup/Popup.js
  addons-l10n/en/cloud-games.json
  addons/cloud-games/addon.json
  popups/cloud-games/popup.css
  popups/cloud-games/popup.html
  popups/cloud-games/popup.js
  popups/scratch-messaging/popup.css
  popups/scratch-messaging/popup.html
  webpages/settings/index.html
  webpages/settings/style.css
  webpages/styles/components/buttons.css
Labels: scope: addon api, priority: 3, scope: addon, scope: webpages
