Repository ScratchAddons/ScratchAddons, pull requests merged in 2023-05, with the labels that each got.

#5983 message-filters: fix load more spam
  addons/message-filters/userscript.js
Labels: scope: addon

#5931 Allow changing editor popup backdrop color
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/experimental_editor.css
Labels: type: enhancement, scope: addon

#5904 New addon: "Move sprite to front layer"
  addons-l10n/en/move-to-top-layer.json
  addons/addons.json
  addons/move-to-top-layer/addon.json
  addons/move-to-top-layer/userscript.js
Labels: type: enhancement, new addon, scope: addon

#5742 New addon-blink animation
  webpages/settings/components/addon-body.html
  webpages/settings/style.css
Labels: type: enhancement, status: needs review, scope: design, scope: webpages

#6039 Support new cookie policy page
  addons/dark-www/experimental_scratchwww.css
  background/get-userscripts.js
Labels: status: needs review, priority: 4, scope: addon, scope: core

#6033 Fix preset migration logic edge-cases and migrate `editor-theme3` & `editor-dark-mode`
  background/get-addon-settings.js
Labels: type: bug, scope: addon, scope: core

#6056 Added that the cat blocks were from 2020-2023
  addons/cat-blocks/addon.json
Labels: status: needs review, scope: addon

#6058 Fix `discuss-button` duplicating username when changing settings
  addons/discuss-button/www.js
Labels: scope: addon

#6063 Fix unable to insert sprites from backpack
  addons/faster-project-loading/userscript.js
Labels: type: bug, scope: addon

#6071 editor-buttons-reverse-order: change order
  addons/editor-buttons-reverse-order/userstyle.css
Labels: status: needs review, scope: addon

#6070 Change string `gamepad/store-in-project`
  addons-l10n/en/gamepad.json
Labels: type: enhancement, scope: addon, scope: user experience

#6053 Run addons on `scratchfoundation.github.io` for testing
  addon-api/content-script/Tab.js
  background/get-userscripts.js
  content-scripts/inject/module.js
  content-scripts/prototype-handler.js
  manifest.json
Labels: scope: core

#6054 editor-dark-mode: add styles for theme picker and toggle buttons
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/experimental_editor.css
Labels: scope: addon

#5725 Reword sentences in `initialise-sprite-position`
  addons/initialise-sprite-position/addon.json
Labels: status: needs review, scope: addon

#6083 Update code related to stage size buttons
  addons/clones/userscript.js
  addons/debugger/style.css
  addons/debugger/userscript.js
  addons/gamepad/style.css
  addons/gamepad/userscript.js
  addons/hide-stage/style.css
  addons/hide-stage/userscript.js
  addons/mouse-pos/userscript.js
  addons/sprite-properties/userscript.js
  addons/vol-slider/userscript.js
Labels: scope: addon

#6017 Various edits to contributing guidelines
  .github/CONTRIBUTING.md
Labels: scope: documentation, type: enhancement, scope: meta

#6090 Fix "collapse when mouse leaves sprite panel" bug (sprite-properties)
  addons/sprite-properties/userscript.js
Labels: type: bug, scope: addon

#6105 Enhance `addon.tab.scratchClass` performance and consistency
  addon-api/content-script/Tab.js
  content-scripts/inject/module.js
  content-scripts/inject/run-userscript.js
Labels: type: enhancement, priority: 2, scope: core, scope: performance

#5940 Split "addonSettings" storage item into 3 different items
  background/get-addon-settings.js
  background/handle-settings-page.js
  libraries/common/minify-settings.js
  webpages/settings/index.js
Labels: priority: 2, scope: core, scope: tech debt

#6120 Fix `isProject` (is project page) logic
  addon-api/content-script/Tab.js
  content-scripts/inject/module.js
Labels: type: bug, scope: addon api, scope: core, bug: regression

#6127 Move high contrast blocks preset up
  addons/editor-theme3/addon.json
Labels: type: enhancement, scope: addon, scope: user experience

#5939 Keep "featured dangos" addon
  addons-l10n/en/featured-dangos-v2.json
  addons-l10n/en/featured-dangos.json
  addons/addons.json
  addons/featured-dangos-v2/addon.json
  addons/featured-dangos-v2/style.css
  addons/featured-dangos-v2/userscript.js
  addons/featured-dangos/addon.json
  addons/featured-dangos/style.css
  addons/featured-dangos/userscript.js
  webpages/settings/index.js
Labels: scope: addon

#5121 Add keybinds for pause button
  addons/pause/addon.json
  addons/pause/userscript.js
Labels: priority: 4, scope: addon

#6092 Fix bugs with extension policy comment censoring (commenting "Scratch Addons")
  content-scripts/cs.js
  popups/scratch-messaging/popup.js
Labels: type: bug, scope: core

#6125 Rename some settings in Debugger addon
  addons/debugger/addon.json
Labels: type: enhancement, scope: addon, scope: user experience
