Repository ScratchAddons/ScratchAddons, pull requests merged in 2023-09, with the labels that each got.

#6623 Fix global translation string IDs not prefixed with `_general`
  addons-l10n/en/_general.json
  addons/debugger/userscript.js
  addons/editor-theme3/theme3.js
  addons/middle-click-popup/BlockTypeInfo.js
Labels: type: bug, scope: l10n

#6614 chrome.cookies.onChanged: avoid infinite loops
  background/handle-auth.js
Labels: type: bug, scope: core

#6620 Update README image URL
  .github/readme-images/screenshot.png
  README.md
Labels: scope: documentation, scope: meta

#5696 Use different fix for sprite pane glitch
  addons/disable-sprite-wobble/addon.json
  addons/disable-sprite-wobble/disable-wobble.css
  addons/disable-sprite-wobble/userstyle.css
Labels: scope: addon

#5400 New addon: Skewing in costume editor
  addons/addons.json
  addons/paint-skew/addon.json
  addons/paint-skew/userscript.js
  addons/paint-snap/compatibility.js
  addons/paint-snap/updateScaleTool.js
Labels: type: enhancement, new addon, scope: addon

#5917 Large block text setting
  addons/custom-block-shape/update-all-blocks.js
  addons/custom-block-shape/userscript.js
  addons/custom-block-text/addon.json
  addons/custom-block-text/text-bold.css
  addons/custom-block-text/text-shadow.css
  addons/custom-block-text/userscript.js
  addons/middle-click-popup/BlockRenderer.js
  addons/middle-click-popup/module.js
  addons/middle-click-popup/userscript.js
Labels: type: enhancement, scope: addon, scope: accessibility

#6547 Allow incrementing other input fields with `editor-number-arrow-keys`
  addons/editor-number-arrow-keys/addon.json
  addons/editor-number-arrow-keys/userscript.js
Labels: type: enhancement, scope: addon

#6288 "Username search" addon: show profile picture of searched user
  addons-l10n/en/search-profile.json
  addons/search-profile/addon.json
  addons/search-profile/style.css
  addons/search-profile/userscript.js
Labels: type: enhancement, scope: addon, scope: user experience

#6645 editor-dark-mode: fix incorrect icons in paint editor
  addons/editor-dark-mode/paint_icons.js
Labels: type: bug, scope: addon

#6629 Make forum breadcrumbs and page numbers styled by `scratchr2` not affected by `colorblind`
  addons/scratchr2/forums.css
Labels: type: bug, scope: addon

#6652 Fix sprite pane not using all height (`editor-compact` & `sprite-properties`)
  addons/sprite-properties/userstyle.css
Labels: type: bug, scope: addon

#6625 Add custom options to editor key incrementation
  addons/editor-number-arrow-keys/addon.json
  addons/editor-number-arrow-keys/userscript.js
Labels: type: enhancement, scope: addon

#6630 scratchr2: improve My Stuff tabs
  addons/horizontal-mystuff-tabs/scratchr2.css
  addons/scratchr2/assets/dots.svg
  addons/scratchr2/assets/dots_first.svg
  addons/scratchr2/mystuff.css
  addons/scratchr2/v_tabs.css
Labels: scope: addon, scope: user experience

#6572 Create error page, redirect to it on typical settings page crashes
  background/load-addon-manifests.js
  webpages/error/check-chrome-storage.js
  webpages/error/index.html
  webpages/error/index.js
  webpages/error/reset-settings.js
  webpages/error/style.css
  webpages/settings/index.html
Labels: type: enhancement, priority: 3, scope: core, scope: user experience

#5479 Add editor-random-direction-block addon
  addons/addons.json
  addons/editor-random-direction-block/addon.json
  addons/editor-random-direction-block/userscript.js
Labels: type: enhancement, new addon, scope: addon

#6600 Insert blocks by name (middle-click-popup) maintenance
  addons/middle-click-popup/BlockRenderer.js
  addons/middle-click-popup/BlockTypeInfo.js
  addons/middle-click-popup/WorkspaceQuerier.js
  addons/middle-click-popup/userscript.js
Labels: type: bug, scope: addon

#6489 New addon: preview project notes on own projects as seen by other users
  addons-l10n/en/preview-project-description.json
  addons/addons.json
  addons/preview-project-description/addon.json
  addons/preview-project-description/style.css
  addons/preview-project-description/userscript.js
  addons/project-notes-tabs/disable-self.js
  addons/project-notes-tabs/style.css
  addons/project-notes-tabs/userscript.js
Labels: type: enhancement, new addon, scope: addon

#5604 Fix blocks2image height crop issue
  addons/blocks2image/userscript.js
Labels: type: bug, scope: addon

#6697 preview-project-description: Support dynamicDisable properly
  addons/preview-project-description/userscript.js
Labels: scope: addon

#6704 Fix duplicate latestUpdate key in addon manifest
  addons/editor-number-arrow-keys/addon.json
Labels: type: bug

#6681 Note that you can undo a sprite deletion
  addons/hide-delete-button/addon.json
  addons/remove-sprite-confirm/addon.json
Labels: scope: addon

#6684 Fix share confirm modal appearing on ideas button
  addons/confirm-actions/userscript.js
Labels: type: bug, scope: addon

#6707 Highlight mediarecorder update and feature new text-size setting
  addons/custom-block-text/addon.json
  addons/mediarecorder/addon.json
Labels: scope: addon

#6712 dark-www: better support for scratch.mit.edu/statistics
  addons/dark-www/experimental_scratchr2.css
Labels: scope: addon

#6633 Re-add the fix footer setting as a new addon
  addons/addons.json
  addons/collapse-footer/addon.json
  addons/collapse-footer/icon.svg
  addons/collapse-footer/userscript.js
  addons/collapse-footer/userstyle.css
  addons/dark-www/experimental_scratchr2.css
  addons/dark-www/experimental_scratchwww.css
  addons/infinite-scroll/buttonScroll.js
Labels: type: enhancement, new addon, status: needs review, source: feedback, scope: addon
