Repository ScratchAddons/ScratchAddons, pull requests merged in 2023-01, with the labels that each got.

#5527 Revert "Better vm trapping"
  addon-api/content-script/Trap.js
  content-scripts/inject/module.js
  content-scripts/prototype-handler.js
  manifest.json
Labels: scope: addon api, priority: 2, scope: core, bug: regression

#5529 Show how to clone a fork
  .github/CONTRIBUTING.md
Labels: scope: documentation, priority: 4

#5500 hi-res-thumbnails: fix bugs
  addons/hi-res-thumbnails/userscript.js
Labels: priority: 4, scope: addon

#5536 hide-delete-button: Fix sounds option
  addons/hide-delete-button/sounds.css
Labels: priority: 3, scope: addon

#5534 Unbreak hide-flyout and hide-stage compatibility
  addons/hide-stage/style.css
Labels: priority: 4, scope: addon

#5531 Add codeEditor tag to debugger and middle-click-popup
  addons/debugger/addon.json
  addons/middle-click-popup/addon.json
Labels: priority: 4, scope: addon

#5496 Fix some onion-skinning and paint-snap visual issues
  addons/onion-skinning/style.css
  addons/paint-snap/userstyle.css
Labels: status: needs review, scope: addon

#5537 variable-manager: Prevent creating conflicting variable names
  addons/variable-manager/userscript.js
Labels: priority: 3, scope: addon

#5542 editor-theme3: Enable toolbox refresh after reloading flyout
  addons/editor-theme3/theme3.js
Labels: status: needs review, priority: 3, scope: addon

#5523 middle-click-popup: Fix editor-theme3 compatibility and placeholder text
  addons/middle-click-popup/userscript.js
  addons/middle-click-popup/userstyle.css
Labels: status: needs review, scope: addon

#5562 gamepad: Remove hints cache
  addons/gamepad/gamepadlib.js
  addons/gamepad/userscript.js
Labels: priority: 3, scope: addon

#5540 Speed up open full screen settings popup glide-in
  webpages/settings/components/addon-body.js
  webpages/settings/index.js
Labels: priority: 4, scope: webpages

#5586 zebra-striping: compare colors instead of categories
  addons/zebra-striping/userscript.js
Labels: scope: addon

#5592 Don't color addon block insertion markers
  addon-api/content-script/blocks.js
Labels: priority: 4, scope: addon

#5584 Fix bugs related to the `/projects` error page
  addons/copy-message-link/addon.json
  addons/customize-avatar-border/addon.json
  addons/hide-flyout/addon.json
  addons/infinite-scroll/addon.json
  addons/more-links/addon.json
  addons/resizable-comment-input/addon.json
  background/get-userscripts.js
Labels: priority: 4, scope: addon

#5594 Fix "presets" label in the Addons popup
  webpages/settings/style.css
Labels: priority: 4, scope: webpages

#5384 New repo action: send comment on stale issues
  .github/workflows/stale-issues.yml
Labels: scope: ci

#5566 variable-manager: Require a click to display variables that are way too big
  addons-l10n/en/variable-manager.json
  addons/variable-manager/style.css
  addons/variable-manager/userscript.js
Labels: scope: addon

#5597 scratch-messaging: break long words in topic and studio titles
  popups/scratch-messaging/popup.css
Labels: scope: addon

#5588 editor-searchable-dropdowns: Preventing creating existing variables and trim names
  addons/editor-searchable-dropdowns/userscript.js
Labels: priority: 3, scope: addon

#5246 Use local language RelativeTimeFormat in scratch-messaging
  background/handle-l10n.js
  popups/scratch-messaging/popup.js
Labels: type: bug, priority: 4, scope: addon, scope: core

#5508 clones: correct count when dynamically enabled
  addons/clones/userscript.js
Labels: scope: addon

#5617 Fix broken links
  .github/CONTRIBUTING.md
  README.md
Labels: scope: documentation, priority: 4

#5610 Fix GitHub action stale-issues
  .github/workflows/stale-issues.yml
Labels: priority: 4, scope: ci

#5622 Revert "fullscreen: resize stage canvas"
  addons/fullscreen/userscript.js
Labels: priority: 2, scope: addon, bug: regression

#5625 Allow opacity slider to be moved by clicking
  addons/opacity-slider/userscript.js
Labels: priority: 3, scope: addon

#5623 fullscreen: resize stage canvas (attempt 2)
  addons/fullscreen/userscript.js
Labels: priority: 4, scope: addon

#5583 `progress-bar`: Round the progress bar and set default height to 8px
  addons/progress-bar/addon.json
  addons/progress-bar/userstyle.css
Labels: priority: 4, scope: addon

#5624 Fix condition for showing reset dropdown
  webpages/settings/components/addon-setting.js
Labels: priority: 4, scope: webpages

#5570 drag-drop: Fix sprite-properties compatibility
  addons/drag-drop/addon.json
  addons/drag-drop/dragged-over.css
  addons/drag-drop/userscript.js
Labels: priority: 3, scope: addon

#5628 progress-bar: improve rounded design
  addons/editor-dark-mode/experimental_editor.css
  addons/progress-bar/addon.json
  addons/progress-bar/userscript.js
  addons/progress-bar/userstyle.css
Labels: priority: 4, scope: addon

#5563 sprite-properties: Fix some bugs
  addons/sprite-properties/addon.json
  addons/sprite-properties/userscript.js
  addons/sprite-properties/userstyle.css
Labels: priority: 2, scope: addon

#5651 Remove link to Scratch profile from disable-auto-save credits
  addons/disable-auto-save/addon.json
Labels: scope: webpages

#5638 Minor text updates to recorder & remove find bar label
  addons-l10n/en/find-bar.json
  addons-l10n/en/mediarecorder.json
  addons/find-bar/userscript.js
  addons/find-bar/userstyle.css
Labels: scope: addon

#5659 sprite-properties: fix compatibility with search-sprites
  addons/sprite-properties/userscript.js
Labels: scope: addon

#5645 Use vanilla snapping when `paint-snap` is disabled
  addons/paint-snap/updateSelectTool.js
Labels: priority: 4, scope: addon

#5662 Update settings color picker
  libraries/thirdparty/color-picker.js
Labels: priority: 3, scope: webpages, scope: deps

#5120 New addon: Multiple rows in backpack
  addons/addons.json
  addons/expanded-backpack/addon.json
  addons/expanded-backpack/backpack.css
  addons/expanded-backpack/userscript.js
Labels: new addon, priority: 3, scope: addon

#5257 Changes to theme3 related to the new block colors
  addons/editor-theme3/addon.json
  addons/editor-theme3/black_text.css
  addons/editor-theme3/compatibility.css
  addons/editor-theme3/forums/base.css
  addons/editor-theme3/forums/black_text.css
  addons/editor-theme3/forums/color_on_white.css
  addons/editor-theme3/theme3.js
  addons/find-bar/userstyle.css
Labels: type: enhancement, scope: addon
