Repository ScratchAddons/ScratchAddons, pull requests merged in 2023-07, with the labels that each got.

#6320 Remove outdated code
  addons/debugger/userscript.js
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-theme3/theme3.js
  addons/gamepad/userscript.js
  addons/hide-stage/style.css
  addons/hide-stage/userscript.js
  addons/onion-skinning/style.css
  addons/paint-snap/userstyle.css
Labels: status: needs review, priority: 4, scope: addon, scope: tech debt

#6255 Don't snap to costume mask
  addons/paint-snap/genScalePoints.js
  addons/paint-snap/genSnapPoints.js
Labels: type: bug, priority: 4, scope: addon

#6323 tutorials-button: fix compat with block-count
  addons/tutorials-button/userstyle.css
Labels: status: needs review, priority: 4, scope: addon, bug: regression

#6330 Fix modal API "X" close icon not loading
  addon-api/content-script/modal.js
  images/cs/close-s3.svg
Labels: type: bug, scope: addon api

#6333 editor-dark-mode: sprite highlight
  addons/editor-dark-mode/experimental_editor.css
Labels: status: needs review, priority: 4, scope: addon

#6335 dark-www: fix text color in About me & WIWO
  addons/dark-www/addon.json
  addons/dark-www/experimental_scratchr2.css
  addons/user-id/userstyle.css
Labels: status: needs review, priority: 3, platform: chrome, scope: addon

#6334 editor-dark-mode: blue paint editor
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/paper.js
Labels: priority: 3, scope: addon

#6308 Fix stage header addons not showing in full screen
  addons/clones/style.css
  addons/clones/userscript.js
  addons/debugger/style.css
  addons/debugger/userscript.js
  addons/gamepad/style.css
  addons/gamepad/userscript.js
  addons/mouse-pos/style.css
  addons/mouse-pos/userscript.js
  addons/vol-slider/userscript.js
  addons/vol-slider/userstyle.css
  libraries/common/cs/small-stage.js
Labels: scope: addon

#6337 editor-dark-mode: change the color of icons in paint editor
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/paint_icons.js
Labels: scope: addon

#6342 Update editor dark mode preview
  webpages/settings/components/previews/editor-dark-mode.html
  webpages/settings/components/previews/editor-dark-mode.js
Labels: scope: webpages

#6343 Fix references to Scratch asset URLs
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/experimental_editor.css
  addons/scratchr2/assets/zoom_in.svg
  addons/scratchr2/assets/zoom_out.svg
  addons/scratchr2/assets/zoom_reset.svg
  addons/scratchr2/remixtree.css
Labels: priority: 4, scope: addon

#6344 Bump scratchblocks, other deps
  addons/scratchblocks/userscript.js
  libraries/README.md
  libraries/thirdparty/cs/comlink.js
  libraries/thirdparty/cs/scratchblocks.min.es.js
  libraries/thirdparty/cs/text-field-edit.js
  libraries/thirdparty/cs/tinycolor-min.js
  libraries/thirdparty/cs/translations-all-es.js
Labels: priority: 4, scope: addon, scope: deps

#6346 Fix two lint errors
  addons/necropost-highlighter/userscript.js
  addons/vol-slider/userscript.js
Labels: priority: 4, scope: addon, scope: tech debt

#6271 Rename hide-signatures
  addons/hide-signatures/addon.json
Labels: scope: addon

#6358 Revert v1.33.x exclusive changes
  content-scripts/cs.js
  webpages/settings/index.js
Labels: scope: tech debt

#6362 Fix prettier
  .prettierrc.json
  addons/dark-www/experimental_scratchr2.css
  addons/debugger/logs.js
  addons/editor-comment-previews/userstyle.css
  addons/mediarecorder/userscript.js
  addons/middle-click-popup/userstyle.css
  addons/opacity-slider/style.css
  popups/cloud-games/popup.html
  popups/scratch-messaging/popup.html
  webpages/popup/index.html
  webpages/settings/components/addon-setting.html
  webpages/settings/components/category-selector.html
  webpages/settings/components/previews/editor-dark-mode.html
  webpages/settings/components/previews/palette.html
  webpages/settings/index.html
  webpages/settings/licenses.html
  webpages/settings/permissions.html
  webpages/settings/style.css
Labels: type: bug, priority: 4, scope: ci, scope: meta, scope: tech debt

#5602 Add message indicator color option for website dark mode and customizable colors
  addons/dark-www/addon.json
  addons/dark-www/experimental_scratchr2.css
  addons/dark-www/experimental_scratchwww.css
  addons/scratchr2/scratchr2.css
Labels: scope: addon

#6259 Clarify 60 FPS breaking projects
  addons/60fps/addon.json
Labels: type: enhancement, scope: addon, scope: user experience

#6371 Fix projects can be paused with Alt+X after disabling
  addons/pause/userscript.js
Labels: type: bug, scope: addon

#6378 Lint 20230709
  .eslintrc.json
  addons/middle-click-popup/BlockRenderer.js
  addons/middle-click-popup/BlockTypeInfo.js
  addons/middle-click-popup/WorkspaceQuerier.js
  addons/necropost-highlighter/userscript.js
  addons/turbowarp-player/userscript.js
Labels: priority: 4, scope: addon, scope: tech debt

#6377 dark-www: fix forum preview link color
  addons/dark-www/experimental_forums_preview.js
Labels: scope: addon, bug: regression

#6382 hide-stage: fix square corners when dynamically disabled
  addons/hide-stage/userscript.js
Labels: type: bug, scope: addon

#6395 dark-www: support bad username page
  addons/dark-www/banners/darker.css
  addons/dark-www/banners/desaturated.css
  addons/dark-www/experimental_scratchwww.css
  background/get-userscripts.js
Labels: scope: addon, scope: core, scope: upstream changes

#6405 Fix lint error
  addons/middle-click-popup/WorkspaceQuerier.js
Labels: priority: 4, scope: addon

#6402 Fix Scratch Messaging popup "forEach of undefined"
  popups/scratch-messaging/api.js
Labels: type: bug, source: feedback, priority: 3, scope: addon

#6242 better-img-uploads (HD image uploads) bug fixes
  addons/better-img-uploads/userscript.js
Labels: type: bug, scope: addon

#6412 Change 60FPS flag icon
  addons/60fps/svg/fast-flag.svg
  addons/60fps/userscript.js
Labels: type: enhancement, new addon, scope: addon, scope: accessibility

#6353 Use non-deprecated API on share-through-mystuff
  addons/share-through-mystuff/userscript.js
Labels: type: bug, scope: addon

#6229 Add option to disable-stage-drag-select
  addons/disable-stage-drag-select/addon.json
  addons/disable-stage-drag-select/userscript.js
Labels: type: enhancement, scope: addon

#6205 Strip localhost permission and include DNRWHA in generated manifest
  .eslintrc.json
  .github/gen-manifest.mjs
  .prettierignore
Labels: priority: 2, platform: firefox, scope: ci

#6100 Add few default settings to `.vscode` dir (search excludes and JSON schemas)
  .vscode/settings.json
Labels: type: enhancement, scope: meta

#6429 better-img-uploads: handle capitalized file extension
  addons/better-img-uploads/userscript.js
Labels: priority: 4, scope: addon, bug: regression

#4018 New addon: compact editor
  addons/addons.json
  addons/columns/userscript.js
  addons/editor-compact/addon.json
  addons/editor-compact/hide-labels.css
  addons/editor-compact/sprite-properties.css
  addons/editor-compact/userscript.js
  addons/editor-compact/userstyle.css
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/stage_compact_scrollbars.css
  addons/sprite-properties/userstyle.css
Labels: type: enhancement, new addon, priority: 3, scope: addon

#6399 Don't collapse search bar on icon click
  addons/expanding-search-bar/expanding-search-bar.js
Labels: type: enhancement, scope: addon, scope: user experience

#6433 editor-messages: use fetch instead of `addon.account.getMsgCount()`
  addon-api/content-script/Account.js
  addons/editor-messages/userscript.js
Labels: type: bug, scope: addon api, scope: addon, scope: core

#6426 Infinite scrolling addon: remove "fix footer" setting
  addons/infinite-scroll/addon.json
  addons/infinite-scroll/footer.css
  addons/infinite-scroll/moveDonor.js
Labels: priority: 4, scope: addon

#6357 dark-www: add two 2.0 presets
  addons/dark-www/addon.json
Labels: priority: 3, scope: addon

#6442 Fix editor-compact bug: stage header imgs overflow vertically
  addons/editor-compact/userstyle.css
Labels: type: bug, priority: 4, scope: addon

#6421 Run addons locally on scratch-gui & `scratchfoundation.github.io`
  addon-api/content-script/Tab.js
  background/get-userscripts.js
  content-scripts/inject/module.js
  content-scripts/prototype-handler.js
  manifest.json
Labels: type: enhancement, scope: addon api, priority: 4, scope: meta, scope: core

#6447 Fix editor-compact/echo-effect compatibility
  addons/echo-effect/userscript.js
  addons/editor-compact/force-tooltip-update.js
  addons/editor-compact/userscript.js
Labels: type: bug, priority: 4, scope: addon

#6113 New "remove borders" option in Compact messages
  addons/compact-messages/addon.json
  addons/compact-messages/no_border.css
Labels: type: enhancement, scope: addon, scope: user experience

#6450 Remove addon.account API
  addon-api/content-script/Account.js
  addon-api/content-script/Addon.js
  addons/editor-messages/userscript.js
  content-scripts/inject/module.js
  webpages/popup-loader.js
Labels: scope: addon api, priority: 4, scope: addon, scope: webpages, scope: core, scope: tech debt

#6458 Fix links to Scratch repos
  addon-api/content-script/Tab.js
  addon-api/content-script/Trap.js
  addon-api/content-script/blocks.js
  addons/60fps/userscript.js
  addons/block-duplicate/module.js
  addons/block-switching/userscript.js
  addons/cat-blocks/userscript.js
  addons/columns/userscript.js
  addons/copy-reporter/userscript.js
  addons/data-category-tweaks-v2/userscript.js
  addons/debugger/module.js
  addons/debugger/userscript.js
  addons/default-costume-editor-color/userscript.js
  addons/drag-drop/userscript.js
  addons/editor-devtools/UndoGroup.js
  addons/editor-stage-left/fix-share-the-love.js
  addons/expanded-backpack/backpack.css
  addons/faster-project-loading/userscript.js
  addons/fix-editor-comments/userscript.js
  addons/folders/userscript.js
  addons/hide-new-variables/userscript.js
  addons/load-extensions/userscript.js
  addons/middle-click-popup/BlockTypeInfo.js
  addons/middle-click-popup/userscript.js
  addons/number-pad/userscript.js
  addons/onion-skinning/userscript.js
  addons/opacity-slider/userscript.js
  addons/paint-snap/helpers.js
  addons/paint-snap/updateScaleTool.js
  addons/paint-snap/updateSelectTool.js
  addons/pick-colors-from-stage/userscript.js
  addons/scratchr2/forums.css
  addons/scratchr2/mystuff.css
  addons/scratchr2/scratchr2_comments.css
  addons/sounds-duration/userscript.js
  addons/sprite-properties/userscript.js
  addons/swap-local-global/userscript.js
  libraries/common/cs/data-url-to-blob.js
  libraries/common/cs/download-blob.js
  libraries/common/cs/spinner.css
Labels: priority: 4, scope: tech debt

#6446 More robust solution for editor-compact/columns compat
  addons/columns/userscript.js
  addons/editor-compact/userstyle.css
Labels: type: bug, type: enhancement, scope: addon

#6020 Add "Arrow key incrementation in editor" addon
  addons/addons.json
  addons/editor-number-arrow-keys/addon.json
  addons/editor-number-arrow-keys/userscript.js
Labels: type: enhancement, new addon, status: needs review, scope: addon
