Repository ScratchAddons/ScratchAddons, pull requests merged in 2023-11, with the labels that each got.

#5331 New addon: Square block text and color inputs
  addons/addons.json
  addons/editor-square-inputs/addon.json
  addons/editor-square-inputs/userscript.js
Labels: type: enhancement, new addon

#6725 Extension popup settings: support reduced motion for enablepopup component
  webpages/settings/index.js
  webpages/styles/components/enablepopup.css
Labels: type: enhancement, scope: webpages, scope: accessibility

#6828 Adjust "custom block text style" addon description
  addons/custom-block-text/addon.json
Labels: scope: addon

#6813 Infinite scrolling: support Explore and Search pages
  addons/infinite-scroll/addon.json
  addons/infinite-scroll/buttonScroll.js
  addons/infinite-scroll/search-explore-module.js
Labels: type: enhancement, scope: addon

#6842 Fix `onion-skinning` and `paint-snap` settings menus not opening
  addons/onion-skinning/userscript.js
  addons/paint-snap/ui.js
Labels: type: bug, scope: addon, bug: regression

#6653 Better customizable link style settings UX + separate bold setting
  addons/colorblind/addon.json
  addons/colorblind/non-bold-links.css
  background/get-addon-settings.js
Labels: type: enhancement, scope: addon, scope: user experience

#6868 Format code
  addon-api/content-script/Tab.js
  addons/editor-number-arrow-keys/userscript.js
  addons/find-bar/userscript.js
  background/get-addon-settings.js
  libraries/common/cs/text-color.js
  popups/scratch-messaging/popup.js
  webpages/settings/components/addon-body.js
  webpages/settings/index.js
Labels: type: bug, scope: ci, scope: development

#6878 Update Markdown note block
  README.md
Labels: scope: documentation, type: enhancement, scope: meta

#6240 Increase category.sel and switch contrast
  webpages/settings/components/addon-body.html
  webpages/settings/components/addon-setting.html
  webpages/settings/components/category-selector.html
  webpages/styles/colors-light.css
  webpages/styles/colors.css
Labels: type: enhancement, scope: design, scope: webpages, scope: accessibility

#6890 Layer emoji picker over Report and Delete buttons
  addons/emoji-picker/userstyle.css
Labels: type: bug, scope: addon, bug: regression

#6889 discuss-button: hide username using CSS
  addons/discuss-button/compact-nav.css
  addons/discuss-button/r2.js
Labels: scope: addon

#6894 editor-compact: fix backpack on costume tab
  addons/editor-compact/userstyle.css
Labels: scope: addon

#6893 preview-project-description: simpler implementation
  addons/preview-project-description/addon.json
  addons/preview-project-description/userscript.js
Labels: scope: addon, scope: performance

#6905 custom-block-shape: fix dropdown arrow position
  addons/custom-block-shape/userscript.js
Labels: scope: addon

#6906 custom-block-shape: fix empty inputs
  addons/custom-block-shape/userscript.js
Labels: scope: addon, platform: turbowarp

#6907 blocks2image: support high contrast mode
  addons/blocks2image/userscript.js
Labels: scope: addon
