Repository ScratchAddons/ScratchAddons, pull requests merged in 2023-08, with the labels that each got.

#6471 Fix editor-theme3 browser support (array.prototype.at)
  addons/editor-theme3/theme3.js
Labels: type: bug, source: feedback, priority: 3, scope: addon

#6482 `pause`: Set title to "resume" for resume button
  addons-l10n/en/pause.json
  addons/pause/userscript.js
Labels: type: enhancement, priority: 4, scope: addon

#6476 true-youtube-links: add dynamicDisable support
  addons/true-youtube-links/addon.json
  addons/true-youtube-links/userscript.js
Labels: type: enhancement, scope: addon

#6469 Fix long preset names not looking correct
  webpages/styles/components/buttons.css
Labels: type: bug, scope: webpages

#6485 Mention new website dark mode presets
  addons/dark-www/addon.json
Labels: scope: addon

#6491 Debugger addon description: clarify Threads tab
  addons/debugger/addon.json
Labels: type: enhancement, scope: addon

#6013 Add "Cooldown display for posting in the forums" addon
  addons-l10n/en/forum-post-countdown.json
  addons/addons.json
  addons/forum-post-countdown/addon.json
  addons/forum-post-countdown/userscript.js
  addons/forum-post-countdown/userstyle.css
Labels: type: enhancement, new addon, scope: addon

#6499 dark-www: support admin messages
  addons/dark-www/experimental_scratchwww.css
Labels: priority: 4, scope: addon

#6400 New addon: Customizable link style
  addons/addons.json
  addons/colorblind/addon.json
  addons/colorblind/bold-links.css
  addons/colorblind/underline-links.css
  addons/scratchr2/scratchr2.css
Labels: type: enhancement, new addon, scope: addon, scope: accessibility

#6478 Style forum error messages in dark-www
  addons/dark-www/addon.json
  addons/dark-www/experimental_scratchr2.css
Labels: type: enhancement, priority: 3, scope: addon

#6479 Use purple everywhere on the forums
  addons/forum-quote-code-beautifier/addon.json
  addons/op-badge/forums.css
  background/get-addon-settings.js
Labels: scope: addon, scope: upstream changes

#6504 Better forum-post-countdown name and description
  addons/forum-post-countdown/addon.json
Labels: scope: addon

#6387 Update Repository Readme
  .github/readme-images/cws-badge.png
  .github/readme-images/ff-addon-badge.png
  .github/readme-images/screenshot.png
  README.md
Labels: scope: documentation, type: enhancement, scope: meta

#6571 editor-compact: fix narrow number inputs
  addons/editor-compact/userstyle.css
Labels: type: bug, scope: addon

#6574 editor-compact: fix "wide" layout of sprite info
  addons/editor-compact/sprite-properties.css
  addons/editor-compact/userstyle.css
Labels: scope: addon

#6569 Fix "expanding search bar" regression (with scratchr2 addon enabled)
  addons/expanding-search-bar/expanding-search-bar.js
Labels: type: bug, scope: addon, bug: regression

#6537 Style non link links with `colorblind`
  addons/colorblind/bold-links.css
  addons/colorblind/underline-links.css
Labels: type: bug, scope: addon

#6535 Style reply button with `colorblind`
  addons/colorblind/bold-links.css
  addons/colorblind/underline-links.css
Labels: type: bug, scope: addon

#6541 Don't style profile buttons with `colorblind`
  addons/colorblind/underline-links.css
Labels: type: bug, scope: addon

#5739 Darken TurboWarp button to improve contrast
  addons/turbowarp-player/style.css
Labels: scope: addon, scope: accessibility

#6598 Fix middle-click-popup not working if language is set to Turkish/Japanese
  addons/middle-click-popup/BlockTypeInfo.js
Labels: type: bug, scope: l10n, scope: addon

#6607 project-notes-tabs: More accurately get the name for each section
  addons/project-notes-tabs/userscript.js
Labels: scope: addon

#6596 project-notes-tabs: don't change description width
  addons/project-notes-tabs/style.css
Labels: scope: addon
