Repository ScratchAddons/ScratchAddons, pull requests merged in 2023-10, with the labels that each got.

#6723 old-studio-layout: preserve thumbnail aspect ratio
  addons/old-studio-layout/style.css
Labels: type: enhancement, source: feedback, scope: addon

#6709 Fix CSS regression in settings page
  webpages/styles/components/enablepopup.css
Labels: type: bug, scope: webpages

#6728 Reconsider usage of timestamps in URLs to bypass cache
  addons/turbowarp-player/userscript.js
  libraries/common/message-cache.js
  popups/scratch-messaging/api.js
  popups/scratch-messaging/popup.js
Labels: scope: addon, scope: core

#6727 Fix workspace undo bugs after workspace reload
  addons/cat-blocks/userscript.js
  addons/custom-block-shape/update-all-blocks.js
  addons/custom-block-shape/userscript.js
  addons/custom-block-text/userscript.js
  addons/editor-dark-mode/extension_icons.js
  addons/editor-theme3/theme3.js
Labels: type: bug, priority: 2, scope: addon

#6749 `collapse-footer`: Fix footer appearing expanded at first on scratchr2 pages
  addons/collapse-footer/userscript.js
  addons/collapse-footer/userstyle.css
Labels: type: bug, scope: addon

#6736 Fix bugs in project-notes-tabs
  addons/project-notes-tabs/userscript.js
Labels: type: bug, scope: addon

#6495 Rewrite `my-ocular` on profiles and add new shared space
  addon-api/content-script/Tab.js
  addons/better-featured-project/userstyle.css
  addons/my-ocular/profile.js
  addons/my-ocular/status-dot.css
Labels: type: enhancement, scope: addon api, scope: addon

#6744 Add and use decimal setting type
  addons/editor-number-arrow-keys/addon.json
  addons/editor-number-arrow-keys/userscript.js
  background/get-addon-settings.js
  webpages/settings/components/addon-setting.html
Labels: scope: addon.json, priority: 3, scope: addon, scope: webpages, scope: core

#6756 `better-quoter`: Automatically add `/get_image/.%2E` to assets.scratch.mit.edu images
  addons/better-quoter/module.js
Labels: priority: 4, scope: addon

#6784 Fix my-ocular regression in forum posts
  addons/my-ocular/addon.json
  addons/my-ocular/status-dot-forums.css
Labels: type: bug, scope: addon, bug: regression

#6783 Fix white profile picture (search-profile & dark-www)
  addons/search-profile/style.css
  addons/search-profile/userscript.js
Labels: type: bug, scope: addon

#6780 Fix ghost messages after marking as read (scratch-messaging)
  background/message-cache.js
  libraries/common/message-cache.js
  popups/scratch-messaging/popup.js
Labels: type: bug, scope: addon

#6781 Default popup to "addons" tab (instead of "messaging")
  webpages/popup/index.js
Labels: type: enhancement, scope: webpages, scope: user experience

#6759 better-img-uploads: clarify setting names
  addons/better-img-uploads/addon.json
Labels: scope: addon

#6802 Fix addon userscripts using wrong language for localized strings
  addon-api/common/FetchableAuth.js
  content-scripts/cs.js
Labels: type: bug, source: feedback, scope: core
