Repository ScratchAddons/ScratchAddons, pull requests merged in 2023-03, with the labels that each got.

#5471 Add Copy Reporter addon
  addons-l10n/en/copy-reporter.json
  addons/addons.json
  addons/copy-reporter/addon.json
  addons/copy-reporter/copy.svg
  addons/copy-reporter/style.css
  addons/copy-reporter/userscript.js
Labels: new addon, scope: addon

#5240 `better-quoter`: fix compatibility issues
  addons/better-quoter/module.js
  addons/better-quoter/userscript.js
  addons/forum-id/userscript.js
Labels: scope: addon

#5295 New Addon: Share through My Stuff
  addons-l10n/en/share-through-mystuff.json
  addons/addons.json
  addons/share-through-mystuff/addon.json
  addons/share-through-mystuff/scratchr2.css
  addons/share-through-mystuff/userscript.js
  addons/share-through-mystuff/userstyle.css
Labels: new addon, status: needs review, scope: addon

#5770 forum-id: auto-add post number small & in brackets
  addons/better-quoter/module.js
Labels: scope: addon

#5804 search-my-stuff: prevent input autofocus from scrolling page
  addons/search-my-stuff/userscript.js
Labels: type: bug, source: feedback, scope: addon

#5815 editor-theme3: fix invisible dropdown arrows
  addons/editor-theme3/theme3.js
Labels: platform: chrome, scope: addon

#5716 Fix user dropdown text overflowing
  addons/discuss-button/compact-nav.css
  addons/scratchr2/scratchr2.css
Labels: scope: addon

#5816 share-through-mystuff: simplify CSS
  addons/scratchr2/mystuff.css
  addons/share-through-mystuff/addon.json
  addons/share-through-mystuff/scratchr2.css
  addons/share-through-mystuff/userscript.js
  addons/share-through-mystuff/userstyle.css
Labels: scope: addon

#5773 "Variable manager" addon: trigger resize event after switching to another tab
  addons/variable-manager/userscript.js
Labels: type: bug, status: needs review, scope: addon

#5771 Update aqua (same as remix button) color
  addons/dark-www/addon.json
  addons/dark-www/experimental_scratchwww.css
  addons/horizontal-mystuff-tabs/scratchr2.css
  addons/old-studio-layout/scratchr2.css
  addons/scratchr2/forums.css
Labels: status: needs review, scope: accessibility

#5831 Add AprilFools2023 addon: "featured dangos"
  addons-l10n/en/featured-dangos.json
  addons/addons.json
  addons/featured-dangos/addon.json
  addons/featured-dangos/style.css
  addons/featured-dangos/userscript.js
  webpages/settings/index.js
Labels: type: enhancement, new addon

#5848 Handle Scratch totally-normal mode (April Fools 2023)
  addon-api/content-script/Tab.js
  addons/cat-blocks/userscript.js
  addons/columns/style.css
  addons/columns/userscript.js
  addons/data-category-tweaks-v2/userscript.js
  addons/hide-flyout/userscript.js
  content-scripts/load-redux.js
Labels: type: bug, priority: 2, scope: addon, scope: core

#5829 Fix Comlink not defined in module.js (race condition)
  content-scripts/cs.js
  content-scripts/inject/module.js
Labels: type: bug, scope: core
