Repository ScratchAddons/ScratchAddons, pull requests merged in 2023-06, with the labels that each got.

#6108 editor-theme3: adapt to "color mode" settings in menu bar
  addons-l10n/en/_general.json
  addons/editor-theme3/addon.json
  addons/editor-theme3/open-link.svg
  addons/editor-theme3/theme3.css
  addons/editor-theme3/theme3.js
Labels: status: needs review, priority: 2, scope: addon

#6138 Add v1.33.0 update notification
  _locales/en/messages.json
  content-scripts/cs.js
Labels: status: needs review

#6151 data-category-tweaks-v2: high contrast mode fix
  addons/data-category-tweaks-v2/userscript.js
Labels: scope: addon

#6152 Change debugger blocks in high contrast mode
  addon-api/content-script/blocks.js
  addons/editor-theme3/theme3.js
Labels: scope: addon api, scope: addon

#6157 Add `SET_THEME` to `reduxEvents` list in some addons
  addons/hide-flyout/userscript.js
  addons/zebra-striping/userscript.js
Labels: scope: addon

#6137 Fix `addon.tab.scratchClass` bugs after refactor
  addon-api/content-script/Tab.js
  content-scripts/inject/module.js
  content-scripts/inject/run-userscript.js
Labels: type: bug, priority: 2, scope: core, bug: regression

#6158 dark-www: add styles for contrast announcement
  addons/dark-www/banners/darker.css
  addons/dark-www/banners/desaturated.css
  addons/dark-www/experimental_scratchwww.css
Labels: priority: 3, scope: addon

#6146 editor-theme3: compatibility with Scratch high contrast theme
  addons/editor-theme3/black_text.css
  addons/editor-theme3/icons/black_text/arrow_button.svg
  addons/editor-theme3/icons/white_text/arrow_button.svg
  addons/editor-theme3/icons/white_text/extensions/music.svg
  addons/editor-theme3/icons/white_text/extensions/pen.svg
  addons/editor-theme3/icons/white_text/extensions/text2speech.svg
  addons/editor-theme3/icons/white_text/extensions/translate.png
  addons/editor-theme3/icons/white_text/extensions/videoSensing.svg
  addons/editor-theme3/icons/white_text/repeat.svg
  addons/editor-theme3/icons/white_text/rotate-left.svg
  addons/editor-theme3/icons/white_text/rotate-right.svg
  addons/editor-theme3/theme3.css
  addons/editor-theme3/theme3.js
Labels: priority: 3, scope: addon

#6142 Dynamic enable and disable for sounds-duration
  addons/sounds-duration/addon.json
  addons/sounds-duration/userscript.js
Labels: type: enhancement, priority: 4, scope: addon

#6168 Properly support declarativeNetRequest in Firefox
  background/handle-fetch.js
Labels: type: bug, priority: 3, platform: firefox, scope: core

#6179 editor-comment-previews: Fix dynamic disable
  addons/editor-comment-previews/userscript.js
Labels: type: bug, priority: 4, scope: addon

#6182 Fix `addon.tab.scratchClass` regression breaking folders addon
  addons/folders/userscript.js
Labels: type: bug, priority: 2, scope: addon, bug: regression

#6186 Hide Turbo Mode label when volume slider hovered
  addons/vol-slider/hover.css
Labels: type: bug, priority: 4, scope: addon

#6193 custom-zoom: respond to theme and language changes
  addons/custom-zoom/userscript.js
Labels: scope: addon

#6214 Fix op-badge not getting the actual OP in forums
  addons/op-badge/forums.js
Labels: type: bug, priority: 3, scope: addon

#6216 Revert "editor-theme3: compatibility with Scratch high contrast theme"
  addons/editor-theme3/black_text.css
  addons/editor-theme3/icons/black_text/arrow_button.svg
  addons/editor-theme3/icons/white_text/arrow_button.svg
  addons/editor-theme3/icons/white_text/extensions/music.svg
  addons/editor-theme3/icons/white_text/extensions/pen.svg
  addons/editor-theme3/icons/white_text/extensions/text2speech.svg
  addons/editor-theme3/icons/white_text/extensions/translate.png
  addons/editor-theme3/icons/white_text/extensions/videoSensing.svg
  addons/editor-theme3/icons/white_text/repeat.svg
  addons/editor-theme3/icons/white_text/rotate-left.svg
  addons/editor-theme3/icons/white_text/rotate-right.svg
  addons/editor-theme3/theme3.css
  addons/editor-theme3/theme3.js
Labels: priority: 2, scope: addon, bug: regression

#6220 Fix "confirmations" addon project sharing confirmation not working
  addons/confirm-actions/userscript.js
Labels: type: bug, scope: addon api, priority: 2, scope: addon, bug: regression

#6243 Fix unstyled button on permissions page
  webpages/settings/permissions.html
Labels: priority: 4, scope: webpages, bug: regression

#6244 studio-tools: remove unused string
  addons-l10n/en/studio-tools.json
Labels: priority: 4, scope: addon

#6247 editor-theme3: compatibility with Scratch high contrast theme (attempt 2)
  addons/editor-theme3/black_text.css
  addons/editor-theme3/icons/black_text/arrow_button.svg
  addons/editor-theme3/icons/white_text/arrow_button.svg
  addons/editor-theme3/icons/white_text/extensions/music.svg
  addons/editor-theme3/icons/white_text/extensions/pen.svg
  addons/editor-theme3/icons/white_text/extensions/text2speech.svg
  addons/editor-theme3/icons/white_text/extensions/translate.png
  addons/editor-theme3/icons/white_text/extensions/videoSensing.svg
  addons/editor-theme3/icons/white_text/repeat.svg
  addons/editor-theme3/icons/white_text/rotate-left.svg
  addons/editor-theme3/icons/white_text/rotate-right.svg
  addons/editor-theme3/theme3.css
  addons/editor-theme3/theme3.js
Labels: priority: 2, scope: addon

#6232 Warn users before posting "scratch addons" on forums
  content-scripts/cs.js
Labels: type: enhancement, scope: core

#6252 Use setAttribute to set ARIA attributes
  addons/hide-stage/userscript.js
  addons/search-profile/userscript.js
Labels: priority: 4, platform: firefox, scope: addon, scope: accessibility

#6257 Feature color-related addons at the top of settings (1.32.2)
  addons/dark-www/addon.json
  addons/editor-dark-mode/addon.json
  addons/editor-theme3/addon.json
  webpages/settings/index.js
Labels: scope: addon, scope: webpages, scope: user experience

#6256 Add v1.33.2 update notification
  _locales/en/messages.json
  content-scripts/cs.js
Labels: scope: meta, scope: core

#6263 editor-dark-mode: fix scrollbar hover color
  addons/editor-dark-mode/experimental_editor.css
Labels: priority: 4, scope: addon

#6094 Replace blue with purple in editor addons
  addons/debugger/icons/logs.svg
  addons/debugger/icons/performance.svg
  addons/debugger/icons/threads.svg
  addons/debugger/style.css
  addons/hide-flyout/style.css
  addons/hide-stage/icon.svg
  addons/onion-skinning/style.css
  addons/paint-snap/userstyle.css
  addons/pause/style.css
  addons/sprite-properties/userstyle.css
  addons/variable-manager/icon.svg
Labels: scope: addon

#6074 Change default editor highlight color to purple
  addons/editor-dark-mode/addon.json
  background/get-addon-settings.js
Labels: type: enhancement, scope: addon

#6278 Update remaining uses of blue accent color
  addon-api/content-script/modal.js
  addons/editor-dark-mode/experimental_editor.css
  addons/op-badge/forums.css
  addons/op-badge/projectpage.css
  webpages/settings/components/previews/editor-dark-mode.html
Labels: scope: addon api, priority: 3, scope: addon, scope: webpages

#6265 Use new purple in website addons
  addons/necropost-highlighter/style.css
  addons/old-studio-layout/addon.json
  addons/old-studio-layout/style.css
  addons/scratchr2/addon.json
  addons/scratchr2/forums.css
  addons/scratchr2/mystuff.css
  addons/scratchr2/remixtree.css
  addons/scratchr2/scratchr2.css
  addons/scratchr2/scratchr2_comments.css
  addons/scratchr2/v_tabs.css
  addons/scratchr2/view_all.css
  addons/scratchstats/userscript.js
Labels: type: enhancement, scope: addon

#6277 editor-dark-mode: use blue color for some elements
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/experimental_editor.css
Labels: priority: 3, scope: addon

#6276 Store setting migrations that were applied
  background/get-addon-settings.js
Labels: type: enhancement, scope: core

#6305 Do not show update notification on iframes
  content-scripts/cs.js
Labels: type: bug, scope: core

#6315 dark-www: old scratchr2 blue and other changes
  addons/dark-www/addon.json
  addons/dark-www/experimental_scratchr2.css
  addons/op-badge/forums.css
  content-scripts/cs.js
Labels: scope: addon.json, priority: 3, scope: addon, scope: core

#6322 Change link color in update notification
  content-scripts/cs.js
Labels: priority: 3, scope: core, scope: accessibility

#6324 dark-www: fix duplicate preset IDs
  addons/dark-www/addon.json
Labels: type: bug, scope: l10n, scope: addon
