Repository ScratchAddons/ScratchAddons, pull requests merged in 2023-02, with the labels that each got.

#5682 dark-www: compatibility with new project stats icons
  addons/dark-www/assets/favorite_transparent.svg
  addons/dark-www/assets/love_transparent.svg
  addons/dark-www/experimental_scratchwww.css
Labels: priority: 3, scope: addon

#5582 block-switching: Add more switching
  addons-l10n/en/block-switching.json
  addons/block-switching/addon.json
  addons/block-switching/blockToDom.js
  addons/block-switching/userscript.js
Labels: status: needs review, scope: addon

#5634 Rename "Mute" to "Do not disturb"
  _locales/en/messages.json
  addons/msg-count-badge/addon.json
  addons/scratch-notifier/addon.json
Labels: status: needs review, scope: webpages, scope: core

#5071 Change colors of extension icons based on background and block color
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/extension_icons.js
  addons/editor-theme3/theme3.js
Labels: scope: addon

#5688 editor-dark-mode: white insertion marker
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/experimental_editor.css
Labels: scope: addon

#5693 Fix blue icon next to closed stickies
  addons/dark-www/experimental_scratchr2.css
  addons/scratchr2/forums.css
Labels: scope: addon

#5691 scratchr2: adjust spacing around comment input
  addons/scratchr2/profile.css
Labels: priority: 4, scope: addon

#5493 items-per-row: avoid changing layout with default settings
  addons/items-per-row/classes.js
  addons/items-per-row/search.css
  addons/items-per-row/studio.css
Labels: scope: addon

#5488 `clones`: Setting to show on project page
  addons/clones/addon.json
  addons/clones/userscript.js
Labels: type: enhancement, scope: addon

#5714 Prevent visited links from turning blue on messages page
  addons/dark-www/experimental_scratchwww.css
Labels: status: needs review, scope: addon

#5728 dark-www: support updated Explore page tabs
  addons/dark-www/addon.json
  addons/dark-www/experimental_scratchwww.css
Labels: scope: addon

#5699 Dynamic enable/disable for `one-click-studio-invites`
  addons/one-click-studio-invites/addon.json
  addons/one-click-studio-invites/userscript.js
  addons/one-click-studio-invites/userstyle.css
Labels: scope: addon

#5308 Add two new presets to `editor-theme3`
  addons/editor-theme3/addon.json
Labels: scope: addon

#5737 Transparent navbar
  addons/dark-www/addon.json
Labels: type: enhancement, scope: addon

#5391 Adding blocks by name improvement
  addons-l10n/en/_general.json
  addons/debugger/userscript.js
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-theme3/compatibility.css
  addons/middle-click-popup/BlockRenderer.js
  addons/middle-click-popup/BlockTypeInfo.js
  addons/middle-click-popup/WorkspaceQuerier.js
  addons/middle-click-popup/addon.json
  addons/middle-click-popup/userscript.js
  addons/middle-click-popup/userstyle.css
Labels: type: enhancement, scope: addon
