Repository ScratchAddons/ScratchAddons, pull requests merged in 2023-04, with the labels that each got.

#5788 New "customizable navigation bar" (discuss-button) setting: stick to top of screen/page
  addons/discuss-button/addon.json
  addons/discuss-button/stick.css
Labels: type: enhancement, scope: addon

#5883 Fix konami-code in settings page not working properly on non-qwerty layouts
  webpages/settings/index.js
Labels: type: bug, scope: webpages

#5734 New addon: Follow topics after posting
  addons/addons.json
  addons/auto-follow-topics/addon.json
  addons/auto-follow-topics/userscript.js
Labels: type: enhancement, new addon, scope: addon

#5908 `disable-auto-save`: Update string
  addons-l10n/en/disable-auto-save.json
Labels: type: enhancement, scope: addon

#5913 Lowercase reply button in scratchr2 addon
  addons/scratchr2/scratchr2_comments.css
Labels: type: enhancement, scope: addon

#5907 Update `number-pad` description
  addons/number-pad/addon.json
Labels: scope: addon

#5927 Turn forum toolbar icons white in dark mode
  addons/dark-www/addon.json
  addons/dark-www/assets/forum_buttons/bold.png
  addons/dark-www/assets/forum_buttons/browser_os.png
  addons/dark-www/assets/forum_buttons/center.png
  addons/dark-www/assets/forum_buttons/italic.png
  addons/dark-www/assets/forum_buttons/list_bullet.png
  addons/dark-www/assets/forum_buttons/list_item.png
  addons/dark-www/assets/forum_buttons/list_numeric.png
  addons/dark-www/assets/forum_buttons/stroke.png
  addons/dark-www/assets/forum_buttons/underline.png
  addons/dark-www/experimental_scratchr2.css
  addons/image-uploader/userscript.js
  addons/scratchr2/forums.css
Labels: scope: addon

#5613 `user-id`: Option to show only on hover
  addons/user-id/addon.json
  addons/user-id/hover.css
Labels: status: needs review, scope: addon

#5889 Update PR Template
  .github/pull_request_template.md
Labels: type: enhancement, scope: meta

#5926 Support updated tabs on search and Explore pages
  addons/dark-www/experimental_scratchwww.css
  addons/search-profile/style.css
  addons/search-profile/userscript.js
Labels: scope: addon

#5738 Ctrl+Click to open open in new TurboWarp tab
  addons/turbowarp-player/addon.json
  addons/turbowarp-player/userscript.js
Labels: type: enhancement, scope: addon

#5705 Edit descriptions/names of 5 addons
  addons/color-inputs/addon.json
  addons/hide-flyout/addon.json
  addons/hide-new-variables/addon.json
  addons/pause/addon.json
  addons/pick-colors-from-stage/addon.json
Labels: scope: addon

#4974 New Addon: Necropost Highlighter
  addons-l10n/en/necropost-highlighter.json
  addons/addons.json
  addons/dark-www/addon.json
  addons/necropost-highlighter/addon.json
  addons/necropost-highlighter/style.css
  addons/necropost-highlighter/userscript.js
Labels: type: enhancement, new addon, status: needs review, scope: addon

#5901 editor-theme3: add black versions of icons
  addons/editor-theme3/black_text.css
  addons/editor-theme3/icons/black_text/extensions/music.svg
  addons/editor-theme3/icons/black_text/extensions/pen.svg
  addons/editor-theme3/icons/black_text/extensions/text2speech.svg
  addons/editor-theme3/icons/black_text/extensions/translate.svg
  addons/editor-theme3/icons/black_text/extensions/videoSensing.svg
  addons/editor-theme3/icons/black_text/repeat.svg
  addons/editor-theme3/icons/black_text/rotate-left.svg
  addons/editor-theme3/icons/black_text/rotate-right.svg
  addons/editor-theme3/theme3.js
Labels: scope: addon

#5953 better-featured-project: CSS fixes
  addons/better-featured-project/userstyle.css
Labels: scope: addon

#5852 Find bar: make some strings translatable
  addons-l10n/en/find-bar.json
  addons/find-bar/userscript.js
Labels: type: enhancement, scope: l10n

#5731 New addon: Remember collapsed forum categories
  addons/addons.json
  addons/remember-collapsed-categories/addon.json
  addons/remember-collapsed-categories/userscript.js
Labels: type: enhancement, new addon, scope: addon

#5797 Volume slider updates
  addons/vol-slider/addon.json
  addons/vol-slider/hover.css
  addons/vol-slider/userstyle.css
Labels: type: enhancement, status: needs review, scope: addon

#5976 dark-www: remove references to dark scrollbars setting
  addons/dark-www/experimental_forums_preview.js
Labels: scope: addon

#5800 New addon 'Faster project loading'
  addons/addons.json
  addons/faster-project-loading/addon.json
  addons/faster-project-loading/userscript.js
Labels: type: enhancement, scope: addon

#5812 Hex color picker fixes
  addons/color-picker/code-editor.js
  addons/color-picker/paint-editor.js
Labels: type: bug, scope: addon

#5461 Adjust name of `editor-searchable-dropdowns` and 3 other addons
  addons/editor-searchable-dropdowns/addon.json
  addons/mouse-pos/addon.json
  addons/search-profile/addon.json
  addons/search-sprites/addon.json
Labels: scope: webpages
