Repository ScratchAddons/ScratchAddons, pull requests merged in 2023-12, with the labels that each got.

#6816 `better-quoter`: Escape square brackets
  addons/better-quoter/module.js
Labels: type: bug, scope: addon

#6902 editor-theme3: fix transparent inputs
  addons/editor-theme3/black_text.css
  addons/editor-theme3/theme3.css
Labels: scope: addon

#6927 Fix `ctrl-enter-post` not working on topic creation
  addons/ctrl-enter-post/addon.json
Labels: scope: addon

#6947 [Readme] Fix broken URL to Chrome docs
  README.md
Labels: type: bug, scope: documentation, scope: meta

#6786 Settings page: show addon IDs when hovered
  webpages/settings/components/addon-body.html
  webpages/settings/components/addon-body.js
  webpages/settings/index.js
  webpages/styles/components/tooltips.css
Labels: scope: webpages, scope: development

#6952 Don't escape BBCode tags with `better-quoter` and `show-bbcode`
  addons/better-quoter/module.js
  addons/show-bbcode/userscript.js
Labels: type: bug, scope: addon

#6873 `scratchr2`: Style comment warnings correctly
  addons/scratchr2/scratchr2_comments.css
Labels: type: bug, scope: addon

#6923 Use `event.key` instead of `code` and `keyCode`
  addons/2d-color-picker/paint-editor.js
  addons/ctrl-enter-post/comments.js
  addons/ctrl-enter-post/forums.js
  addons/editor-devtools/DevTools.js
  addons/editor-number-arrow-keys/userscript.js
  addons/find-bar/userscript.js
  addons/pause/userscript.js
Labels: scope: addon, scope: accessibility

#6921 folders: fix duplicated sprite order
  addons/folders/userscript.js
Labels: status: needs review, scope: addon

#6897 Specify version for Prettier action
  .github/workflows/format-code.yml
Labels: type: enhancement, scope: ci, scope: meta, scope: development

#6965 Fix `better-quoter` not quoting anything when not selecting anything with `show-bbcode`
  addons/better-quoter/module.js
Labels: type: bug, scope: addon, bug: regression

#6979 Change "argument" to "parameter"
  addons/block-switching/addon.json
Labels: type: enhancement, scope: addon

#6996 search-my-stuff: don't show search bar when disabled
  addons/search-my-stuff/userscript.js
Labels: scope: addon

#6962 Multiple addons: Add wildcards to /mystuff URL matches
  addons/hide-project-stats/addon.json
  addons/horizontal-mystuff-tabs/addon.json
  addons/scratchr2/addon.json
  addons/search-my-stuff/addon.json
  addons/share-through-mystuff/addon.json
Labels: type: bug, scope: addon

#6981 Add code comments to certain addon-setting procedures
  background/get-addon-settings.js
Labels: type: enhancement, scope: development

#6969 Fix z-index compat between `old-studio-layout`/`studio-followers` & `collapse-footer`
  addons/collapse-footer/userstyle.css
  addons/old-studio-layout/style.css
Labels: type: bug, scope: addon
