Repository ScratchAddons/ScratchAddons, pull requests merged in 2024-12, with the labels that each got.

#7134 Multiple updates on workflow
  .eslintrc.json
  .github/workflows/eslint.yml
  .github/workflows/format-code.yml
  .github/workflows/packer.yml
  .github/workflows/schema-validation.yml
  .github/workflows/stale-issues.yml
  .github/workflows/transifex.yml
  .github/workflows/unittest.yml
  .github/workflows/update-addons-data.yml
  .prettierignore
  eslint.config.mjs
Labels: type: bug, priority: 2, scope: ci, status: awaiting answer/followup

#7949 middle-click-popup: new Blockly
  addons/middle-click-popup/BlockTypeInfo.js
  addons/middle-click-popup/userscript.js
  addons/middle-click-popup/userstyle.css
Labels: status: needs review, scope: addon, scope: upstream

#7243 Recommend `auto-follow-topics` addon
  addons/auto-follow-topics/addon.json
Labels: scope: addon

#7981 Use the same Prettier version in PRs and on master
  .github/workflows/format-code.yml
  addon-api/content-script/blocks.js
  addons/editor-stepping/highlighter.js
  addons/editor-theme3/theme3.js
  addons/find-bar/userscript.js
  addons/middle-click-popup/userscript.js
Labels: scope: ci

#7979 data-category-tweaks-v2: new Blockly
  addons/data-category-tweaks-v2/userscript.js
Labels: status: needs review, scope: addon, scope: upstream

#7892 Port away from `window.Blockly.getMainWorkspace()`
  addons/custom-zoom/userscript.js
  addons/editor-devtools/DevTools.js
  addons/editor-extra-keys/userscript.js
  addons/editor-random-direction-block/userscript.js
  addons/editor-sounds/userscript.js
  addons/editor-stage-left/fix-share-the-love.js
  addons/find-bar/blockly/Utils.js
  addons/reorder-custom-inputs/userscript.js
  addons/variable-manager/userscript.js
Labels: scope: addon, scope: upstream

#7978 Lint code and update ESLint config
  addons/asset-conflict-dialog/userscript.js
  addons/copy-message-link/profile.js
  addons/dark-www/profile.js
  addons/forum-search/userscript.js
  addons/infinite-scroll/search-explore-module.js
  addons/middle-click-popup/BlockTypeInfo.js
  addons/middle-click-popup/WorkspaceQuerier.js
  addons/player-thumb/userscript.js
  addons/remaining-replies/userscript.js
  addons/reorder-custom-inputs/modified-funcs.js
  addons/reorder-custom-inputs/userscript.js
  addons/scratchr2/profile.js
  addons/search-profile/userscript.js
  eslint.config.mjs
  webpages/error/reset-settings.js
Labels: status: needs review, scope: addon, scope: ci, scope: tech debt

#7783 `blocks2image`: More reliable offset calculations
  addons/blocks2image/userscript.js
Labels: status: needs review, scope: addon

#7980 New addon: `no-sprite-confirm`
  addons/addons.json
  addons/no-sprite-confirm/addon.json
  addons/no-sprite-confirm/hide.css
  addons/no-sprite-confirm/userscript.js
Labels: type: enhancement, new addon, scope: addon

#7995 hide-backpack: new Blockly
  addons/hide-backpack/button.css
  addons/hide-backpack/userscript.js
Labels: scope: addon, scope: upstream

#7534 Add `user-select: none` and `draggable=false` to some elements in the extension UI
  popups/cloud-games/popup.css
  popups/cloud-games/popup.html
  popups/scratch-messaging/popup.css
  popups/scratch-messaging/popup.html
  webpages/popup/index.html
  webpages/popup/style.css
  webpages/settings/components/addon-body.html
  webpages/settings/components/addon-group-header.html
  webpages/settings/components/addon-setting.html
  webpages/settings/components/addon-setting.js
  webpages/settings/components/category-selector.html
  webpages/settings/components/modal.html
  webpages/settings/components/reset-dropdown.html
  webpages/settings/index.html
  webpages/settings/licenses.html
  webpages/settings/permissions.html
  webpages/settings/style.css
  webpages/styles/components/badges.css
  webpages/styles/components/buttons.css
  webpages/styles/components/filter.css
Labels: scope: webpages

#8003 custom-menu-bar: Add hide debug button setting
  addons/custom-menu-bar/addon.json
  addons/custom-menu-bar/debug-hide.css
  addons/custom-menu-bar/divider-hide.css
  addons/custom-menu-bar/tutorials-hide.css
Labels: type: enhancement, scope: addon

#8004 dark-www: remove styles for old Ideas page
  addons/dark-www/addon.json
  addons/dark-www/experimental_scratchr2.css
  addons/dark-www/experimental_scratchwww.css
Labels: scope: addon, scope: tech debt

#8020 Fix custom-menu-bar icons only mode
  addons/custom-menu-bar/menu-icons.css
Labels: type: bug, source: feedback, scope: addon

#8006 stage-monitor: Run on embeds
  addons/stage-monitor/addon.json
Labels: scope: addon

#8019 editor-theme3: fix comment text in the forums
  addons/editor-theme3/forums/base.css
  addons/editor-theme3/forums/color_on_black.css
  addons/editor-theme3/forums/color_on_white.css
Labels: scope: addon

#8029 workspace-dots: new Blockly
  addons/workspace-dots/userscript.js
Labels: scope: addon, scope: upstream

#8023 `mediarecorder` default setting fix
  addons/mediarecorder/userscript.js
Labels: type: bug, scope: addon

#4656 Change UI font
  libraries/README.md
  libraries/license-info.json
  libraries/thirdparty/Roboto.css
  libraries/thirdparty/Roboto/latin-ext.400.woff2
  libraries/thirdparty/Roboto/latin-ext.500.woff2
  libraries/thirdparty/Roboto/latin-ext.700.woff2
  libraries/thirdparty/Roboto/latin.400.woff2
  libraries/thirdparty/Roboto/latin.500.woff2
  libraries/thirdparty/Roboto/latin.700.woff2
  popups/cloud-games/popup.css
  popups/scratch-messaging/popup.css
  popups/scratch-messaging/popup.html
  webpages/popup/index.html
  webpages/popup/style.css
  webpages/settings/components/addon-body.html
  webpages/settings/components/addon-setting.html
  webpages/settings/components/category-selector.html
  webpages/settings/index.html
  webpages/settings/permissions.html
  webpages/settings/style.css
  webpages/styles/colors-light.css
  webpages/styles/components/badges.css
  webpages/styles/components/buttons.css
  webpages/styles/components/filter.css
  webpages/styles/components/licenses.css
  webpages/styles/components/popup.css
  webpages/styles/components/search.css
Labels: scope: design, scope: webpages

#8035 `jump-to-def` bugfix
  addons/jump-to-def/userscript.js
Labels: scope: addon, bug: regression

#3955 Move project player addons to a top-level category
  _locales/en/messages.json
  addons/60fps/addon.json
  addons/clones/addon.json
  addons/editor-buttons-reverse-order/addon.json
  addons/fullscreen/addon.json
  addons/gamepad/addon.json
  addons/live-featured-project/script.js
  addons/mouse-pos/addon.json
  addons/mute-project/addon.json
  addons/pause/addon.json
  addons/remove-curved-stage-border/addon.json
  addons/stage-monitor/addon.json
  addons/turbowarp-player/userscript.js
  addons/vol-slider/addon.json
  webpages/settings/components/addon-body.js
  webpages/settings/components/addon-tag.html
  webpages/settings/components/category-selector.html
  webpages/settings/data/categories.js
  webpages/settings/data/tags.js
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/styles/components/badges.css
Labels: scope: addon.json, scope: webpages, scope: user experience

#8024 `mediarecorder`: Specify audio codec
  addons/mediarecorder/userscript.js
Labels: type: bug, scope: addon

#8014 Make 'More Settings' linkable
  webpages/settings/index.js
Labels: type: enhancement, status: needs review, scope: webpages

#7991 Move settings page search bar into header
  webpages/settings/index.html
  webpages/settings/style.css
  webpages/styles/colors.css
  webpages/styles/components/search.css
Labels: type: enhancement, status: needs review, scope: webpages

#7715 New addon: Scratch 3.0 → 2.0
  addon-api/content-script/modal.js
  addons/addons.json
  addons/collapse-footer/userstyle.css
  addons/colorblind/bold-links.css
  addons/colorblind/non-bold-links.css
  addons/dark-www/addon.json
  addons/dark-www/experimental_scratchr2.css
  addons/dark-www/experimental_scratchwww.css
  addons/hide-project-stats/hide_favorite_count.css
  addons/hide-project-stats/hide_love_count.css
  addons/old-studio-layout/addon.json
  addons/old-studio-layout/default.css
  addons/old-studio-layout/scratch3to2.css
  addons/old-studio-layout/scratchr2.css
  addons/old-studio-layout/style.css
  addons/scratch3to2/about.css
  addons/scratch3to2/addon.json
  addons/scratch3to2/assets/embed_logo.png
  addons/scratch3to2/assets/embed_logo_hover.png
  addons/scratch3to2/assets/full_screen.png
  addons/scratch3to2/assets/green_flag.png
  addons/scratch3to2/assets/green_flag_gray.png
  addons/scratch3to2/assets/green_flag_hover.png
  addons/scratch3to2/assets/green_flag_large.png
  addons/scratch3to2/assets/pause.svg
  addons/scratch3to2/assets/pause_hover.svg
  addons/scratch3to2/assets/play.svg
  addons/scratch3to2/assets/play_hover.svg
  addons/scratch3to2/assets/stop.png
  addons/scratch3to2/assets/stop_hover.png
  addons/scratch3to2/comments.css
  addons/scratch3to2/download.css
  addons/scratch3to2/explore_and_search.css
  addons/scratch3to2/home.css
  addons/scratch3to2/ideas.css
  addons/scratch3to2/info.css
  addons/scratch3to2/join.css
  addons/scratch3to2/main.css
  addons/scratch3to2/messages.css
  addons/scratch3to2/project.css
  addons/scratch3to2/studio.css
  addons/search-profile/style.css
  background/get-userscripts.js
Labels: new addon, status: needs review, scope: addon
