Repository ScratchAddons/ScratchAddons, pull requests merged in 2024-10, with the labels that each got.

#7827 Editor and project page addons: better icons and colors
  addons/clones/300cats.svg
  addons/clones/cat.svg
  addons/clones/style.css
  addons/debugger/icons/close.svg
  addons/debugger/icons/debug.svg
  addons/debugger/icons/subthread.svg
  addons/debugger/style.css
  addons/download-button/download.svg
  addons/editor-dark-mode/addon.json
  addons/mouse-pos/style.css
  addons/reorder-custom-inputs/arrows.css
  addons/reorder-custom-inputs/userscript.js
Labels: scope: addon, scope: design

#7809 Fix tooltip CSS
  addons/better-img-uploads/style.css
  addons/paint-by-default/addon.json
  libraries/common/cs/react-tooltip.css
Labels: scope: addon

#7840 Tweak list of enabled by default addons
  addons/animated-thumb/addon.json
  addons/disable-sprite-wobble/addon.json
Labels: scope: addon, size: extra small

#7822 search-sprites: move search box to the bottom
  addons-l10n/en/search-sprites.json
  addons/editor-compact/userstyle.css
  addons/editor-dark-mode/addon.json
  addons/search-sprites/addon.json
  addons/search-sprites/reset-icon.svg
  addons/search-sprites/search-bar.css
  addons/search-sprites/search-icon.svg
  addons/search-sprites/userscript.js
Labels: scope: addon, scope: design

#7815 debugger: better chart colors and dark mode support
  addons/debugger/performance.js
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/debugger.js
  addons/editor-dark-mode/experimental_editor.css
Labels: scope: addon, scope: design

#7846 editor-compact: fix sprite search bar in small stage mode
  addons/editor-compact/userstyle.css
Labels: scope: addon

#7847 Change the order and appearance of popup tabs
  webpages/popup/index.js
  webpages/popup/style.css
Labels: scope: design, scope: webpages, scope: user experience

#7777 addon.tab.editorMode: Use Redux on /projects/editor/
  addon-api/content-script/Tab.js
Labels: scope: addon api

#7865 editor-dark-mode: update debugger performance charts if they already exist
  addons/editor-dark-mode/debugger.js
Labels: scope: addon, size: extra small

#7871 Use new `resizeEvent` option in more addons
  addons/download-button/style.css
  addons/download-button/userscript.js
  addons/last-edit-tooltip/userscript.js
  addons/remix-tree-button/addon.json
  addons/remix-tree-button/button.css
  addons/remix-tree-button/main.js
Labels: scope: addon

#7872 disable-auto-save: don't show confirmation twice
  addons/disable-auto-save/userscript.js
Labels: scope: addon, size: extra small

#7258 `custom-zoom` autohide: Use CSS `:hover` instead of `getBoundingClientRect`
  addons/custom-zoom/style.css
  addons/custom-zoom/userscript.js
Labels: type: enhancement, scope: addon, scope: performance

#7887 `find-bar`: Only override CTRL+F shortcut when find bar is not in focus
  addons/find-bar/userscript.js
Labels: type: enhancement, scope: addon, size: extra small

#7873 Add beta tag to Scratch Notifier
  addons/scratch-notifier/addon.json
Labels: status: needs review, scope: addon

#7870 editor-theme3: Apply block colors to icons in "Make a block" popup
  addons/editor-theme3/theme3.js
Labels: status: needs review, scope: addon

#7878 Rephrase some confirmation messages
  addons-l10n/en/confirm-actions.json
  addons-l10n/en/scratch-messaging.json
Labels: scope: user experience, size: extra small

#7883 scratchr2: fix profile picture aspect ratio
  addons/scratchr2/view_all.css
Labels: type: bug, scope: addon, size: extra small

#7896 editor-dark-mode: new Blockly
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-dark-mode/extension_icons.js
  libraries/common/cs/update-all-blocks.js
Labels: scope: addon, scope: upstream

#7894 Add some addon tags
  addons/blocks2image/addon.json
  addons/editor-random-direction-block/addon.json
  addons/rename-broadcasts/addon.json
  addons/search-sprites/addon.json
Labels: scope: addon
