Repository ScratchAddons/ScratchAddons, pull requests merged in 2024-09, with the labels that each got.

#7751 Update CODEOWNERS file
  .github/CODEOWNERS
Labels: scope: meta, scope: development, size: small

#7765 exact-count: explain that a click is required in studios
  addons/exact-count/addon.json
Labels: scope: addon, size: extra small

#7741 dark-www: fix fully transparent borders
  addons/dark-www/addon.json
  addons/dark-www/experimental_scratchr2.css
  addons/dark-www/experimental_scratchwww.css
  libraries/common/cs/text-color.js
Labels: scope: addon

#7657 Improve efficiency in `copy-message-link` on profiles
  addons/copy-message-link/profile.js
Labels: status: needs review, scope: addon, scope: performance

#7547 Addonify forum user agent modifier
  addons/addons.json
  addons/forum-user-agent/addon.json
  addons/forum-user-agent/userscript.js
  content-scripts/inject/module.js
Labels: new addon, scope: addon.json, scope: addon, scope: core

#6830 blocks2image: modal instead of menu items & new "copy to clipboard"
  addons-l10n/en/blocks2image.json
  addons/blocks2image/addon.json
  addons/blocks2image/style.css
  addons/blocks2image/userscript.js
Labels: type: enhancement, scope: addon

#7808 Fix `addon.tab.scratchClass()` not supporting classes with "+"
  content-scripts/inject/module.js
Labels: priority: 3, scope: core

#7157 Check installType instead of version_name in some places
  background/transition.js
  libraries/common/load-vue-components.js
Labels: type: enhancement, status: needs review, scope: core, scope: development

#7317 `msg-count-badge`: Display compact numbers instead of large message counts
  background/message-cache.js
Labels: scope: addon, scope: core

#7810 blocks2image and custom-block-text compatibility
  addons/blocks2image/userscript.js
  addons/custom-block-text/userscript.js
Labels: scope: addon, scope: addon compatiblity

#4696 New Addon: `player-thumb`
  addons/addons.json
  addons/fullscreen/removeBorder.css
  addons/player-thumb/addon.json
  addons/player-thumb/userscript.js
  addons/player-thumb/userstyle.css
  addons/remove-curved-stage-border/remove-borders.css
Labels: type: enhancement, new addon, status: needs review, priority: 3, scope: addon

#7819 ctrl-enter-post: submit the right comment
  addons/ctrl-enter-post/comments.js
Labels: scope: addon, size: extra small

#7820 cloud-games: fix add button position
  popups/cloud-games/popup.css
Labels: scope: addon, size: extra small

#7813 find-bar: show correct index of first result
  addons/find-bar/userscript.js
Labels: scope: addon, size: extra small

#7767 Mute for 4 hours and until tomorrow options
  _locales/en/messages.json
  background/handle-notifications.js
Labels: type: enhancement, scope: core

#7832 `mediarecorder`: prefer mp4 over webm
  addons/mediarecorder/userscript.js
Labels: type: enhancement, priority: 3, platform: chrome, scope: addon, size: extra small
