Repository ScratchAddons/ScratchAddons, pull requests merged in 2024-02, with the labels that each got.

#7126 better-quoter: fix typo in emoji data
  addons/better-quoter/module.js
Labels: type: bug, scope: addon

#7143 custom-menu-bar: Fix versionAdded
  addons/custom-menu-bar/addon.json
Labels: status: needs review

#6034 Enhanced full screen: new setting "show toolbar when hovered"
  addons/fullscreen/addon.json
  addons/fullscreen/hideToolbar.css
  addons/fullscreen/userscript.js
Labels: type: enhancement, scope: addon

#7149 Fix capitalized account settings when using a teacher account
  addons/account-settings-capitalize/style.css
Labels: type: bug, scope: addon

#7131 pause: fix keyboard shortcut on macOS
  addons/pause/userscript.js
Labels: type: bug, scope: addon, bug: regression

#7162 faster-project-loading: Fix dropping code into sprite-pane
  addons/faster-project-loading/userscript.js
Labels: type: bug, priority: 2, scope: addon

#7153 "Insert blocks by name": smarter algorithm to handle lots of results (middle-click-popup)
  addons/middle-click-popup/WorkspaceQuerier.js
Labels: scope: addon, platform: turbowarp

#7038 Style WebGL modal with `editor-dark-mode`
  addons/editor-dark-mode/experimental_editor.css
Labels: scope: addon

#7183 Add beta tag to deprecated/broken forum addons
  addons/forum-time-zones/addon.json
  addons/image-uploader/addon.json
Labels: scope: addon

#7195 Project video recorder: Make filename the project title
  addons/mediarecorder/userscript.js
Labels: scope: addon

#7212 Fix double scrollbar in middle click popup
  addons/middle-click-popup/userstyle.css
Labels: scope: addon

#7192 Fix hovering above fullscreen toolbar on Firefox
  addons/fullscreen/userscript.js
Labels: type: bug, platform: firefox, scope: addon

#7227 progress-bar: make bar at top of screen non-interactive
  addons/progress-bar/userstyle.css
Labels: priority: 2, scope: addon

#7223 search-profile: consider atypical short and long usernames
  addons/search-profile/userscript.js
Labels: scope: addon

#7226 Prevent Alt+X (pause) from cutting blocks
  addons/pause/userscript.js
Labels: type: bug, scope: addon, scope: upstream
