Repository ScratchAddons/ScratchAddons, pull requests merged in 2024-07, with the labels that each got.

#7613 dark-www: fix "Choose a tutorial" icon
  addons/dark-www/experimental_scratchwww.css
Labels: scope: addon

#7617 remove harmful and dead exact-count features
  addons/exact-count/addon.json
  addons/exact-count/forum.js
  addons/exact-count/studio.js
Labels: priority: 1, scope: addon

#7573 Add setting transition code for new workspace-dots addon
  background/get-addon-settings.js
Labels: scope: core

#7169 Improve progress-bar compatibility with faster-project-loading
  addons/faster-project-loading/module.js
  addons/faster-project-loading/userscript.js
  addons/progress-bar/userscript.js
Labels: scope: addon, scope: addon compatiblity

#7586 `mediarecorder` options UI changes
  addons-l10n/en/mediarecorder.json
  addons/mediarecorder/style.css
  addons/mediarecorder/userscript.js
Labels: status: needs review, scope: addon, scope: user experience

#7584 scratch-messaging: show fragment if fetching comment failed
  popups/scratch-messaging/api.js
  popups/scratch-messaging/popup.js
Labels: scope: addon

#7634 forum-toolbar: update link to Silk icon set
  addons/forum-toolbar/addon.json
Labels: scope: addon

#7631 `find-bar`: Don't prevent Ctrl+F outside editor
  addons/find-bar/userscript.js
Labels: type: bug, scope: addon

#7621 exact-count: better exact count for studios
  addons-l10n/en/exact-count.json
  addons/exact-count/addon.json
  addons/exact-count/studio.css
  addons/exact-count/studio.js
Labels: scope: addon

#7639 download-button: fix wrong tag
  addons/download-button/addon.json
Labels: scope: addon

#7643 Add notice to `exact-count` about removed setting
  addons/exact-count/addon.json
Labels: scope: addon, size: extra small

#7630 Update clipboardWrite permission logic for Firefox 127+
  addon-api/content-script/Tab.js
  background/imports/util.js
  content-scripts/cs.js
  webpages/settings/index.js
Labels: type: bug, scope: addon api, status: needs review, platform: firefox, scope: addon, scope: core

#7647 [v1.38.x] Stop fetching scratch.mit.edu/csrf_token and more optimizations
  addons-l10n/en/exact-count.json
  addons/exact-count/addon.json
  addons/exact-count/studio.css
  addons/exact-count/studio.js
  background/get-userscripts.js
  background/handle-auth.js
  background/handle-settings-page.js
  background/imports/inactivity.js
  background/message-cache.js
  webpages/popup-loader.js
Labels: priority: 2, scope: addon, scope: core, scope: upstream

#7566 Fix workspace update bugs
  addon-api/content-script/blocks.js
  addons/cat-blocks/userscript.js
  addons/custom-block-shape/update-all-blocks.js
  addons/custom-block-shape/userscript.js
  addons/custom-block-text/userscript.js
  addons/data-category-tweaks-v2/userscript.js
  addons/editor-dark-mode/extension_icons.js
  addons/editor-square-inputs/userscript.js
  addons/editor-theme3/theme3.js
  addons/zebra-striping/userscript.js
  libraries/common/cs/update-all-blocks.js
  libraries/common/cs/update-toolbox-xml.js
Labels: scope: addon api, scope: addon

#7509 `editor-theme3`: add customizable insertion markers
  addons/editor-theme3/addon.json
  addons/editor-theme3/insertion_marker.css
  addons/editor-theme3/theme3.js
  background/get-addon-settings.js
Labels: type: enhancement, scope: addon

#7513 Messaging: count identical studio-activity messages as many messages
  popups/scratch-messaging/popup.html
  popups/scratch-messaging/popup.js
Labels: type: enhancement, scope: addon

#7667 Changes to `editor-theme3/addon.json`
  addons/editor-theme3/addon.json
Labels: type: enhancement, scope: addon.json, scope: addon

#7666 [v1.38.x] Send less requests to `scratch.mit.edu/session` etc.
  addon-api/common/FetchableAuth.js
  addons/exact-count/user.js
  addons/forum-post-countdown/userscript.js
  background/handle-auth.js
  content-scripts/inject/module.js
  content-scripts/prototype-handler.js
Labels: type: enhancement, scope: addon api, priority: 3, scope: addon, scope: core

#7661 Remove forum-time-zones and image-uploader
  addons-l10n/en/image-uploader.json
  addons/addons.json
  addons/forum-time-zones/addon.json
  addons/forum-time-zones/userscript.js
  addons/forum-toolbar/userscript.js
  addons/image-uploader/addon.json
  addons/image-uploader/button.css
  addons/image-uploader/icon.png
  addons/image-uploader/userscript.js
  addons/material-forum-editor-buttons/icons.css
  addons/material-forum-editor-buttons/uploader.svg
Labels: scope: addon

#4493 New Addon: `remaining-replies`
  addons-l10n/en/remaining-replies.json
  addons/addons.json
  addons/remaining-replies/addon.json
  addons/remaining-replies/limit10.css
  addons/remaining-replies/userscript.js
Labels: type: enhancement, new addon, scope: addon

#7678 README: Add badge for Discord online users
  README.md
Labels: type: enhancement, scope: meta

#7559 Rework display none while disabled
  addon-api/content-script/Tab.js
  addon-api/content-script/contextmenu.js
  addons/clones/style.css
  addons/clones/userscript.js
  addons/color-picker/code-editor.js
  addons/color-picker/paint-editor.js
  addons/echo-effect/userscript.js
  addons/editor-searchable-dropdowns/userscript.css
  addons/editor-searchable-dropdowns/userscript.js
  addons/editor-theme3/theme3.js
  addons/emoji-picker/userscript.js
  addons/emoji-picker/userstyle.css
  addons/find-bar/userscript.js
  addons/find-bar/userstyle.css
  addons/forum-copy-code/userscript.js
  addons/forum-id/userscript.js
  addons/forum-search/userscript.js
  addons/forum-toolbar/userscript.js
  addons/gamepad/userscript.js
  addons/mouse-pos/userscript.js
  addons/my-ocular/discuss.js
  addons/one-click-studio-invites/userscript.js
  addons/one-click-studio-invites/userstyle.css
  addons/onion-skinning/userscript.js
  addons/paint-snap/ui.js
  addons/preview-project-description/userscript.js
  addons/progress-bar/userscript.js
  addons/project-info/projectstats.js
  addons/project-info/userscript.css
  addons/remaining-replies/limit10.css
  addons/scratchstats/userscript.js
  addons/search-sprites/userscript.js
  addons/share-through-mystuff/userscript.js
  addons/sprite-properties/userscript.js
  addons/sprite-properties/userstyle.css
  addons/variable-manager/userscript.js
  addons/vol-slider/userscript.js
  addons/vol-slider/userstyle.css
  content-scripts/cs.js
  content-scripts/inject/module.js
Labels: scope: addon api

#7687 `blocks2image`: fix multiple reqs for same image
  addons/blocks2image/userscript.js
Labels: type: bug, scope: addon

#7650 Commits from `v1.38.x` branch (multiple opts to send less requests)
  addon-api/common/FetchableAuth.js
  addons/exact-count/user.js
  addons/forum-post-countdown/userscript.js
  background/handle-auth.js
  background/message-cache.js
  content-scripts/inject/module.js
  content-scripts/prototype-handler.js
  webpages/popup-loader.js
Labels: priority: 2, scope: core

#7682 Remove ScratchStats Addon
  addons-l10n/en/scratchstats.json
  addons/addons.json
  addons/dark-www/addon.json
  addons/dark-www/scratchstats.js
  addons/scratchstats/addon.json
  addons/scratchstats/scratchstats.png
  addons/scratchstats/style.css
  addons/scratchstats/userscript.js
Labels: scope: addon

#7482 Responsive permissions page
  webpages/settings/style.css
Labels: status: needs review, scope: webpages, scope: accessibility, platform: mobile
