Repository ScratchAddons/ScratchAddons, pull requests merged in 2024-08, with the labels that each got.

#7485 Setings page logo adjustments
  images/icon-transparent.svg
  webpages/popup/style.css
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/settings/licenses.html
  webpages/settings/permissions.html
  webpages/settings/style.css
  webpages/styles/components/smallmode.css
Labels: status: needs review, scope: design, scope: webpages

#7699 README: Fix microsoftedge icon
  README.md
Labels: scope: documentation, type: enhancement, scope: meta, size: small

#7698 `download-button`: include proj. ID in filename if Shift
  addons/download-button/userscript.js
Labels: type: enhancement, scope: addon, size: small

#7719 `scratchblocks`: use "scale" built-in option instead of scaleSVG()
  addons/scratchblocks/userscript.js
Labels: scope: addon

#7731 Update Samq64 addon credit links
  addons/collapse-footer/addon.json
  addons/vol-slider/addon.json
Labels: status: needs review

#3912 New Addon: `stage-monitor`
  addons/addons.json
  addons/stage-monitor/addon.json
  addons/stage-monitor/monitor-values.css
  addons/stage-monitor/monitors.css
Labels: type: enhancement, new addon, scope: addon

#7733 `delete-others`: featured tag instead of recommended
  addons/delete-others/addon.json
Labels: scope: addon

#7732 Add update notification for v1.39
  _locales/en/messages.json
  content-scripts/cs.js
Labels: scope: core

#7727 `forum-search`: fix addon by using new ScratchDB API
  addons-l10n/en/forum-search.json
  addons/forum-search/addon.json
  addons/forum-search/userscript.css
  addons/forum-search/userscript.js
  addons/scratchr2/forums.css
Labels: status: needs review, scope: addon

#7686 `msg-count-badge`: disable by default & some existing users
  addons/msg-count-badge/addon.json
  background/get-addon-settings.js
  webpages/settings/index.js
Labels: type: enhancement, priority: 3, scope: addon, scope: core, scope: upstream

#7759 Remove forums tag from exact-count
  addons/exact-count/addon.json
Labels: scope: addon, size: extra small

#7762 Check if chrome.scripting exists before using it
  background/firefox-localhost-support.js
Labels: type: bug, platform: firefox, scope: core, size: extra small
