Repository ScratchAddons/ScratchAddons, pull requests merged in 2024-03, with the labels that each got.

#7207 editor-theme3: fix number pad bugs
  addons/editor-theme3/black_text.css
  addons/editor-theme3/color_on_white.css
  addons/editor-theme3/theme3.js
Labels: scope: addon, bug: regression

#7231 Move de- & serializeSettings into its own module
  webpages/settings/index.js
  webpages/settings/settings-utils.js
Labels: type: enhancement, scope: webpages, scope: core

#7252 Add "export settings" button to unsupported-browser page
  background/handle-unsupported-version.js
  webpages/error/unsupported-browser.html
  webpages/error/unsupported-browser.js
  webpages/settings/index.js
Labels: priority: 2, scope: core

#7163 Improvements to "re-orderable custom inputs" addon
  addons/reorder-custom-inputs/addon.json
  addons/reorder-custom-inputs/modified-funcs.js
  addons/reorder-custom-inputs/userscript.js
Labels: type: enhancement, status: needs review, scope: addon

#7216 `hide-flyout`: Remove code that shrinks Scratch coding workspace
  addons/hide-flyout/userscript.js
Labels: scope: addon

#6611 New Addon: Larger "Save Now" button
  addons/addons.json
  addons/big-save-button/addon.json
  addons/big-save-button/userstyle.css
  addons/progress-bar/addon.json
  addons/remove-search-bar-autocomplete/addon.json
Labels: new addon, scope: addon, scope: accessibility

#7261 `custom-menu-bar`: change addon name, added word "editor"
  addons/custom-menu-bar/addon.json
Labels: scope: addon, scope: user experience

#6900 Create a separate AudioContext for the sound library
  addons/debugger/module.js
  addons/debugger/userscript.js
  addons/pause/userscript.js
Labels: scope: addon

#7187 custom-menu-bar: rewrite compact-dropdown userscript
  addons/custom-menu-bar/addon.json
  addons/custom-menu-bar/username.js
Labels: scope: addon

#6990 `60fps`: Add note about Energy Saver mode
  addons/60fps/addon.json
Labels: type: enhancement, status: needs review, scope: addon, scope: user experience

#7165 Convert `fullscreen` toolbar toggles to a select setting
  addons/fullscreen/addon.json
  addons/fullscreen/userscript.js
  background/get-addon-settings.js
Labels: scope: addon, scope: user experience

#7257 Change minimum browser requirements in preparation for MV3
  background/handle-unsupported-version.js
Labels: priority: 2, platform: firefox, platform: chrome, scope: core, mv3: breaking changes

#4475 New Addon - Hide backpack
  addons/addons.json
  addons/hide-backpack/addon.json
  addons/hide-backpack/backpack.svg
  addons/hide-backpack/border.css
  addons/hide-backpack/button.css
  addons/hide-backpack/userscript.js
Labels: type: enhancement, new addon, scope: addon

#6622 Copy `.editorconfig` properties to VS Code settings
  .vscode/settings.json
Labels: type: enhancement, scope: meta, scope: development

#6915 New-ish addon: Redirect to standard forums (from mobile forums 404)
  addons/addons.json
  addons/dark-www/experimental_scratchr2.css
  addons/necropost-highlighter/userscript.js
  addons/redirect-mobile-forums-v2/addon.json
  addons/redirect-mobile-forums-v2/userscript.js
  addons/redirect-mobile-forums/userscript.js
Labels: scope: addon

#7172 debugger: Scroll to the running thread
  addons/debugger/log-view.js
  addons/debugger/threads.js
Labels: type: enhancement, scope: addon

#7211 dark-www: change post preview consistently
  addons/dark-www/experimental_forums_preview.js
Labels: scope: addon

#7288 Make `hide-backpack` adjust for `custom-zoom`'s autohide
  addons/hide-backpack/button.css
Labels: scope: addon, scope: addon compatiblity

#6931 New addon: Download project from project page
  addons-l10n/en/download-button.json
  addons/addons.json
  addons/download-button/addon.json
  addons/download-button/download.svg
  addons/download-button/style.css
  addons/download-button/userscript.js
Labels: type: enhancement, new addon, status: needs review, scope: addon

#7297 download-button: fix spinner not adapting to background contrast
  addons/download-button/style.css
Labels: scope: addon

#7299 April Fools 2024 easter egg: Scratch Haddocks
  libraries/common/global-theme.js
  webpages/popup/index.js
Labels: type: enhancement, scope: webpages

#7308 Disable some addons for April Fools
  addons/cat-blocks/userscript.js
  addons/columns/userscript.js
  addons/data-category-tweaks-v2/userscript.js
  addons/hide-flyout/april-fools.js
  addons/hide-flyout/userscript.js
Labels: priority: 2

#7314 [README change] Fix border appearing inside of logo
  README.md
Labels: type: bug, scope: documentation, scope: meta
