Repository ScratchAddons/ScratchAddons, pull requests merged in 2024-04, with the labels that each got.

#7285 Expand the clickable area of the theme button like the settings button
  webpages/popup/index.html
  webpages/popup/style.css
  webpages/settings/index.html
  webpages/settings/style.css
Labels: scope: webpages, scope: accessibility

#7338 Use absolute URLs in background/core instead of relative URLs
  background/handle-notifications.js
Labels: type: enhancement, scope: core

#7333 Settings-page and popup: add hover effect for header buttons
  webpages/popup/style.css
  webpages/settings/style.css
  webpages/styles/colors-light.css
  webpages/styles/colors.css
  webpages/styles/components/smallmode.css
Labels: scope: design, scope: webpages

#7341 Background: import JS from a single module instead of script tags
  background/background.html
  background/background.js
Labels: type: enhancement, scope: core, mv3: transition

#7349 big-save-button: less space around the button
  addons/big-save-button/userstyle.css
Labels: scope: addon

#7365 Remove unneeded async call (upcoming Firefox support)
  webpages/settings/permissions.js
Labels: type: bug, platform: firefox, scope: webpages, scope: core, mv3: transition

#7352 `name-backpack-items`: Use `addon.tab.prompt` instead of `window.prompt`
  addons-l10n/en/name-backpack-items.json
  addons/name-backpack-items/userscript.js
Labels: scope: addon, scope: user experience

#7375 Do not open "permissions" page on every startup
  background/handle-permissions.js
Labels: scope: core

#7376 Remove `addon.self.lib` in favor of relative URLs in other APIs
  addon-api/common/Self.js
  addon-api/content-script/Addon.js
  addon-api/content-script/Tab.js
  addons/2d-color-picker/userscript.js
  addons/color-picker/userscript.js
  addons/dark-www/scratchstats.js
  addons/debugger/performance.js
  addons/forum-search/userscript.js
  addons/image-uploader/userscript.js
  addons/opacity-slider/userscript.js
  addons/scratchblocks/userscript.js
  addons/scratchstats/userscript.js
Labels: type: enhancement, scope: addon api, status: needs review, scope: addon
