Repository ScratchAddons/ScratchAddons, pull requests merged in 2024-05, with the labels that each got.

#7395 Fix spinner.css path (typo in URL)
  addons/scratchr2/forums.css
Labels: type: bug, scope: addon

#7391 fullscreen: correct canvas size when not in full screen
  addons/fullscreen/userscript.js
Labels: scope: addon

#7388 Move "is browser supported" logic from background to webpages
  background/background.js
  background/handle-unsupported-version.js
  webpages/check-unsupported.js
Labels: type: enhancement, scope: webpages, scope: core

#7394 Remove recently added `addon.self.dynamicImport` API
  addon-api/common/Self.js
  addons/forum-search/userscript.js
  addons/scratchblocks/userscript.js
Labels: scope: addon api

#7387 Manifest V3 extension
  .github/gen-manifest.mjs
  addons/scratch-notifier/notifier.js
  background/get-userscripts.js
  background/handle-fetch.js
  background/handle-notifications.js
  background/handle-settings-page.js
  background/imports/change-addon-state.js
  background/imports/global-state.js
  background/imports/on-ready.js
  background/l10n.js
  background/message-cache.js
  background/transition.js
  content-scripts/fix-console.js
  content-scripts/load-redux.js
  content-scripts/prototype-handler.js
  manifest.json
  webpages/settings/permissions.js
Labels: scope: meta, mv3: breaking changes

#7386 Fix `addon.tab.direction` bugs and implement `__addon` global
  addon-api/content-script/Tab.js
  content-scripts/inject/run-userscript.js
Labels: scope: addon api, scope: core

#7417 Cache instead of re-fetching manifests on every background startup through `chrome.storage.session`
  background/l10n.js
  background/load-addon-manifests.js
Labels: type: enhancement, scope: core, mv3: transition, scope: performance

#7464 Fix MV3 on Firefox for Android
  background/handle-notifications.js
  webpages/popup/index.html
Labels: priority: 2, platform: firefox, scope: webpages, scope: core, platform: mobile
