Repository ScratchAddons/ScratchAddons, pull requests merged in 2024-11, with the labels that each got.

#7901 editor-dark-mode: support delete confirmation
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/experimental_editor.css
Labels: scope: addon, scope: upstream

#7902 remove-sprite-confirm: prevent double confirmation
  addons/remove-sprite-confirm/userscript.js
Labels: scope: addon, scope: upstream, size: extra small

#7898 block-palette-icons: Fix on modern Blockly
  addons/block-palette-icons/userstyle.css
Labels: status: needs review, scope: addon, scope: upstream

#7899 Fix script-snap & no-script-bumping on new Blockly
  addons/no-script-bumping/userscript.js
  addons/script-snap/userscript.js
Labels: scope: addon, scope: upstream

#7914 folders: fix compatibility with sprite delete confirmation
  addons/folders/userscript.js
Labels: type: bug, priority: 2, scope: addon, scope: upstream

#7918 Delete remove-sprite-confirm addon
  addons-l10n/en/remove-sprite-confirm.json
  addons/addons.json
  addons/remove-sprite-confirm/addon.json
  addons/remove-sprite-confirm/userscript.js
Labels: scope: addon

#7916 editor-stage-left: move delete confirmation to the right
  addons/editor-stage-left/stageleft.css
Labels: type: bug, scope: addon, scope: upstream, size: small

#7917 better-quoter: support new scratchblocks
  addons/better-quoter/module.js
  content-scripts/cs.js
Labels: type: bug, scope: core, scope: upstream

#7919 Remove scratchblocks addon and library
  addons/addons.json
  addons/forum-search/userscript.js
  addons/scratchblocks/addon.json
  addons/scratchblocks/fix-dropdown.css
  addons/scratchblocks/userscript.js
  content-scripts/cs.js
  libraries/README.md
  libraries/license-info.json
  libraries/licenses/MIT-scratchblocks.txt
  libraries/thirdparty/cs/scratchblocks.min.es.js
  libraries/thirdparty/cs/translations-all-es.js
Labels: scope: addon

#7923 editor-dark-mode: style category titles in Tutorials library
  addons/editor-dark-mode/experimental_editor.css
Labels: type: bug, scope: addon, scope: upstream, size: extra small

#7924 dark-www: style Community Guidelines modal
  addons/dark-www/experimental_scratchwww.css
Labels: scope: addon, scope: upstream, size: extra small

#7921 editor-theme3: support new forum blocks
  addons/editor-theme3/forums/base.css
  addons/editor-theme3/forums/black_text.css
  addons/editor-theme3/forums/color_on_black.css
  addons/editor-theme3/forums/color_on_white.css
  addons/editor-theme3/forums/colored_text.css
Labels: status: needs review, scope: addon, scope: upstream

#7912 forum-search: Use new blocks
  addons/forum-search/userscript.js
Labels: status: needs review, scope: addon, scope: upstream

#7936 debugger, editor-stepping, find-bar, jump-to-def: new Blockly
  addon-api/content-script/blocks.js
  addons/debugger/threads.js
  addons/debugger/userscript.js
  addons/editor-stepping/highlighter.js
  addons/editor-stepping/userscript.js
  addons/find-bar/blockly/BlockFlasher.js
  addons/find-bar/blockly/Utils.js
  addons/find-bar/userscript.js
  addons/jump-to-def/userscript.js
Labels: scope: addon api, scope: addon, scope: upstream

#7939 Remove firefox-localhost-support.js
  .github/gen-manifest.mjs
  background/background.js
  background/firefox-localhost-support.js
  content-scripts/cs.js
  manifest.json
Labels: scope: core, scope: development

#7922 editor-theme3, number-pad: new Blockly
  addons/editor-theme3/addon.json
  addons/editor-theme3/black_text.css
  addons/editor-theme3/color_on_black.css
  addons/editor-theme3/color_on_white.css
  addons/editor-theme3/theme3.css
  addons/editor-theme3/theme3.js
  addons/number-pad/userscript.js
Labels: scope: addon, scope: upstream

#7938 dark-www: support new Ideas and Community Guidelines page designs
  addons/dark-www/banners/darker.css
  addons/dark-www/banners/desaturated.css
  addons/dark-www/experimental_scratchwww.css
Labels: scope: addon, scope: upstream

#7953 editor-number-arrow-keys: new Blockly
  addons/editor-number-arrow-keys/userscript.js
Labels: scope: addon, scope: upstream, size: extra small

#7954 Revert "Remove firefox-localhost-support.js (#7939)"
  .github/gen-manifest.mjs
  background/background.js
  background/firefox-localhost-support.js
  content-scripts/cs.js
  manifest.json
Labels: platform: firefox, scope: core, scope: development

#7843 `player-thumb`: Fullscreen loading support and bug fixes
  addons/fullscreen/removeBorder.css
  addons/player-thumb/addon.json
  addons/player-thumb/userscript.js
  addons/player-thumb/userstyle.css
Labels: scope: addon
