Repository ScratchAddons/ScratchAddons, pull requests merged in 2024-01, with the labels that each got.

#7032 middle-click-popup: only show popup in editor
  addons/middle-click-popup/userscript.js
Labels: scope: addon

#7031 editor-theme3: fix labels in custom block editor
  addons/editor-theme3/addon.json
  addons/editor-theme3/black_text.css
  addons/editor-theme3/color_on_white.css
  addons/editor-theme3/theme3.css
  addons/editor-theme3/theme3.js
Labels: type: bug, scope: addon

#7048 editor-dark-mode: fix dangerous context menu items
  addons/editor-dark-mode/experimental_editor.css
Labels: scope: addon

#7018 Confirm clicking Reply while writing a comment
  addons/confirm-actions/userscript.js
Labels: type: enhancement, scope: addon

#7058 mediarecorder: prefer VP9 when possible and add mp4 fallback
  addons-l10n/en/mediarecorder.json
  addons/mediarecorder/userscript.js
Labels: type: enhancement, scope: addon

#7056 find-bar: translate "flag"
  addons/find-bar/userscript.js
Labels: scope: l10n, scope: addon

#7017 Add some code comments to `confirm-actions`
  addons/confirm-actions/userscript.js
Labels: type: enhancement, scope: addon, scope: development

#7020 New addon: reorder-custom-inputs
  addons/addons.json
  addons/reorder-custom-inputs/addon.json
  addons/reorder-custom-inputs/arrows.css
  addons/reorder-custom-inputs/userscript.js
Labels: type: enhancement, new addon, scope: addon

#6639 Refine Contributing code section
  .github/CONTRIBUTING.md
Labels: scope: documentation, type: enhancement, scope: meta, scope: development

#7090 gamepad: Mark Firefox 123 and later on Linux as not broken
  addons/gamepad/gamepadlib.js
Labels: platform: firefox, scope: addon

#7076 hide-flyout: new setting "open by default" (auto-hide block pallete addon)
  addons/hide-flyout/addon.json
  addons/hide-flyout/userscript.js
Labels: type: enhancement, scope: addon

#7028 New Addon: Backpack-place-at-cursor
  addons/addons.json
  addons/place-backpack-code-at-cursor/addon.json
  addons/place-backpack-code-at-cursor/userscript.js
Labels: type: enhancement, new addon, scope: addon

#6811 Minor `emoji-picker` bugfix
  addons/emoji-picker/userstyle.css
Labels: type: bug, scope: addon

#7094 reorder-custom-inputs: change description
  addons/reorder-custom-inputs/addon.json
Labels: type: enhancement, scope: addon

#7050 Change the category of a few addons
  addons/cat-blocks/addon.json
  addons/columns/addon.json
  addons/custom-block-text/addon.json
  addons/resizable-comment-input/addon.json
Labels: scope: user experience

#6694 editor-theme3: monitor colors
  addons/editor-theme3/addon.json
  addons/editor-theme3/theme3.css
  addons/editor-theme3/theme3.js
Labels: type: enhancement, scope: addon

#6794 Use BigInt in `editor-number-arrow-keys`
  addons/editor-number-arrow-keys/userscript.js
Labels: type: enhancement, scope: addon
