Repository ScratchAddons/ScratchAddons, pull requests merged in 2024-06, with the labels that each got.

#7486 Bug-fix: clone manifests before caching them
  background/load-addon-manifests.js
Labels: type: bug, priority: 2, scope: core, bug: regression

#7430 my-ocular: purple reaction buttons
  addons/dark-www/experimental_scratchr2.css
  addons/my-ocular/reactions.css
Labels: scope: addon, scope: design

#7480 Bug fix for empty labels not working with reorder-custom-inputs addon
  addons/reorder-custom-inputs/modified-funcs.js
Labels: scope: addon

#7506 `better-img-uploads`: discard EXIF metadata before upload
  addons/better-img-uploads/userscript.js
Labels: scope: addon

#7232 New Addon: Asset Conflict Resolution Dialog
  addons-l10n/en/asset-conflict-dialog.json
  addons/addons.json
  addons/asset-conflict-dialog/addon.json
  addons/asset-conflict-dialog/style.css
  addons/asset-conflict-dialog/userscript.js
  addons/asset-conflict-dialog/utils.js
  addons/folders/userscript.js
Labels: type: enhancement, new addon, scope: addon

#7512 `comments-linebreaks`: add notice about linebreaks not rendering on scratchr2 pages
  addons/comments-linebreaks/addon.json
Labels: status: needs review, scope: addon

#7030 New addon: "delete other assets" (`delete-others`)
  addons-l10n/en/delete-others.json
  addons/addons.json
  addons/delete-others/addon.json
  addons/delete-others/userscript.js
Labels: type: enhancement, new addon, scope: addon

#7536 `collapse-footer`: fix grammar mistake in description
  addons/collapse-footer/addon.json
Labels: scope: addon

#7533 editor-dark-mode: opaque workspace dots
  addons/editor-dark-mode/addon.json
Labels: scope: addon

#7491 `hide-flyout`: Fix input and dropdown closing palette
  addons/hide-flyout/userscript.js
Labels: type: bug, scope: addon

#7504 Add some styles to the error page
  webpages/error/index.html
  webpages/error/style.css
  webpages/styles/colors-light.css
Labels: status: needs review, scope: design, scope: webpages

#7479 Remove `handle-licenses.js`
  _locales/en/messages.json
  background/background.js
  background/handle-licenses.js
  webpages/settings/licenses.html
  webpages/settings/licenses.js
  webpages/styles/components/licenses.css
Labels: type: enhancement, scope: webpages, scope: core, mv3: transition, scope: performance

#5474 Update the "For editor" badge color
  webpages/styles/components/badges.css
Labels: status: needs review, scope: design, scope: webpages, scope: accessibility

#7546 gamepad: dark mode support
  addons/editor-dark-mode/addon.json
  addons/gamepad/dot.svg
  addons/gamepad/gamepadlib.css
  addons/gamepad/style.css
Labels: scope: addon, scope: design, scope: addon compatiblity

#7554 old-studio-layout: fix mute message line height
  addons/old-studio-layout/style.css
Labels: scope: addon

#7555 editor-compact: fix sprite-properties compatibility issue
  addons/editor-compact/sprite-properties.css
Labels: scope: addon, scope: addon compatiblity

#7545 editor-dark-mode: fix parts of paint icons disappearing if `highlightText` is white
  addons/editor-dark-mode/paint_icons.js
Labels: status: needs review, scope: addon

#7556 editor-compact: add solid background to costume number
  addons/editor-compact/userstyle.css
Labels: status: needs review, scope: addon

#7557 Hide Blockly widgets when a modal is opened
  addon-api/content-script/modal.js
Labels: scope: addon api, status: needs review

#7179 Edits to the paragraph about Prettier
  .github/CONTRIBUTING.md
Labels: scope: documentation, type: enhancement, status: needs review, scope: development

#6821 Add text=auto and more to .gitattributes
  .gitattributes
Labels: type: enhancement, scope: meta, scope: development

#6582 Rename some addons
  addons/animated-thumb/addon.json
  addons/bitmap-copy/addon.json
  addons/editor-number-arrow-keys/addon.json
  addons/expanded-backpack/addon.json
  addons/horizontal-mystuff-tabs/addon.json
  addons/longer-wiwo/addon.json
  addons/name-backpack-items/addon.json
  addons/pick-colors-from-stage/addon.json
  addons/remix-button/addon.json
  addons/remove-search-bar-autocomplete/addon.json
  addons/scratchblocks/addon.json
  addons/search-my-stuff/addon.json
  addons/search-sprites/addon.json
  addons/swap-local-global/addon.json
Labels: scope: addon, scope: webpages

#7571 Rename "search" addons for consistency
  addons/search-my-stuff/addon.json
  addons/search-sprites/addon.json
Labels: scope: addon

#7525 New addon: Editor workspace dots theme (workspace-dots)
  addons/addons.json
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/hide_dots.css
  addons/workspace-dots/addon.json
  addons/workspace-dots/userscript.js
Labels: type: enhancement, new addon, scope: addon

#7505 Call background alarms less often (`msg-count-badge` affected)
  background/get-userscripts.js
  background/handle-settings-page.js
  background/imports/inactivity.js
  background/message-cache.js
Labels: type: enhancement, scope: core

#7567 cat-blocks: fix "watch mouse cursor" setting
  addons/cat-blocks/userscript.js
Labels: scope: addon

#7568 Support "Welcome to Scratch" message
  addons-l10n/en/scratch-messaging.json
  addons/message-filters/userscript.js
  popups/scratch-messaging/popup.css
  popups/scratch-messaging/popup.html
  popups/scratch-messaging/popup.js
Labels: scope: addon

#7173 Remember settings from last recording
  addons/mediarecorder/userscript.js
Labels: type: enhancement, status: needs review, scope: addon

#7579 Change `delete-others` addon name + description
  addons/delete-others/addon.json
Labels: scope: addon

#7578 Warn users that `forum-search` and `scratchstats` might not work
  addons/forum-search/addon.json
  addons/scratchstats/addon.json
Labels: scope: addon

#7569 find-bar: fix Ctrl+Z
  addons/find-bar/userscript.js
Labels: platform: chrome, scope: addon

#7587 `editor-theme3`: fix settings no longer dynamic after creating custom block
  addons/editor-theme3/theme3.js
Labels: scope: addon

#7583 find-bar: ignore case when comparing broadcasts
  addons/find-bar/userscript.js
Labels: status: needs review, scope: addon

#7592 middle-click-popup: hide Blockly widgets when opened
  addons/middle-click-popup/userscript.js
Labels: scope: addon

#7593 Fix monitor color scheme
  addons/dark-www/experimental_scratchwww.css
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/stage.css
Labels: scope: addon

#7591 columns: fix scrollbar
  addons/columns/userscript.js
Labels: scope: addon

#7474 `localhost` fixes
  .github/gen-manifest.mjs
  addon-api/content-script/Tab.js
  background/background.js
  background/firefox-localhost-support.js
  background/get-userscripts.js
  content-scripts/cs.js
  content-scripts/inject/module.js
  content-scripts/prototype-handler.js
  manifest.json
Labels: scope: addon api, scope: core, scope: development
