Repository ScratchAddons/ScratchAddons, pull requests merged in 2025-08, with the labels that each got.

#8481 Fix Permissions page being opened twice
  webpages/settings/index.js
Labels: platform: firefox, scope: webpages, scope: user experience

#8480 search-sprites & editor-stage-left: fix for small stage mode
  addons/editor-stage-left/stageleft.css
  addons/search-sprites/search-bar.css
  addons/search-sprites/userscript.js
Labels: scope: addon, scope: addon compatiblity

#8483 editor-theme3: fix broken define hat on new Blockly
  addons/editor-theme3/theme3.js
Labels: scope: addon

#8484 Responsive update notification
  content-scripts/cs.js
Labels: scope: core, platform: mobile

#8297 New feature for folders addon: delete all assets in folder
  addons-l10n/en/folders.json
  addons/folders/addon.json
  addons/folders/userscript.js
Labels: type: enhancement, scope: addon

#8472 Import and export individual addon's settings
  _locales/en/messages.json
  webpages/settings/components/addon-body.html
  webpages/settings/components/addon-body.js
  webpages/settings/components/addon-setting.html
  webpages/settings/components/addon-setting.js
  webpages/settings/components/picker-component.js
  webpages/settings/components/reset-dropdown.html
  webpages/settings/components/reset-dropdown.js
  webpages/settings/index.js
Labels: type: enhancement, scope: webpages

#8487 cat-blocks: new Blockly
  addons/blocks2image/userscript.js
  addons/cat-blocks/userscript.js
Labels: scope: addon, scope: upstream

#8064 "Go to definition" in context menu
  addon-api/content-script/Tab.js
  addons-l10n/en/jump-to-def.json
  addons/jump-to-def/addon.json
  addons/jump-to-def/userscript.js
Labels: type: enhancement, scope: addon, scope: user experience, platform: mobile

#7244 move-to-top-layer: Add context menu and support folders addon
  addons/move-to-top-layer/addon.json
  addons/move-to-top-layer/userscript.js
Labels: type: enhancement, scope: addon, size: small

#8500 Style share modal & other fixes
  addons/animated-thumb/userscript.js
  addons/dark-www/experimental_scratchwww.css
  addons/scratch3to2/explore_and_search.css
  addons/scratch3to2/main.css
  addons/scratch3to2/project.css
Labels: scope: addon, scope: upstream

#8501 scratch3to2: stage button fixes
  addons/scratch3to2/project.css
Labels: scope: addon, scope: addon compatiblity

#8504 Move restore messages to `_general.json`
  addons-l10n/en/_general.json
  addons-l10n/en/delete-others.json
  addons-l10n/en/folders.json
  addons/delete-others/userscript.js
  addons/folders/userscript.js
Labels: scope: l10n

#8522 collapse-footer: support updated scratch-www footer & other improvements
  addons/collapse-footer/addon.json
  addons/collapse-footer/icon.svg
  addons/collapse-footer/userscript.js
  addons/collapse-footer/userstyle.css
  addons/dark-www/experimental_scratchwww.css
  addons/scratch3to2/home.css
  addons/scratch3to2/main.css
  addons/scratchr2/scratchr2.css
Labels: scope: addon

#8476 New Addon: Recolor Custom Blocks
  addons/addons.json
  addons/data-category-tweaks-v2/addon.json
  addons/editor-theme3/addon.json
  addons/editor-theme3/module.js
  addons/editor-theme3/theme3.js
  addons/recolor-custom-blocks/addon.json
  addons/recolor-custom-blocks/assets/checkmark.svg
  addons/recolor-custom-blocks/userscript.js
  addons/recolor-custom-blocks/userstyle.css
Labels: type: enhancement, new addon, scope: addon
