Repository ScratchAddons/ScratchAddons, pull requests merged in 2025-04, with the labels that each got.

#8232 Support feedback and Terms of Use popups
  addons/dark-www/experimental_scratchwww.css
  addons/scratch3to2/main.css
Labels: scope: addon, scope: upstream

#8236 preview-project-description: React 18 support
  addons/preview-project-description/userscript.js
Labels: scope: addon, scope: upstream

#8240 transparent-orphans: new Blockly
  addons/transparent-orphans/addon.json
  addons/transparent-orphans/userscript.js
Labels: scope: addon, scope: upstream

#8199 Improvements to `forum-post-countdown`
  addons-l10n/en/forum-post-countdown.json
  addons/forum-post-countdown/addon.json
  addons/forum-post-countdown/userscript.js
Labels: scope: addon

#8241 blocks2image: new Blockly
  addons/blocks2image/userscript.js
Labels: scope: addon, scope: upstream

#6810 Allow more inputs in editor-number-arrow-keys
  addons/editor-number-arrow-keys/addon.json
  addons/editor-number-arrow-keys/userscript.js
Labels: type: enhancement, scope: addon

#8259 middle-click-popup: new Blockly fix
  addons/middle-click-popup/BlockTypeInfo.js
Labels: scope: addon, scope: upstream

#8235 Fix huge lag spike when opening insert blocks by name menu in TurboWarp with some extensions
  addons/middle-click-popup/WorkspaceQuerier.js
Labels: scope: addon, platform: turbowarp, scope: performance

#8260 editor-devtools: new Blockly
  addons/editor-devtools/DevTools.js
  addons/editor-devtools/DomHelpers.js
  libraries/common/cs/UndoGroup.js
Labels: scope: addon, scope: upstream

#8277 Fix number settings
  webpages/settings/components/addon-setting.js
Labels: scope: webpages

#8217 Add setting previews to more addons
  _locales/en/messages.json
  addons/compact-messages/addon.json
  addons/dark-www/addon.json
  addons/stage-monitor/addon.json
  addons/workspace-dots/addon.json
  libraries/common/vue-css-variables.js
  webpages/settings/components/previews/compact-messages.html
  webpages/settings/components/previews/compact-messages.js
  webpages/settings/components/previews/dark-www.html
  webpages/settings/components/previews/dark-www.js
  webpages/settings/components/previews/editor-dark-mode.html
  webpages/settings/components/previews/editor-dark-mode.js
  webpages/settings/components/previews/stage-monitor-preset.html
  webpages/settings/components/previews/stage-monitor-preset.js
  webpages/settings/components/previews/stage-monitor.html
  webpages/settings/components/previews/stage-monitor.js
  webpages/settings/components/previews/workspace-dots.html
  webpages/settings/components/previews/workspace-dots.js
  webpages/settings/index.html
  webpages/settings/index.js
Labels: scope: addon, scope: webpages

#7986 Added date created to "last-edit-tooltip" addon
  addons-l10n/en/last-edit-tooltip.json
  addons/last-edit-tooltip/addon.json
  addons/last-edit-tooltip/userscript.js
Labels: type: enhancement, scope: addon, size: small

#8290 mediarecorder: update description
  addons/mediarecorder/addon.json
Labels: type: enhancement, scope: addon, size: extra small

#8295 Fix volume slider overlapping fps
  addons/vol-slider/hover.css
Labels: scope: addon compatiblity
