Repository ScratchAddons/ScratchAddons, pull requests merged in 2025-06, with the labels that each got.

#8354 Add a couple setting descriptions to editor-theme3
  addons/editor-theme3/addon.json
  webpages/settings/style.css
Labels: scope: addon

#8398 Fix insert blocks by name not working in sprites with an empty custom block
  addons/middle-click-popup/WorkspaceQuerier.js
Labels: scope: addon

#8402 fix: prevent error when adding label to empty custom block (#8396)
  addons/reorder-custom-inputs/userscript.js
Labels: size: extra small

#8400 Fix setting layout in popup
  webpages/settings/components/addon-setting.html
  webpages/settings/style.css
Labels: scope: design, scope: webpages

#8409 dark-www: fix profile comment report background
  addons/dark-www/experimental_scratchr2.css
Labels: scope: addon, size: extra small

#8371 Make middle click popup results nicer with special characters / number-named variables
  addons/middle-click-popup/WorkspaceQuerier.js
Labels: scope: addon

#8346 Compact user dropdown adjustments
  addons/custom-menu-bar/username.css
  addons/custom-menu-bar/username.js
  addons/discuss-button/www.js
Labels: scope: addon
