Repository ScratchAddons/ScratchAddons, pull requests merged in 2025-03, with the labels that each got.

#8185 folders: fix regression
  addons/folders/userscript.js
Labels: scope: addon, bug: regression

#8183 editor-preview-comments: New Blockly support and move dark mode styling
  addons/editor-comment-previews/userscript.js
  addons/editor-comment-previews/userstyle.css
  addons/editor-dark-mode/experimental_editor.css
Labels: scope: addon, scope: upstream

#8191 no-sprite-confirm: React 18 support
  addons/no-sprite-confirm/userscript.js
Labels: scope: addon, scope: upstream

#8192 swap-local-global: new Blockly
  addons/swap-local-global/addon.json
  addons/swap-local-global/userscript.js
Labels: scope: addon, scope: upstream

#8200 Include settings and presets in search
  webpages/settings/data/fuse-options.js
Labels: source: feedback, scope: webpages

#8195 UI fixes
  addon-api/content-script/modal.js
  addons/60fps/svg/fast-flag.svg
  addons/blocks2image/userscript.js
  addons/collapse-footer/userscript.js
  addons/copy-reporter/userscript.js
  addons/custom-menu-bar/menu-icons.css
  addons/dark-www/addon.json
  addons/editor-compact/userstyle.css
  addons/editor-dark-mode/assets/translate_white.svg
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-dark-mode/extension_icons.js
  addons/editor-stage-left/stageleft.css
  addons/emoji-picker/userscript.js
  addons/find-bar/userstyle.css
  addons/hide-backpack/userscript.js
  addons/hide-stage/style.css
  addons/middle-click-popup/userstyle.css
  addons/mouse-pos/style.css
  addons/mouse-pos/userscript.js
  addons/mute-project/userscript.js
  addons/my-ocular/reactions.js
  addons/player-thumb/userscript.js
  addons/project-info/projectstats.js
  addons/search-profile/userscript.js
  content-scripts/cs.js
  popups/scratch-messaging/popup.css
  popups/scratch-messaging/popup.html
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/styles/colors-light.css
  webpages/styles/colors.css
Labels: scope: addon, scope: webpages

#8204 Add sticky footer class to forum userscript
  addons/infinite-scroll/forumScroll.js
Labels: type: bug, source: feedback, scope: addon

#8207 Remove dead code from devtools addons
  addons-l10n/en/editor-devtools.json
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-devtools/DevTools.js
  addons/editor-devtools/DomHelpers.js
  addons/editor-devtools/show-broadcast.js
  addons/editor-devtools/userscript.js
  addons/find-bar/userscript.js
  addons/jump-to-def/userscript.js
  addons/move-to-top-bottom/userscript.js
Labels: scope: addon, scope: tech debt

#8210 `player-thumb`: Never disable controls in editor
  addons/player-thumb/userstyle.css
Labels: scope: addon, bug: regression

#8205 Scratch Potatoes
  images/dirt.jpg
  libraries/common/global-theme.js
  webpages/popup/index.js
  webpages/popup/style.css
  webpages/settings/data/addon-groups.js
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/settings/style.css
Labels: scope: webpages

#8221 place-backpack-code-at-cursor: new Blockly
  addons/place-backpack-code-at-cursor/userscript.js
Labels: scope: addon, scope: upstream

#8212 Disable some addons for April Fools - 2025
  addons/cat-blocks/userscript.js
  addons/columns/userscript.js
  addons/data-category-tweaks-v2/userscript.js
  addons/hide-flyout/april-fools.js
  addons/hide-flyout/userscript.js
Labels: priority: 2, scope: upstream
