Repository ScratchAddons/ScratchAddons, pull requests merged in 2025-07, with the labels that each got.

#8424 copy-reporter: new Blockly
  addons/copy-reporter/userscript.js
Labels: scope: addon, scope: upstream

#8028 dark-www: style new links on teacher registration page
  addons/dark-www/experimental_scratchwww.css
Labels: scope: addon, scope: upstream

#8431 editor-sounds: new Blockly
  addons/editor-sounds/addon.json
  addons/editor-sounds/userscript.js
Labels: scope: addon, scope: upstream

#8438 custom-block-text: new Blockly
  addons/custom-block-text/userscript.js
  libraries/common/cs/update-all-blocks.js
Labels: scope: addon, scope: upstream

#8441 editor-square-inputs: new Blockly
  addons/editor-square-inputs/userscript.js
  addons/editor-theme3/theme3.js
Labels: scope: addon, scope: upstream

#8446 scratch3to2: remove text shadow from message count on messages page
  addons/scratch3to2/messages.css
Labels: scope: addon, size: extra small

#8445 Rename "full screen settings" to "settings page"
  .github/CONTRIBUTING.md
  _locales/en/messages.json
Labels: scope: webpages, platform: mobile

#8451 dark-www & scratch3to2: style new "Set Thumbnail" button & modal
  addons/dark-www/experimental_scratchwww.css
  addons/scratch3to2/main.css
  addons/scratch3to2/project.css
Labels: scope: addon, scope: upstream

#8453 gamepad: move button after Set Thumbnail
  addon-api/content-script/Tab.js
  addons/gamepad/style.css
Labels: scope: addon api, scope: addon, scope: upstream, size: extra small

#8459 Fix help icon alignment in popup
  webpages/settings/components/addon-body.html
  webpages/settings/components/addon-setting.html
Labels: scope: webpages

#8460 discuss-button: Add redux condition for compact user dropdown
  addons/discuss-button/www.js
Labels: scope: addon, scope: performance, size: extra small

#8466 Fix project actions overflow
  addon-api/content-script/Tab.js
  addons/scratch3to2/project.css
Labels: scope: addon api
