Repository ScratchAddons/ScratchAddons, pull requests merged in 2025-01, with the labels that each got.

#8041 Fix `hide-backpack` incompatibility with auto-hiding zoom controls in `custom-zoom`
  addons/hide-backpack/button.css
Labels: type: bug, scope: addon, scope: addon compatiblity

#8013 Keep settings sidebar full-height in small mode
  images/icons/menu.svg
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/settings/style.css
  webpages/styles/components/categories.css
  webpages/styles/components/smallmode.css
Labels: type: enhancement, scope: webpages

#8047 middle-click-popup: fix extension blocks
  addons/middle-click-popup/BlockTypeInfo.js
Labels: scope: addon, bug: regression

#8048 middle-click-popup: fix color inputs
  addons/middle-click-popup/BlockTypeInfo.js
  addons/middle-click-popup/WorkspaceQuerier.js
Labels: scope: addon, bug: regression

#8025 player-thumb: Fix fullscreen bugs
  addons/fullscreen/hideToolbar.css
  addons/fullscreen/removeBorder.css
  addons/player-thumb/userscript.js
  addons/player-thumb/userstyle.css
Labels: type: bug, status: needs review, source: feedback, scope: addon

#8000 Adding some Costume Editor Keyboard Shortcuts
  addons/addons.json
  addons/costume-editor-shortcuts/addon.json
  addons/costume-editor-shortcuts/userscript.js
Labels: type: enhancement, new addon, scope: addon, scope: from turbowarp

#8062 Implement setting descriptions
  webpages/settings/components/addon-setting.html
  webpages/settings/style.css
  webpages/styles/components/tooltips.css
Labels: type: enhancement, scope: addon.json, scope: webpages, size: small

#8077 Use translated setting descriptions
  background/load-addon-manifests.js
Labels: scope: l10n

#8085 scratch3to2: fix bugs
  addons/player-thumb/addon.json
  addons/player-thumb/scratch3to2.css
  addons/scratch3to2/main.css
  addons/scratch3to2/project.css
Labels: scope: addon

#8090 dark-www: Compatibility with old download page
  addons/dark-www/experimental_scratchr2.css
Labels: source: feedback, scope: addon

#8102 Remove flip controls notice
  addons/block-cherry-picking/addon.json
Labels: size: extra small

#8114 scratch3to2: fix gamepad compatibility
  addons/scratch3to2/project.css
Labels: scope: addon

#8115 `scratch3to2`: Style invites
  addons/scratch3to2/studio.css
Labels: status: needs review

#3656 New addon: FPS counter
  addons-l10n/en/fps.json
  addons/addons.json
  addons/fps/addon.json
  addons/fps/userscript.js
  addons/fps/userstyle.css
Labels: type: enhancement, new addon, scope: addon
