Repository ScratchAddons/ScratchAddons, pull requests merged in 2025-05, with the labels that each got.

#8301 Make addonPreview a boolean option
  addons/compact-messages/addon.json
  addons/dark-www/addon.json
  addons/editor-dark-mode/addon.json
  addons/stage-monitor/addon.json
  addons/workspace-dots/addon.json
  webpages/settings/components/addon-body.html
  webpages/settings/components/previews/compact-messages.js
  webpages/settings/components/previews/dark-www.js
  webpages/settings/components/previews/editor-dark-mode.js
  webpages/settings/components/previews/stage-monitor.js
  webpages/settings/components/previews/workspace-dots.js
Labels: scope: addon.json

#8310 dark-www: style studio page's loading state
  addons/dark-www/addon.json
  addons/dark-www/experimental_scratchwww.css
  addons/old-studio-layout/scratch3to2.css
  addons/old-studio-layout/style.css
  addons/scratch3to2/studio.css
Labels: scope: addon

#8316 horizontal-mystuff-tabs: change alignment
  addons/horizontal-mystuff-tabs/style.css
Labels: scope: addon, size: extra small

#8099 Disable pasting blocks with ctrl+v outside of workspace.
  addons/editor-devtools/DevTools.js
Labels: type: bug, scope: addon

#8315 my-ocular: fix reaction popup not being centered
  addons/my-ocular/reactions.js
Labels: scope: addon, size: extra small

#8318 Don't run most addons on error pages and My Classes
  addons/dark-www/addon.json
  addons/discuss-button/addon.json
  addons/expanding-search-bar/addon.json
  addons/remove-search-bar-autocomplete/addon.json
  addons/scratchr2/addon.json
  addons/scratchr2/scratchr2_errors.css
  background/get-userscripts.js
Labels: scope: addon, scope: core

#8325 default-project: update setProjectToken call
  addons/default-project/userscript.js
Labels: scope: addon, scope: upstream

#8332 Update remix message text
  addons-l10n/en/scratch-messaging.json
  addons-l10n/en/scratch-notifier.json
  addons/scratch-notifier/notifier.js
  popups/scratch-messaging/popup.js
Labels: scope: addon, scope: upstream

#8242 Cleanup blocks improvements
  addons-l10n/en/editor-cleanup-plus.json
  addons/editor-cleanup-plus/addon.json
  addons/editor-cleanup-plus/userscript.js
  background/get-addon-settings.js
Labels: scope: addon, scope: addon compatiblity

#6104 Add "related addons" feature to settings page
  _locales/en/messages.json
  addons/custom-block-shape/addon.json
  addons/custom-block-text/addon.json
  addons/editor-theme3/addon.json
  addons/zebra-striping/addon.json
  webpages/settings/components/addon-body.html
  webpages/settings/components/addon-body.js
  webpages/settings/components/category-selector.html
  webpages/settings/components/category-selector.js
  webpages/settings/index.html
  webpages/settings/index.js
  webpages/settings/style.css
  webpages/styles/colors.css
  webpages/styles/components/search.css
Labels: type: enhancement, scope: addon.json, scope: webpages, scope: user experience

#7941 Popups: Always load ./popup.html and ./popup.js
  addons/cloud-games/addon.json
  addons/scratch-messaging/addon.json
  webpages/popup-loader.js
  webpages/popup/index.js
Labels: scope: addon.json, scope: addon, scope: webpages, scope: development, size: small

#8339 Remove uses of deprecated Blockly functions
  addons/data-category-tweaks-v2/userscript.js
  addons/rename-broadcasts/userscript.js
  addons/swap-local-global/userscript.js
  addons/variable-manager/userscript.js
Labels: scope: addon, scope: upstream

#8341 editor-cleanup-plus: new Blockly
  addons/editor-cleanup-plus/userscript.js
  libraries/common/cs/devtools-utils.js
Labels: scope: addon, scope: upstream

#6593 Recommend VSCode extensions
  .vscode/extensions.json
  .vscode/settings.json
Labels: type: enhancement, scope: meta, scope: development, size: extra small

#8343 custom-zoom: Fix initial zoom
  addons/custom-zoom/userscript.js
Labels: scope: addon, size: extra small

#8349 animated-thumb: Better status indicators
  addons/animated-thumb/userscript.css
  addons/animated-thumb/userscript.js
Labels: type: enhancement, scope: addon, scope: user experience

#8347 editor-theme3: Add comment icon filter
  addons/editor-theme3/addon.json
  addons/editor-theme3/color_on_black.css
  addons/editor-theme3/color_on_white.css
  addons/editor-theme3/theme3.css
Labels: scope: addon

#8351 scratch-messaging: show number of identical studio activity messages
  popups/scratch-messaging/popup.html
  popups/scratch-messaging/popup.js
Labels: scope: addon

#8356 Fix editor message count padding with custom-menu-bar
  addons/custom-menu-bar/menu-labels.css
Labels: scope: addon
