Repository ScratchAddons/ScratchAddons, pull requests merged in 2025-02, with the labels that each got.

#8116 Fix colored context menus on modern Blockly
  addons/editor-colored-context-menus/userscript.css
  addons/editor-colored-context-menus/userscript.js
  addons/editor-theme3/theme3.css
  addons/editor-theme3/theme3.js
Labels: scope: addon

#8148 Add Material icons to addon credits
  addons/material-forum-editor-buttons/addon.json
  addons/variable-manager/addon.json
Labels: scope: addon

#8150 scratch3to2: 60fps compatibility
  addons/60fps/userscript.js
  addons/scratch3to2/assets/green_flag_60fps.png
  addons/scratch3to2/assets/green_flag_60fps_hover.png
  addons/scratch3to2/project.css
Labels: source: feedback, scope: addon, scope: addon compatiblity

#8131 dark-www: support new Starter Projects page
  addons/dark-www/addon.json
  addons/dark-www/banners/darker.css
  addons/dark-www/banners/desaturated.css
  addons/dark-www/experimental_scratchwww.css
Labels: scope: addon, scope: upstream

#8143 React 18
  addon-api/content-script/Trap.js
  addon-api/content-script/contextmenu.js
  addons/color-inputs/userscript.js
  addons/debugger/module.js
  addons/echo-effect/userscript.js
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-devtools/DevTools.js
  addons/folders/userscript.js
  addons/onion-skinning/userscript.js
  addons/preview-project-description/userscript.js
  addons/sounds-duration/userscript.js
  addons/swap-local-global/userscript.js
Labels: scope: addon api, scope: addon, scope: upstream

#8147 Add Scratch packages to libraries
  addons/60fps/addon.json
  addons/animated-thumb/addon.json
  addons/better-img-uploads/addon.json
  addons/bitmap-copy/addon.json
  addons/blocks2image/addon.json
  addons/copy-reporter/addon.json
  addons/custom-block-shape/addon.json
  addons/dark-www/addon.json
  addons/debugger/addon.json
  addons/download-button/addon.json
  addons/echo-effect/addon.json
  addons/editor-dark-mode/addon.json
  addons/editor-dark-mode/bubbles.js
  addons/editor-devtools/UndoGroup.js
  addons/editor-theme3/addon.json
  addons/editor-theme3/theme3.js
  addons/exact-count/addon.json
  addons/folders/addon.json
  addons/gamepad/addon.json
  addons/middle-click-popup/addon.json
  addons/mute-project/addon.json
  addons/onion-skinning/addon.json
  addons/paint-snap/addon.json
  addons/reorder-custom-inputs/addon.json
  addons/scratch3to2/addon.json
  addons/scratchr2/addon.json
  addons/search-profile/addon.json
  addons/search-profile/userscript.js
  addons/search-sprites/addon.json
  addons/studio-followers/addon.json
  addons/turbowarp-player/style.css
  addons/vol-slider/addon.json
  libraries/common/cs/download-blob.js
  libraries/license-info.json
  libraries/licenses/GPL-2.0.txt
Labels: scope: addon, scope: meta, scope: webpages

#8155 fix-editor-comments: new Blockly
  addons/fix-editor-comments/userscript.js
Labels: scope: addon, scope: upstream

#8166 reorder-custom-inputs: don't unpollute Scratch functions
  addons/reorder-custom-inputs/userscript.js
Labels: scope: addon

#8165 editor-searchable-dropdowns: new Blockly
  addons-l10n/en/editor-searchable-dropdowns.json
  addons/editor-number-arrow-keys/userscript.js
  addons/editor-searchable-dropdowns/addon.json
  addons/editor-searchable-dropdowns/userscript.css
  addons/editor-searchable-dropdowns/userscript.js
  addons/editor-theme3/black_text.css
  addons/editor-theme3/theme3.css
  addons/find-bar/userscript.js
Labels: scope: addon, scope: upstream

#8133 "Instant read indicators on forum category pages" addon
  addons/addons.json
  addons/live-read-topics/addon.json
  addons/live-read-topics/style.css
  addons/live-read-topics/subforums.js
  addons/live-read-topics/topics.js
Labels: type: enhancement, new addon, scope: addon

#8174 Use new toolbox selector on modern Blockly
  addons/editor-compact/userstyle.css
  addons/editor-dark-mode/experimental_editor.css
  addons/hide-flyout/style.css
  addons/hide-flyout/userscript.js
Labels: scope: addon, scope: upstream

#8176 rename-broadcasts: new Blockly
  addons/rename-broadcasts/userscript.js
Labels: scope: addon, scope: upstream

#8178 hide-new-variables: new Blockly
  addons/hide-new-variables/userscript.js
Labels: scope: addon, scope: upstream

#8181 reorder-custom-inputs: new Blockly
  addons/reorder-custom-inputs/modified-funcs.js
  addons/reorder-custom-inputs/userscript.js
Labels: scope: addon, scope: upstream
