Repository ScratchAddons/ScratchAddons, pull requests merged in 2025-09, with the labels that each got.

#8538 `recolor-custom-blocks` & `reorder-custom-inputs`: support `editor-compact`
  addons/editor-compact/userstyle.css
  addons/recolor-custom-blocks/userstyle.css
Labels: scope: addon, scope: addon compatiblity

#8560 Allow dragging debugger on touchscreen
  addons/debugger/userscript.js
Labels: type: bug, scope: addon, platform: mobile

#8579 Fix not all text being changed to white when timing tools heatmap enabled
  addons/debugger/timing/HeatmapManager.js
Labels: type: bug, scope: addon

#8589 Fix welcome page & remove some dead code
  addons/find-bar/userscript.js
  background/transition.js
  webpages/settings/components/addon-setting.html
  webpages/settings/components/addon-setting.js
Labels: scope: tech debt
