Repository ScratchAddons/ScratchAddons, pull requests merged in 2025-10, with the labels that each got.

#8591 Prepare for upcoming Face Sensing release
  addons/columns/style.css
  addons/columns/userscript.js
  addons/editor-compact/userstyle.css
  addons/editor-dark-mode/experimental_editor.css
  addons/editor-dark-mode/extension_icons.js
  addons/editor-stage-left/stageleft.css
  addons/editor-theme3/icons/black_text/extensions/faceSensing.svg
  addons/editor-theme3/icons/white_text/extensions/faceSensing.svg
  addons/editor-theme3/theme3.js
  addons/hide-backpack/border.css
  addons/hide-flyout/style.css
  addons/hide-flyout/userscript.js
  addons/hide-stage/style.css
Labels: scope: addon, scope: upstream

#8608 recolor-custom-blocks: fix Hide prefixes setting
  addons/recolor-custom-blocks/userscript.js
Labels: scope: addon

#8610 Fix better-img-uploads and hide-delete-button CSS selectors
  addons/better-img-uploads/userscript.js
  addons/hide-delete-button/costumes.css
  addons/hide-delete-button/sounds.css
Labels: source: feedback, scope: addon
